body {
    line-height: 18px;
    position: relative;
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 3em;
    background-image: url('../../../../assets/img/bgdarkblue.png');
    margin-bottom: 3em;
}

h1 {
    font: 4em/100% Helvetica;
    text-align: center;
    color: #f4f4f4;
}

p {
    font: 1.2em/100% Helvetica;
    font-size: 1.2em;
    color: #f4f4f4;
}

li {
    color: #f4f4f4;
}

pre {
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    margin-left: 40px;
    background-color: #f4f4f4;
    opacity: 0.8;
    overflow: scroll;
}

.post-author {
    text-align: center;
    color: white;
    margin-bottom: 2em;
}

#feedback {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #f4f4f4;
    opacity: 0.8;
}

.post-share {
    margin-top: 4em;
    height: auto;
    text-align: right;
    padding-top: 8px;
    padding-bottom: 3px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    background-image: url('../../../../assets/img/bgwhite.png');
}

.post-share li{
    list-style: none;
    display: inline;
}

.orange-text {
    color: rgb(236, 99, 20);
}

.reddit_button {
    margin-right: 30px;
    padding: 2px;
    background-color: #eee;
    background-image: webkit-linear-gradient(#fff,#dedede);
    background-image: linear-gradient(#fff,#dedede);
    border: 1px solid #ccc;
    border-radius: 3px;
    font: 0.5em/100% Helvetica;
}

.reddit_button img {
}

.reddit_button a:link {
    color: #333 !important;
}

.reddit_button a:visited {
    color: #333 !important;
}

.fb {
  margin-right: 30px; 
}

.fb-share-button {
    
}

.linkedin {
  margin-right: 10px;
}
