body {
    line-height: 18px;
    position: relative;
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 3em;
    background-image: url('../../../../assets/img/bgdarkblue.png');
    margin-bottom: 3em;
}

h1 {
    font: 4em/100% Helvetica;
    text-align: center;
    color: #f4f4f4;
}

p {
    font: 1.2em/100% Helvetica;
    font-size: 1.2em;
    color: #f4f4f4;
}

li {
    color: #f4f4f4;
}

pre {
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    margin-left: 40px;
    background-color: #f4f4f4;
    opacity: 0.8;
    overflow: scroll;
}

.post-author {
    text-align: center;
    color: white;
    margin-bottom: 2em;
}

#feedback {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #f4f4f4;
    opacity: 0.8;
}

.post-share {
    margin-top: 4em;
    text-align: right;
}

.post-share li{
    list-style: none;
    display: inline;
}

.orange-text {
    color: rgb(236, 99, 20);
}

.reddit_button {
    margin-right: 30px;
}

.reddit_button img {
    height: 20px !important;
}

.reddit_button a:link {
    color: #f4f4f4 !important;
}

.reddit_button a:visited {
    color: #f4f4f4 !important;
}
