.mobile {
    display: none;
}

body {
    width: 100%;
    line-height: 16px;
}

#all-content {
  position: relative;
  width: auto;
  height: auto;
}

.header-section > .content-container {
    margin: 0 auto;
    text-align: center;
}

.logo {
    height: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.logo img {
    max-height: 100%;
}

.content-container {
    max-width: 1200px;
    margin: 0 auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.section {
    min-height: 0px;
}

.section1 {
    color: #f4f4f4;
}

.i-social-icon img {
    max-height: 100%;   
}

.section3 .content-container {
    padding-top: 10%;
    padding-bottom: 15%;
}

.section3 h3 {
    font: 2em/100% monacoregular;
    margin-bottom: .5em;
}

.section3 img {
}

.guild-copy {
    margin-bottom: 1em;
}

.section4 {
    background-image: url('../assets/img/bgwhite.png');
}

.section5 {
    background-image: url('../assets/img/bgorange.png');
}

.section6 {
    background-image: url('../assets/img/bgblack.png');
}

.section7 {
    background-image: url('../assets/img/bgblack.png');
}

footer {
    background-image: url('../assets/img/bgblack.png');
}

h4 {
    color: #f4f4f4;
    font: 1.6em/100% Monaco;
    margin-bottom: 15px;
}

.footer-section {
    padding-top: 5%;
    padding-bottom: 5%;    
}

.footer-column1 {
    border-right: 1px dotted #f4f4f4;
    padding-top: 5%;
}

.footer-share {
    height: 4em;
    text-align: center;
    margin-bottom: 10%;
}

.footer-share img {
    max-height: 100%;
}

.footer-contact a:link {
    color: #ec6314;
}

.footer-contact a:visited {
    color: #ec6314;
}

.sitemap a:link {
    color: #ec6314;
    text-align: left;
}

.sitemap ul a:link {
    color: #f4f4f4;
    list-style: none;
}

.sitemap a:visited {
    color: #ec6314;
}

.sitemap ul a:visited {
    color: #f4f4f4;
}

.sitemap li {
    color: #f4f4f4;
    list-style: none;
}

.footer-copyright {
    color: #f4f4f4;
    text-align: center;
    margin-bottom: 10%;
}

.footer-madeny {
    text-align: center;
    margin-bottom: 10%;
}
