/*
  orange: #ec6314;
  blue: #4CA0D3;
*/

/*
MEDIA QUERIES 
*/

/* 
BIGGEST DESKTOP
*/

@media all and (min-width: 1200px) {

/*
GENERAL 
*/

    .block-mobile {
        display: none; 
    }

    .content-container {
        width: 794px;
    }

    .blog-summary-content-container {
        width: 90%;
    }

    /*
    HEADER 
    */
    
    .header-section > .content-container {
        width: 1000px;
    }

/*
HOME PAGE 
*/

    /* SECTION 1 */

    .welcome-content {
    }

    /* SECTION 2 */

    .who-we-are-content {
    }

    /* SECTION 3 */

    .who-content {
        width: 980px; 
    }

    #wrapper-columns h2 {
        font: 1.5em/100% 'inconsolatamedium'; 
    }

    #who-title h1 {
        font: 4.5em/100% 'HelveticaRegular';
    }

    #who-title h2 {
        font: 3.0em/100% 'HelveticaRegular'; 
    }

    /* SECTION 4 */

    .how-content {
        width: 980px; 
    }

    /* SECTION 5 */

    .clients-content {
        width: 948px; 
    }

    /* SECTION 6 */

    #contact-content {
        width: 980px; 
    }

    /*
    ====================================================== 
    ACADEMY PAGE 
    ======================================================
    */

    .academy-page .block-right img {
        width: auto; 
    }

    /*
    ====================================================== 
    BLOG 
    ======================================================
    */

    .blog-right-column p {
        font: 1.3em/120% 'inconsolatamedium';
    }

    /*
    ====================================================== 
    CAREERS PAGE 
    ======================================================
    */

    .testimonial-copy {
        width: 44%;
    }

    .perks-cell {
        position: relative; 
        width: 300px; 
        height: 21.4em; 
        margin: 30px; 
        float: left; 
    }
    
    .careers-page .section2 .content-container p {
        font: 2.1em/120% 'HelveticaRegular'; 
        color: #f4f4f4;
    }

    .careers-page .section2 .content-container {
        width: 1080px;
    }

    .careers-page .section3 .content-container {
        width: 948px;
    }
    
    .perks-copy li {
        list-style-type: disc; 
        font: 1.4em/150% 'din-regularregular'; 
    }

    .guild-copy {
        margin: 1em 0 1em 2%; 
        font: 1.4em/150% 'din-regularregular'; 
        width: 50%; 
        float: left; 
    }
    
    .careers-page .section1-content-container {
        width: 1030.9375px;
    }

    .social-media-sprite {
        margin-left: 48%;
        width: 46px;
        height: 3.3em;
        margin-top: 1em;
    }

    .google-sprite {
        background: url('../assets/img/social-media-icons.png') no-repeat; 
        background-position: -68.487px -15.414px;
    }

    .google-sprite:hover {
        background: url('../assets/img/social-media-icons.png') no-repeat; 
        background-position: -163.957px -16.405px;
    }

    .facebook-sprite {
        background: url('../assets/img/social-media-icons.png') no-repeat; 
        background-position: -20.584px -63.511px;
    }

    .facebook-sprite:hover {
        background: url('../assets/img/social-media-icons.png') no-repeat; 
        background-position: -116.055px -64.503px;
    }

    .linkedin-sprite {
        background: url('../assets/img/social-media-icons.png') no-repeat; 
        background-position: -67.486px -63.511px;
    }

    .linkedin-sprite:hover {
        background: url('../assets/img/social-media-icons.png') no-repeat; 
        background-position: -163.957px -64.503px;
    }

    .github-sprite {
        background: url('../assets/img/social-media-icons.png') no-repeat; 
        background-position: -20.584px -111.501px;
    }

    .github-sprite:hover {
        background: url('../assets/img/social-media-icons.png') no-repeat; 
        background-position: -116.055px -112.494px;
    }

    .twitter-sprite {
        background: url('../assets/img/social-media-icons.png') no-repeat; 
        background-position: -20.585px -15.741px;
    }

    .twitter-sprite:hover {
        background: url('../assets/img/social-media-icons.png') no-repeat; 
        background-position: -116.055px -16.733px;
    }

    .meetup-sprite {
        background: url('../assets/img/social-media-icons.png') no-repeat; 
        background-position: -68.487px -111.68px;
    }

    .meetup-sprite:hover {
        background: url('../assets/img/social-media-icons.png') no-repeat; 
        background-position: -163.957px -112.671px;
    }

    /*
    ====================================================== 
    FOOTER 
    ======================================================
    */
    
    footer .content-container {
        width: 1080px; 
    }

    .footer-column3 {
        padding: 0; 
    }

}


/* BIG TABLET 
####################################################################*/

@media only screen and (max-width : 1024px) {

    /*
    GENERAL 
    */

    .mobile {
        display: inline-block; 
    }

    .tablet {
        display: inline-block; 
    }

    .desktop {
        display: none;  
    }

    .section1 h3 {
        font: 1.8em/100% 'din-regularregular';   
        text-align: center; 
        width: auto; 
        margin: 0 4.4em .5em 4.4em;
    }

    .section3 .content-container {
        padding-top: 7em;
    }

    .content-container {
        width: 75%;
        padding-top: 10%;
    }

    .block-mobile {
        display: block; 
        text-align: center;
    }

    .block-desktop {
        display: none; 
    }

    #feedback {
        display: none;
    }

    /*
    ====================================================== 
    HEADER 
    ======================================================
    */

    

    .welcome-copy {
        width: 100%;
        margin-top: 2em;
    }

    .welcome-copy h4 {
        text-align: center;
    }

    .welcome-copy-second {
        padding: 0;
    }

    .type-command-wrapper {
        display: none;
    }

    .welcome-image {
        width: 100%;
    }

    .welcome-image img {
        display: none;
    }   

    .logo {
        width: auto;
    }

    .b-page-logo {
        width: 35%;
    }

    .welcome-container .logo {
        float: none;
        width: auto;
        text-align: center;
    }

    .header-section {
        margin-top: 0;
    }

    .welcome-container .content-container {
        padding-top: 0;
    }

    .header-section .content-container {
        height: 100%;
    }

    .header-section > .content-container {
        width: 75%;
        padding-bottom: 0;
    }

    nav a { 
        margin-left: 1.0em; 
    }

    .nav-links {
        width: 100%;
    }

    .b-page-nav-links {
        width: 65%;
    }

    .persistent-nav-links {
        text-align: right;
        margin-left: 5%;
        width: 66%;
    }

    /*
    ====================================================== 
    HOME PAGE 
    ======================================================
    */

    /* SECTION 1 */

    .welcome-container { 
        padding-top: 3em; 
    }

    .welcome-container .nav-links { 
        float: left;    
        text-align: center; 
    }

    .welcome-container .content-container nav { 
        font: 1.8em/100% 'inconsolatamedium'; 
        margin-top: 2em;    
        padding-top: 0; 
        padding-bottom: 1.0em;
    }

    .content-container .nav-links a:link {
        font: 0.8em/100% 'HelveticaRegular';
        color: #4CA0D3;
    }
   
    .content-container .nav-links a:visited {
        text-decoration: none;
        color: #4CA0D3;
    }
    
    .content-container .nav-links a:hover {
        text-decoration: none;
        color: #EC6314;
    }
    .welcome-container nav a {  
        margin-left: 1.0em; 
    }

    .welcome-container .header-section > .content-container {   
        width: 56%;
    }

    .welcome-container .block-left { 
        width: 100%;    
    }

    #type-command-one, 
    #type-command-two, 
    #type-command-three { 
        display: none;
    }

    .terminal-buttons { 
        left: 0; 
        text-align: center; 
        width: 100%; 
        margin-top: 5em;
    }

    .terminal-window a {
        font-size: 1.2em; 
        padding: 15px 18px; 
        margin-left: 3%; 
        margin-right: 3%;
    }

    .nav-links .about-link { 
        margin-left: 0.3em; 
    }

    .welcome-content { 
        width: 75%; 
    }

    .left-slider-button { 
        display: none;
    }

    .right-slider-button { 
        display: none;
    }

    #hackworld {
        width: 70%;
        padding-top: 3%;
        padding-bottom: 0;
    }

    /* SECTION 2 */

    #who-title, 
    #who-info { 
        width: 100%; 
        float: none; 
        clear: both; 
        display: block;
        border-left: 0;
    }

    #who-title { 
        text-align: center;
    }

    #who-title h2 { 
        text-align: center; 
        padding-bottom: 3.5%;
    }

    #who .column-1, 
    #who .column-2,
    #who .column-3 {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 0; 
        margin-bottom: 2em;
    }

    #who .column-1 h2 {
        text-align: center;
    }

    #wrapper-columns .column-1 p:nth-child(2), 
    #wrapper-columns .column-2 p:nth-child(2), 
    #wrapper-columns .column-3 p:nth-child(2) {
        display: none;
    } 

    #who .column-1:hover .rollover,
    #who .column-2:hover .rollover,
    #who .column-3:hover .rollover {
        opacity: 0;
    }

    #who .column-1:hover img,
    #who .column-2:hover img,
    #who .column-3:hover img {
        opacity: 1;
    }

    .who-content { 
        width: 75%; 
        padding-top: 0;
    }

    .who-content h1 {
        margin-top: 80px;
    }  

    .what-container h1 {
        margin-top: 50px;
    }

    .how-content h1 {
        margin-top: 0;
    }

    .clients-container {
        padding-top: 0px;
    }

    /* SECTION 3 */

    .what-cards-mobile{
        display: block; 
        width: 100%;
    }

    .what-cards-mobile h1 { 
        font: 3.5em/120% 'HelveticaRegular';
    }

    .what-cards-mobile h3 { 
        font: 1.8em/120% 'HelveticaRegular'; 
        text-align: center; 
    }

    .what-cards-mobile p { 
        font: 1.3em/150% 'din-lightregular'; 
    }

    #carousel-wrapper,
    #carousel-buttons { 
        display: none; 
    }

    .what-content { 
        width: 75%; 
    }

    /* SECTION 4 */

    #gear-wrapper {
        opacity: .5;
        left: -180px;
        display:none;
    }

    .how-content .block-left { 
        width: 100%; 
    }

    .how-content { 
        width: 75%; 
    }

    #how h1 { 
        width: 100%;
        text-align: center;
    }

    /* SECTION 5 */

    .clients-box { 
        min-width: 160px; 
        bottom: 0.8em; 
    }

    .clients-box img { 
        width: 75%; 
    }

    .clients-box h3 { 
        width: 46%; 
        left: 15%; 
    }

    .clients-box p { 
        bottom: 3px; 
        left: 14%;
        width: 48%;
        margin-bottom: 1.5%; 
    }

    .clients-info h3 { 
        font: 1.8em/120% 'HelveticaRegular'; 
    }

    .clients-box h3 { 
        font: 1.3em/120% 'HelveticaRegular'; 
    }

    .tooltip p { 
        font: 1.03em/120% 'din-lightregular'; 
    }

    .clients-resources p { 
        font: 0.9em/120% 'din-lightregular'; 
        width: 4em; 
        margin-left: auto; 
        margin-right: auto; 
    }

    .clients-resources .clients-icon p { 
        margin-top: 1em; 
        margin-bottom: 2em;
    }

    .clients-tools p { 
        font: 0.85em/120% 'din-lightregular'; 
    }

    .clients-tools .clients-icon { 
        padding-top: 8%; 
        padding-bottom: 0%;
    }

    .clients-icon .fa-icon { 
        margin-left: auto; 
        margin-right: auto; 
    }

    .clients-content {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }

    /* SECTION 6 */

    #contact-content { 
        width: 75%; 
    }

    /* SECTION 7 */

    #google-maps-wrapper { 
        top: 9em; 
    }

    /*
    ====================================================== 
    ABOUT PAGE 
    ======================================================
    */

    .photo-contact-info {
        width: 100%;
    }

    .geoff img, 
    .rob img {
        margin-right: 1em;
    }

    .name-contact-info { 
        display: inline-block; 
        width: 50%;
    }

    #apprentice-text { 
        text-align: left; 
    }

    .block-right, 
    .block-left { 
        width: 100%; 
        padding-left: 0; 
        padding-right: 0;
    }

    .about-page #section4-anchor-link .block-mobile { 
        text-align: center; 
    }

    #benefits-img { 
        margin-top: 1em; 
    }

    /*
    ====================================================== 
    CAREERS PAGE 
    ======================================================
    */

    .careers-page .section1 p {
        text-align: center; 
    }

    .careers-page .section2 .content-container {
        width: 80%;
    }
    
    .testimonial-copy-mobile { 
        width: 100%; 
        display: block;
    }
    
    .testimonial-img { 
        display: block; 
        width: 100%; 
        margin: 2em 0;
    }
    
    .perks-copy li { 
        font: 1.4em/150% 'din-regularregular'; 
    }
    
    .perks-cell {  
        margin: 30px; 
        float: none;
    }
    
    .guild-shield, 
    .guild-copy { 
        float: none; 
        width: 100%; 
    }
    
    .guild-shield { 
        text-align: center; 
    }
    
    .guild-copy { 
        font: 1.4em/150% 'din-regularregular';
        margin: 1em 0; 
    }
    
    .academy-page #section2-anchor-link .block-left { 
        width: 100%; 
    }
    
    .academy-page #section2-anchor-link .block-mobile { 
        text-align: center; 
    }
    
    .careers-page .section1-content-container { 
        width: 657px;
    }
    
    .perks-copy { 
        position: relative; 
        float: left; 
        left: 4em; 
        width: 50%; 
    }
    
    .perks-icon { 
        position: relative; 
        width: 294px; 
        height: 21em; 
        float: left;
    }
    
    .perks-cell {
        float:none; 
        width: 100%; 
        height: 23em; 
        margin-left: auto; 
        margin-right: auto;
    }
    
    .careers-page .section2 .block-mobile { 
        padding-bottom: 5em; 
    }
    
    .careers-page .section2 .content-container { 
        padding-top: 7em; 
        padding-bottom: 0em; 
    }
    
    .perks-cell { 
        margin-top: 0em; 
        margin-bottom: 0em; 
    }
    
    .careers-page .section2 h2 { 
        margin-bottom: 0.7em; 
    }
    
    .perks-cell img { 
        width: auto; 
    }

    /*
    ====================================================== 
    FOOTER PAGE 
    ======================================================
    */

    .mobile-copyright-madeny { 
        display: block;
    }

    .footer-madeny { 
        margin-left: 0;
    }

    footer .content-container { 
        width: 94%; 
    }

    .footer-column1 { 
        width: 32%; 
    }

    .footer-column1 .fa-phone { 
        display: none; 
    }

    .footer-column1 .fa-envelope{ 
        display: none; 
    }

    .footer-column2 { 
        width: 23%; 
    }

    .footer-share { 
        width: 60%; 
        margin-bottom: 3em;
    }

    .footer-contact { 
        width: 80%; 
    }

    .footer-sprite { 
        margin-bottom: 0.7em; 
    }

}

/* SMALL TABLET/BIG SMARTPHONE
####################################################################*/

@media only screen and (max-width : 767px) {

    /*
    GENERAL 
    */
   
    .welcome-copy-first {
        margin-bottom: 1em;
        font: 2.8em/100% 'HelveticaRegular' sans-serif;
    }
    
    .welcome-copy-second {
        font: 2em/100% 'HelveticaRegular' sans-serif;
    }
   
    .welcome-image {
        text-align: center;
    }

    .welcome-image img {
        display: inline;
    }

    .mobile { 
        display: inline-block;
    }

    .tablet { 
        display: inline-block;
    }

    .careers-page .section1 p { 
        text-align: center; 
    }

    .section3 .content-container {
        padding-top: 0;
    }

    .block-right, 
    .block-left { 
        width: 100%; 
        float: none; 
        clear: both; 
        padding-top: 5%; 
        padding-bottom: 5%;
    }

    .block-right img, 
    .block-left img { 
        width: auto; 
    }

    .section1-content-container { 
        margin-top: 4em; 
        margin-bottom: 2em; 
        background: none; 
    }

    .section.section1.splash-container { 
        display: block; 
        background: #2D6296 url('../assets/img/bgdarkblue.png') repeat; 
        min-height: 0px; 
        padding: 0;
    }

    .block-desktop { 
        display: none; 
    }

    .block-mobile { 
        display: block; 
    }

    .block-mobile img { 
        width: 50%; 
    }

    .splash { 
        display: none; 
    }

    /*
    ====================================================== 
    HEADER 
    ======================================================
    */

    .logo { 
        float: none; 
    }
    
    .nav-links { 
        float: none; 
        text-align: center;
    }
    
    .content-container nav { 
        font: 1.8em/100% 'inconsolatamedium'; 
        margin-top: 1.0em; 
        padding-bottom: 1.2em; 
    }
    
    nav a { 
        margin-left: 1.0em; 
    }
    
    .b-page-header-section {
        display: none;
    }

    .logo img { 
        width: 76%; 
        max-height: none; 
    }
    
    .content-container nav { 
        padding-bottom: 0.5em; 
    }
    
    .header-section{ 
        display: none; 
    }

    .sb-right .footer-sprite {
        height: 1.6em;
    }

    /*
    ====================================================== 
    HOME PAGE 
    ======================================================
    */

    /* SECTION 1 */

    .welcome-container .block-left { 
        width: 100%; 
    }

    #type-command-one, 
    #type-command-two, 
    #type-command-three { 
        display: none;
    }

    .terminal-buttons { 
        left: 0; 
        text-align: center; 
        width: 100%; 
    }

    .welcome-content { 
        width: 75%; 
        margin-top: 2em;
    }

    .terminal-block-title { 
        font-size: 4.0em; 
    }

    .terminal-buttons { 
        margin-top: 3em; 
    }

    .terminal-window a {
        font-size: 1.2em; 
        padding: 6px 13px;
        display: inline-block; 
        margin-bottom: 1.5em;
        float: none;
        margin-left: 0;
    }

    .welcome-container .block-left {
        padding-bottom: 0;
    }

    .welcome-container .block-right {
        padding-top: 0;
        padding-bottom: 0;
    }

    #hackworld {
        min-width: 350px;
        padding-top: 0;
    }

    /* SECTION 2 */

    .who-content { 
        width: 75%; 
        padding-bottom: 0;
    }

    #who-title h2 { 
        width: 100%; 
    }

    #who-title h1 { 
        margin-bottom: 0.5em; 
        text-align: center; 
    }

    /* SECTION 3 */

    .what-content { 
        width: 75%; 
    }

    /* SECTION 4 */

    #gear-wrapper{
        display: none;
    }

    .how-content { 
        width: 75%; 
    }

    .how-content .block-left {
        padding-top: 0;
    }

    .how-content h1 {
        margin-top: 0;
    }

    /* UP TO HERE */

    /* SECTION 5 */

    .clients-content {
        width: 80%; 
        padding-top: 0px;
    }

    .arrow-box-left, 
    .arrow-box-right, 
    .arrow-box-middle { 
        width: 100%; 
        height: auto; 
        display:block; 
        position: relative; 
        float: none; 
        clear: both; 
        margin-bottom:8%; 
        margin- left: 0; 
        margin-right: 0;
    }

    .arrow-box-middle { 
        margin-bottom: 0; 
    }

    #clients-title {
        width: 100%; 
        margin-left: auto; 
        margin-right: auto; 
        text-align: center;
        margin-top: 1em;
    }

    .clients-intro, 
    .clients-tap { 
        display: block; 
        margin-right: 10px; 
        margin-left: 10px; 
        padding-left: 0%; 
        padding-right: 0%; 
        font: 1.15em/150% 'din-regularregular';
    }

    .clients-tap { 
        text-align: center; 
        color: #0078D3;
    }

    .clients-box{ 
        height: auto; 
        padding-top: 1%; 
        left: 0; 
        margin-right: auto; 
        margin-left: auto; 
        max-width: none;
    }

    #clients-slideshow-block, 
    .conveyor, 
    .conveyor-gear-row, 
    .clients-box img, 
    .clients-box p{
        display: none;

    }

    .tooltip {
        display: block;
    }

    .tooltip p { 
        font: 1.05em/130% 'din-lightregular'; 
    }

    .arrow-box-left, 
    .arrow-box-middle, 
    .arrow-box-right{
        background: transparent;
    }

    .arrow-box-left h3, 
    .arrow-box-middle h3, 
    .arrow-box-right h3{ 
        display: none;
    }

    .arrow-box-right:after, 
    .arrow-box-middle:after, 
    .arrow-box-left:after { 
        display: none;
    }

    .clients-box, 
    .clients-box h3 {
        text-align: left; 
        display: block; 
        width: 100%; 
        position: initial; 
        cursor: pointer; 
        margin-left: 0.2em; 
    }

    .clients-slideshow {
        height: auto; 
        min-height: 0; 
        overflow: hidden; 
        padding-bottom: 0; 
        background-color: #242424; 
        -webkit-transition: max-height 0.3s linear; 
    }

    .clients-info {
        position:relative; 
        display:block; 
        min-height:0; 
        height: auto; 
        max-height: 3em; 
        overflow: hidden; 
        -webkit-transition: max-height 0.3s linear; 
    }

    .clients1 { 
        background-color: #4CA0D3;
    }

    .clients2 { 
        background-color: #0078D3;
    }

    .clients3 { 
        background-color: #2D6296;
    }

    .clients4 { 
        background-color: #ea8553;
    }

    .clients5 { 
        background-color: #ec6314;
    }

    .clients6 { 
        background-color: #918c87;
    }

    .clients-resources .clients-icon p { 
        margin-top: 1em; 
    }

    .clients-resources .clients-icon { 
        display: inline-block; 
        width:30%; 
        height:auto; 
        font: 1.0em/100% 'inconsolatamedium'; 
        margin-right: 0.5em;
    }

    .clients-tools .clients-icon { 
        display:inline-block; 
        width:25%; 
        height:auto; 
        font: 1.0em/100% 'inconsolatamedium'; 
        margin-right: 1.7em;
    }

    .clients-resources p { 
        width: 5em; 
        margin-left: auto; 
        margin-right: auto; 
    }

    .clients-tools { 
        margin-top: 0; 
    }

    /* SECTION 6 */
    
    #contact-content { 
        width: 80%; 
    }

    #google-maps-wrapper { 
        top: 8em; 
    }

    #contact {
        padding-top: 30px;
    }

    /*
    ====================================================== 
    CAREERS PAGE 
    ======================================================
    */
    
    .testimonial-copy-mobile { 
        width: 100%; 
        display: block; 
    }
    
    .testimonial-img { 
        display: block; 
        width: 100%; 
        margin: 2em 0;
    }
    
    .section1 h3 { 
        text-align: center; 
        width: auto; 
        margin: 0 0.5em .5em 0.5em; 
        border: none; 
    }
    
    .section1 h2 { 
        font: 3.5em/100% 'inconsolatamedium'; 
    }
    
    .section1 h3 { 
        font: 1.5em/100% 'din-regularregular'; 
    }
    
    .careers-page .section2 .content-container { 
        width: 80%;
    }

    .careers-page .section1 .content-container a {
        color: #ec6314;
    }

    .careers-page .section1 .content-container a:hover {
        color: #fff;
    }
    
    .perks-cell { 
        width: 100%; 
        height: auto; 
        margin: 0px; 
     }

    .perks-copy {
        width: 100%;
        left: 0;
        margin-bottom: 2em;
    }

    .perks-icon {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .perks-copy {
        float: none;
    }
    
    h2 { 
        font: 3.5em 'HelveticaRegular';
    }
     
    .guild-shield, 
    .guild-copy { 
        width: 100%; 
        float: none; 
    }

    .guild-shield img {
        width: 73%;
    }
    
    .careers-page .splash-container { 
        padding-top: 7%; 
        padding-bottom: 7%; 
    }
    
    .careers-page .section1-content-container { 
        margin-bottom: 0; 
        width: 23em; 
    }
    
    .perks-cell img { 
        width: auto; 
    }
    
    .block-mobile .perks-copy { 
        width: 100%; 
        height: auto; 
        margin-bottom: 3em; 
        left: 0;
        float: none;
        display: inline-block;
    }
    
    .block-mobile .perks-cell { 
        width: 100%; 
        margin: 0em; 
        height: auto;
    }
    
    .block-mobile .perks-icon { 
        width: 295px; 
        height: 21em;
        float: none;
        display: inline-block;
    }
    
    .testimonial-img img { 
        -webkit-box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.76); 
        -moz-box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.76); 
        box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.76);
    }
    
    .apply-button { 
        color: #ec6314; 
    }
    
    .content-container h2 {
        padding-top: 50px;
        font: 2.5em 'HelveticaRegular';
    }
    
    /*
    ====================================================== 
    ABOUT PAGE 
    ======================================================
    */

    .founder-info, 
    .photo-contact-info, 
    .name-contact-info { 
        padding-right: 0;
    }

    .name-contact-info {
        font: 1.0em/130% 'inconsolatamedium';
    }

    .geoff img,
    .rob img {
        margin-right: 0.1em;
    }
    
    .photo-contact-info, 
    .name-contact-info{ 
        display:inline-block; 
        padding-top: 2.5%; 
        padding-bottom:2.5%;
    }

    .photo-contact-info {
        width: 100%;
    }

    .name-contact-info {
        width: auto;
    }
    
    .founder-info{ 
        display:inline-block; 
        padding-left: 0; 
        padding-right: 0; 
    }
    
    .about-page #section2-anchor-link .block-left, 
    .about-page #section4-anchor-link .block-left, 
    .about-page #section3-anchor-link .block-left { 
        width: 100%; 
    }
    
    #benefits-img { 
        margin-top: 1em; 
    }

    .leadership-content-container {
        padding-top: 0;
    }

    
    /*
    ====================================================== 
    FOOTER 
    ======================================================
    */
    
    .footer-column1 { 
        width: 100%; 
        text-align:center; 
        margin-left: 0; 
        padding-left: 0; 
    }

    .footer-column2 { 
        width: 40%; 
        border-right: 0; 
        display: none;
    }

    .footer-column3 { 
        display: none;
    }

    .footer-share{ 
        width: 100%; 
        margin-bottom: 0;
    }

    .footer-contact{
        width: 100%;
    }

    .footer-section .content-container { 
        width: 23em; 
    }

    .twitter-footer { 
        margin-left: 3em; 
    }

    .footer-madeny { 
        text-align: center; 
    }

    .madenyc { 
        width: 9em; 
        height: 9em; 
    }

    .h-watermark {
        margin-left: 0;
    }


}

/* SMARTPHONE
####################################################################*/

@media only screen and (max-width : 479px) {

    /*
    ====================================================== 
    GENERAL 
    ======================================================
    */

    .mobile { 
        display: inline-block;
    }

    .tablet { 
        display: none;
    }

    .desktop { 
        display: none;
    }

    .span1,
    .span2,
    .span3,
    .span4,
    .span5,
    .span6,
    .span7,
    .span8,
    .span9 {
        width: 100%;
    }

    .careers .section1 p { 
        text-align: center;
    }

    .section1 h3 { 
        width: auto; 
        border-bottom: none; 
        text-align: center; 
        padding: 0 0 .25em 0; 
    }

    .block-right img, 
    .block-left img{ 
        display: block; 
        margin-right: auto; 
        margin-left: auto; 
    }

    .section1-content-container { 
        margin-top: 4em ; 
        margin-bottom: 2em; 
    }

    .splash-container { 
        display: block; 
        background: #2D6296 url('../assets/img/bgdarkblue.png') repeat; 
    }

    .block-desktop { 
        display: none; 
    }

    .block-mobile { 
        display: block; 
    }

    .block-mobile img { 
        width: 75%; 
    }

    .content-container {
        width: 90%;
    }

    /*
    ====================================================== 
    HEADER 
    ======================================================
    */

    #header { 
        height: 170px;
    }
    
    .logo { 
        float: none;
    }
    
    .nav-links { 
        float: none;   
        text-align: center; 
    }
    
    .content-container nav { 
        font: 1.7em/100% 'inconsolatamedium';   
        margin-top: 0.2em;  
        padding-bottom: 1.25em; 
    }
    
    nav a { 
        margin-left: 0.5em;
    }
    
    .header-section > .content-container { 
        width: 21em;
    }
    
    .logo img { 
        width: 94%; 
        max-height: none;   
    }
    
    .content-container nav { 
        padding-bottom: 0.9em; 
    }

    /*
    ====================================================== 
    HOME PAGE 
    ======================================================
    */

    /* SECTION 1 */
    
    .welcome-container .logo { 
        float: none;
    }
    
    .welcome-container .nav-links { 
        float: none; 
        text-align: center; 
    }
    
    .welcome-container .content-container nav { 
        font: 1.7em/100% 'inconsolatamedium'; 
        margin-top: 0.2em; 
        padding-bottom: 1.25em; 
    }
    
    .welcome-container nav a { 
        margin-left: 0.5em;
    }
    
    .welcome-container .header-section > .content-container { 
        width: 21em;
    }
    
    .welcome-container .logo img { 
        width: 94%; 
        max-height: none; 
    }
    
    .welcome-container .block-left { 
        width: 100%; 
    }
     
    .related-words-terminal, 
    .terminal-buttons{ 
        display: none;
    }

    .welcome-content { 
        width: 86%; 
    }

    .terminal-block-title {
        font-size: 2.9em; 
    }

    .nav-links .about-link {
        margin-left: 0em;
    }

    #hackworld {
        min-width: 300px;
    }

    /* SECTION 2 */

    .who-content { 
        width: 90%; 
    }

    #who-title h1 { 
        margin-bottom: 0.3em; 
        font: 4.1em/100% 'HelveticaRegular';
    }

    #who-title h2 { 
        margin-left: 0.2em; 
    }

    /* SECTION 3 */

    .what-content { 
        width: 90%; 
    }

    /* SECTION 4 */

    .how-content { 
        width: 90%; 
    }

    /* SECTION 5 */

    .clients-content { 
        width: 100%; 
        margin-top: 0;
    }

    /* SECTION 6 */

    .contact-container { 
        display: none; 
    }

    #google-maps-wrapper {
        left: 50%;
        top: 7em;
    }

    #contact-content { 
        width: 19em; 
    }
    
    /*
    ====================================================== 
    ABOUT PAGE 
    ======================================================
    */

    .founder-info, 
    .photo-contact-info, 
    .name-contact-info { 
        display: block; 
        float: none; 
        clear: both; 
        padding-top: 3%;
        padding-right: 0;
    }

    .name-contact-info {
        font: 1.10em/130% 'inconsolatamedium';
    }

    .geoff img,
    .rob img {
        margin-right: 0;
        margin-left: 0;
    }
    
    /*
    ====================================================== 
    CAREERS PAGE 
    ======================================================
    */

    .b-page-image.careers, 
    .b-page-image.about, 
    .b-page-image.academy { 
        background-image: none; 
        background: #424345;
    }

    .section1-content-container { 
        background: none; 
    }
    
    .testimonial-copy-mobile { 
        width: 100%; 
        display: block; 
    }
    
    .section1 h2 { 
        font: 3.0em/100% 'inconsolatamedium'; 
    }
    
    .perks-cell { 
        width: auto; 
        height: auto; 
        margin: 0;
    }
    
    h2 { 
        font: 3.5em 'HelveticaRegular';
    }
    
    .guild-shield img, 
    .guild-shield, 
    .guild-copy { 
        width: 100%; 
        float: none; 
    }
    
    .careers-page .section1-content-container { 
        width: 90%; 
        margin-bottom: 0; 
    }
    
    .careers-page .splash-container { 
        padding-top: 7%; 
        padding-bottom: 7%; 
    }
    
    .perks-cell img { 
        width: auto; 
    }
    
    .careers-page .section2 .content-container { 
        width: 90%; 
    }
    
    .testimonial-img img { 
        -webkit-box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.76); 
        -moz-box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.76); 
        box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.76);
    }
    
    .careers-page .section1-content-container { 
        padding: 0; 
    }

    .perks-icon {
        width: 280px;
        height: 20em;
    }

    .equals-signs {
        width: 80px;
    }

    .guild-list {
        width: 13.9em;
    }

    .perks-copy {
        left: 27px;
        width: 90%;
    }

    .careers-page .section3 .content-container {
        width: 90%;
    }
    
    /*
    ====================================================== 
    RECRUITING 
    ======================================================
    */
    
    .recruit-window .block-left { 
        width:100%; 
        padding-bottom: 25%;
    }

    .recruit-window .block-right { 
        display: none;
    }

    .ss-choices { 
        width: 100%;
    }

    .ss-choice-item { 
        float:none; 
        clear: both; 
    }

    .logo-center img { 
        width: 80%; 
        height: auto;
    }
    
    .mid-radio { 
        border: 0;
    }
    
    /*
    ====================================================== 
    BLOG 
    ======================================================
    */

    .blog-left-column {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    #blog-summary {
        padding-right: 0%;
    }

    .blog-page-title p {
        margin-bottom: 4em;
    }
    
    /*
    ====================================================== 
    FOOTER 
    ======================================================
    */
    
    .tweets.column,
    .sitemap.column { 
        display: none; 
    }
    
    .madenyc { 
        margin-top: 15px; 
    }
    
    .footer-column1 { 
        width: 100%; 
        text-align: center; 
        margin-left: 0; 
        padding-left: 0;
    }
    
    footer .content-container { 
        width: 19em; 
    }
    
    .footer-section .content-container { 
        width: 21em; 
    }
    
    .twitter-footer { 
        margin-left: 1.8em; 
    }
    
    .footer-madeny { 
        text-align: center; 
    }
    
    .madenyc { 
        width: 9em; 
        height: 9em; 
    }
    
}
