/********************************************************************
CSS MEDIA QUERIES FOR THEHACKERATI.COM
=====================================================================
********************************************************************/

/* BIGGEST DESKTOP
####################################################################*/

@media all and (min-width: 1200px) {

    /*
    ======================================================
    GENERAL
    ======================================================
    */

    .block-mobile {
        display: none;
    }

    .content-container {
        width: 794px;
    }

    .blog-summary-content-container {
        width: 90%;
    }

    /* HEADER */

    .nav-links {
        text-align: right;
        width: 45%;
        float: left;
    }

    .nav-links.persistent-nav-links {
        width: 50%;
    }

    /*
    ======================================================
    HOME PAGE
    ======================================================
    */

    /* SECTION 1 */

    .welcome-container .content-container {
        width: 87%;
        padding-top: 3em;
    }

    /* SECTION 2 */

    .who-we-are-content {
    }

    /* SECTION 3 */

    .who-content {
        width: 980px;
    }

    #who-title h1 {
        font: 5em/100% Lato, sans-serif;
    }

    #who-title h2 {
        font: 3.0em/100% Lato, sans-serif;
    }

    /* SECTION 4 */

    .how-content .block-left {
        max-width: 645px;
    }

    /* SECTION 5 */

    .clients-content {
        width: 948px;
    }

    /* SECTION 6 */

    /*
    ======================================================
    ABOUT PAGE
    ======================================================
    */

    .team-wrapper {
        width: 980px;
    }

    .hackeratus-team-wrapper {
        margin-left: 22px;
        margin-right: 22px;
    }

    .team-desktop {
        display: block;
    }

    .team-tablet {
        display: none;
    }

    .team-smartphone {
        display: none;
    }

    /*
    ======================================================
    ACADEMY PAGE
    ======================================================
    */

    .academy-page .block-right img {
        width: auto;
    }

    /*
    ======================================================
    BLOG
    ======================================================
    */

    .blog-right-column p {
        font: 1.3em/120% 'inconsolatamedium';
    }

    /*
    ======================================================
    CAREERS PAGE
    ======================================================
    */

    .testimonial-copy {
        width: 44%;
    }

    .perks-cell {
        position: relative;
        width: 300px;
        height: 21.4em;
        margin: 30px;
        float: left;
    }

    .careers-page .section2 .content-container p {
        font: 2.1em/120% Lato, sans-serif;
        color: #f4f4f4;
    }

    .careers-page .section2 .content-container {
        width: 1080px;
    }

    .careers-page .section3 .content-container {
        width: 948px;
    }

    .perks-copy li {
        list-style-type: disc;
        font: 1.4em/150% 'din-regularregular';
    }

    .insurance-list li {
        list-style-type: circle;
        font: 1.0em/150% 'din-regularregular';
    }

    .guild-copy {
        margin: 1em 0 1em 2%;
        font: 1.4em/150% 'din-regularregular';
        width: 50%;
        float: left;
    }

    .careers-page .section1-content-container {
        width: 1030.9375px;
    }

    /*
    ======================================================
    FOOTER
    ======================================================
    */

    footer .content-container {
        width: 1080px;
    }

    .footer-column3 {
        padding: 0;
    }

}

/* BIG TABLET
####################################################################*/

@media only screen and (max-width : 1024px) {

    /*
    GENERAL
    */

    .tablet {
        display: inline-block;
    }

    .desktop {
        display: none;
    }

    .section1 h3 {
        font: 1.8em/100% 'din-regularregular';
        text-align: center;
        width: auto;
        margin: 0 4.4em .5em 4.4em;
    }

    .section3 .content-container {
        padding-top: 6em;
    }

    .careers-page .section3 .content-container {
        padding-bottom: 6em;
    }

    .content-container {
        width: 75%;
        padding-top: 10%;
    }

    .block-mobile {
        display: block;
        text-align: center;
    }

    .block-desktop {
        display: none;
    }

    #feedback {
        display: none;
    }

    /*
    ======================================================
    HEADER
    ======================================================
    */

    .welcome-copy {
        width: 100%;
        margin-top: 2em;
    }

    .welcome-copy h4 {
        text-align: center;
    }

    .welcome-copy-second {
        padding: 0;
    }

    .type-command-wrapper {
        display: none;
    }

    .welcome-image {
        width: 100%;
        text-align: center;
    }

    .welcome-image img {

    }

    .logo {
        width: auto;
    }

    .welcome-container .logo {
        float: none;
        width: auto;
        text-align: center;
    }

    .welcome-container .content-container {
        padding-top: 0;
    }

    nav a {
        margin-left: 0.5em;
    }

    .nav-links {
        width: 100%;
    }

    .nav-links.persistent-nav-links {
        text-align: right;
        margin-left: 5%;
        width: 66%;
    }

    /*
    ======================================================
    HOME PAGE
    ======================================================
    */

    /* SECTION 1 */

    .contact-btn-container {
        float: none;
        width: 100%;
        text-align: center;
    }

    .welcome-container {
        padding-top: 20em;
    }

    .welcome-container .nav-links {
        float: left;
        text-align: center;
    }

    .welcome-container .content-container nav {
        font: 2.5em/100% 'inconsolatamedium';
        margin-top: 1.5em;
        padding-top: 0;
        padding-bottom: 0.5em;
    }

    .content-container .nav-links a:link {
        font: 0.9em/100% Lato, sans-serif;
    }

    .content-container .nav-links a:visited {
        text-decoration: none;
    }

    .content-container .nav-links a:hover {
        text-decoration: none;
        color: #EC6314;
    }

    .welcome-container nav a {
        margin-left: 1.0em;
    }

    .welcome-container .block-left {
        width: 100%;
    }

    #type-command-one,
    #type-command-two,
    #type-command-three {
        display: none;
    }

    .terminal-buttons {
        text-align: center;
        width: 100%;
        margin-top: 5em;
    }

    .terminal-window a {
        font-size: 1.2em;
        padding: 15px 18px;
        margin-left: 3%;
        margin-right: 3%;
    }

    .nav-links .about-link {
        margin-left: 0.3em;
    }

    .welcome-content {
        width: 75%;
        margin-top: 0;
    }

    .left-slider-button {
        display: none;
    }

    .right-slider-button {
        display: none;
    }

    #hackworld {
        width: 70%;
        padding-top: 3%;
        padding-bottom: 0;
    }

    /* SECTION 2 */

    #who-title,
    #who-info {
        width: 100%;
        float: none;
        clear: both;
        display: block;
        border-left: 0;
    }

    #who-title {
        text-align: center;
    }

    #who-title h2 {
        text-align: center;
        padding-bottom: 3.5%;
    }

    #who .column-1,
    #who .column-2,
    #who .column-3 {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 2em;
    }

    #who .column-1 h2 {
        text-align: center;
    }

    #wrapper-columns .column-1 p:nth-child(2),
    #wrapper-columns .column-2 p:nth-child(2),
    #wrapper-columns .column-3 p:nth-child(2) {
        display: none;
    }

    #who .column-1:hover .rollover,
    #who .column-2:hover .rollover,
    #who .column-3:hover .rollover {
        opacity: 0;
    }

    #who .column-1:hover img,
    #who .column-2:hover img,
    #who .column-3:hover img {
        opacity: 1;
    }

    .who-content {
        width: 75%;
    }

    .what-container h1 {
        margin-top: 50px;
    }

    .how-content h1 {
        margin-top: 0;
        text-align: center;
        color: #f4f4f4;
    }

    .clients-container {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /* SECTION 3 */

    .what-cards-mobile{
        display: block;
        width: 100%;
    }

    .what-cards-mobile h1 {
        font: 3.5em/120% Lato, sans-serif;
    }

    .what-cards-mobile h3 {
        font: 1.8em/120% Lato, sans-serif;
        text-align: center;
    }

    .what-cards-mobile p {
        font: 1.3em/150% 'din-lightregular';
    }

    #carousel-wrapper,
    #carousel-buttons {
        display: none;
    }

    .what-content {
        width: 75%;
    }

    /* SECTION 4 */

    #gear-wrapper {
        opacity: .5;
        left: -180px;
        display:none;
    }

    .how-content .block-left {
        width: 100%;
        max-width: none;
    }

    .how-content {
        width: 75%;
    }

    #how h1 {
        width: 100%;
        text-align: center;
    }

    /* SECTION 5 */

    .clients-content {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }

    /* SECTION 6 */

    #contact-content {
        width: 75%;
    }

    .contact-container {
        height: 15em;
    }

    /*
    ======================================================
    ABOUT PAGE
    ======================================================
    */

    .team-wrapper {
        width: 690px;
    }

    .founders-wrapper {
        width: 560px;
    }

    .hackeratus-founder-wrapper {
        margin-right: 15px;
        margin-left: 15px;
    }

    .team-wrapper {
        width: 690px;
    }

    .founders-wrapper {
        width: 560px;
    }

    .hackeratus-founder-wrapper {
        margin-right: 15px;
        margin-left: 15px;
    }

    .team-desktop {
        display: none;
    }

    .team-tablet {
        display: block;
    }

    .team-smartphone {
        display: none;
    }

    .teamcontact {
        height: 180px;
        width: 34%;
        margin-left: 5%;
        position: relative;
        display: inline-block;
        margin-top: 70px;
    }

    .teambio {
        width: 680px;
        margin-bottom: 1px;
        margin-top: 50px;
        position: relative;
        display: block;
        margin-left: 40px;
    }

    .teamphoto {
        position: relative;
        margin-top: 0;
        top: 0;
        width: 46%;
        margin-left: 7%;
        margin-top: 20px;
        height: 250px;
    }

    /*
    ======================================================
    CAREERS PAGE
    ======================================================
    */

    .careers-page .content-container.section1-content-container > img {
        padding: 0;
    }

    .careers-page .section1 p {
        text-align: center;
    }

    .careers-page .section2 .content-container {
        width: 80%;
    }

    .testimonial-copy-mobile {
        width: 100%;
        display: block;
    }

    .testimonial-img {
        display: block;
        width: 100%;
        margin: 2em 0;
    }

    .perks-copy li {
        font: 1.4em/150% 'din-regularregular';
    }

    .insurance-list li {
        font: 1em/150% 'din-regularregular';
    }

    .perks-cell {
        margin: 30px;
        float: none;
    }

    .guild-shield,
    .guild-copy {
        float: none;
        width: 100%;
    }

    .guild-shield {
        text-align: center;
    }

    .guild-copy {
        font: 1.4em/150% 'din-regularregular';
        margin: 1em 0;
    }

    .academy-page #section2-anchor-link .block-left {
        width: 100%;
    }

    .academy-page #section2-anchor-link .block-mobile {
        text-align: center;
    }

    .careers-page .section1-content-container {
        width: 657px;
    }

    .perks-copy {
        position: relative;
        float: left;
        left: 4em;
        width: 50%;
    }

    .perks-icon {
        position: relative;
        width: 294px;
        height: 21em;
        float: left;
    }

    .perks-cell {
        float:none;
        width: 100%;
        height: 21em;
        margin-left: auto;
        margin-right: auto;
    }

    .careers-page .section2 .block-mobile {
        padding-bottom: 5em;
    }

    .careers-page .section2 .content-container {
        padding-top: 3em;
        padding-bottom: 0em;
    }

    .perks-cell {
        margin-top: 0em;
        margin-bottom: 2em;
    }

    .careers-page .section2 h2 {
        margin-bottom: 0.7em;
    }

    .perks-cell img {
        width: auto;
    }

    .careers-page .section2 .content-container a {
        margin-bottom: 1em;
    }

    /*
    ======================================================
    ACADEMY PAGE
    ======================================================
    */

    .academy-page .section.section1.splash-container.academy-section1 {
        padding: 8em 0;
    }

    .academy-section3 {
        padding-top: 1em;
    }

    /*
    ======================================================
    FOOTER PAGE
    ======================================================
    */

    footer {
        height: 44em;
    }

    .mobile-copyright-madeny {
        display: block;
    }

    .footer-madeny {
        margin-left: 0;
    }

    footer .content-container {
        width: 94%;
    }

    .footer-column1 {
        width: 32%;
    }

    .footer-column1 .fa-phone {
        display: none;
    }

    .footer-column1 .fa-envelope{
        display: none;
    }

    .h-watermark img {
        height: 8em;
    }

    .footer-column2 {
        width: 30%;
    }

    .footer-share {
        width: 60%;
        margin-bottom: 3em;
    }

    .footer-contact {
        width: 80%;
    }

    footer .social-media-sprite {
        margin-bottom: 0.7em;
    }

}

@media only screen and (max-width : 1024px) and (orientation : portrait) {
    .teambio {
        width: 490px;
    }

    .content-container {
        font-size: 1em;
    }

    .academy-section3 {
        padding-top: 0;
    }

    .contact-section2 {
        height: 85em;
    }

    .contact-container-section2 {
        width: 100%;
        padding: 0;
    }

    .contact-form-h2 {
        padding: 0;
    }

    .contact-form-container {
        width: 50%;
        margin: 0 auto;
    }

    .google-maps-container-container-container {
        width: 100%;
    }

    .google-maps-container-container {
        width: 60%;
    }

    .google-maps-container {
        margin: 0;
    }
}

/* SMALL TABLET/BIG SMARTPHONE
####################################################################*/

@media only screen and (max-width : 767px) {

    /*
    GENERAL
    */

    input {
        width: 96% !important;
    }

    .welcome-copy-first {
        margin-bottom: 1em;
        font: 2.8em/130% Lato, sans-serif;
    }

    .welcome-copy-second {
        font: 2em/130% 'din-lightregular', sans-serif;
    }

    .welcome-image {
        text-align: center;
    }

    .welcome-image img {
        display: inline;
    }

    .phones-only {
        display: block;
    }

    .tablet-and-desktop {
        display: none;
    }

    .tablet {
        display: inline-block;
    }

    .careers-page .section1 p {
        text-align: center;
    }

    .section3 .content-container {
        padding-top: 0;
    }

    .block-right,
    .block-left {
        width: 100%;
        float: none;
        clear: both;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .block-right img,
    .block-left img {
        width: auto;
    }

    .section1-content-container {
        margin-top: 4em;
        margin-bottom: 0;
        background: none;
    }

    .about-page.section.section1.splash-container {
        display: block;
        background: #DDDDDD;
        min-height: 0px;
        padding-top: 1em;
    }

    .about-page .section1-content-container {
        color: black;
    }

    .block-desktop {
        display: none;
    }

    .block-mobile {
        display: block;
    }

    .block-mobile img {
        width: 50%;
    }

    .splash {
        display: none;
    }

    /*
    ======================================================
    HEADER
    ======================================================
    */

    .logo {
        float: none;
    }

    .nav-links {
        float: none;
        text-align: center;
    }

    .content-container nav {
        font: 1.8em/100% 'inconsolatamedium';
        margin-top: 1.0em;
        padding-bottom: 1.2em;
    }

    nav a {
        margin-left: 1.0em;
    }

    .logo img {
        width: 76%;
        max-height: none;
    }

    .content-container nav {
        padding-bottom: 0.5em;
    }

    /*
    ======================================================
    HOME PAGE
    ======================================================
    */

    /* SECTION 1 */

    .contact-btn-container {
        margin-bottom: 10%;
    }

    .welcome-container {
        padding-top: 3em;
    }

    .welcome-container .block-left {
        width: 100%;
    }

    #type-command-one,
    #type-command-two,
    #type-command-three {
        display: none;
    }

    .terminal-buttons {
        text-align: center;
        width: 75%;
        margin: 0 auto;
        position: relative;
    }

    .welcome-content {
        width: 75%;
        margin-top: 2em;
    }

    .terminal-block-title {
        font-size: 4.0em;
    }

    .terminal-buttons {
        margin-top: 3em;
    }

    .terminal-window a {
        font-size: 1.2em;
        padding: 6px 13px;
        display: inline-block;
        margin-bottom: 1.5em;
        float: none;
        margin-left: 0;
    }

    .welcome-container .block-left {
        padding-bottom: 0;
    }

    .welcome-container .block-right {
        padding-top: 0;
        padding-bottom: 0;
    }

    #hackworld {
        min-width: 350px;
        padding-top: 0;
    }

    /* SECTION 2 */

    .who-content {
        width: 79%;
        padding-bottom: 0;
    }

    #who-title h2 {
        width: 100%;
    }

    #who-title h1 {
        margin-bottom: 0.5em;
        text-align: center;
    }

    /* SECTION 3 */

    .clients-container {
        padding-bottom: 6em;
    }

    .what-content {
        width: 75%;
    }

    /* SECTION 4 */

    #gear-wrapper{
        display: none;
    }

    .how-content {
        width: 75%;
    }

    .how-content .block-left {
        padding-top: 0;
    }

    .how-content h1 {
        margin-top: 0;
    }

    /* SECTION 5 */

    .clients-content {
        width: 80%;
        padding-top: 0px;
    }

    #clients-title {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 1em;
    }

    /* SECTION 6 */

    #contact-content {
        width: 80%;
    }

    .contact-container {
        height: 18em;
    }

    .google-maps-container {
        display: none;
    }

    .google-maps-container-mobile {
        display: block;
    }

    #google-maps-wrapper {
        top: 8em;
    }

    #contact {
        padding-top: 30px;
    }

    /*
    ======================================================
    CAREERS PAGE
    ======================================================
    */

    .careers-page .section.section1.splash-container {
        background: #2D6296;
    }

    .testimonial-copy-mobile {
        width: 100%;
        display: block;
    }

    .testimonial-img {
        display: block;
        width: 100%;
        margin: 2em 0;
    }

    .section1 h3 {
        text-align: center;
        width: auto;
        margin: 0 0.5em .5em 0.5em;
        border: none;
    }

    .section1 h2 {
        font: 3.5em/100% 'inconsolatamedium';
    }

    .section1 h3 {
        font: 1.5em/100% 'din-regularregular';
    }

    .careers-page .section2 .content-container {
        width: 80%;
        padding-top: 2em;
    }

    .careers-page .section1 .content-container a {
        color: #ec6314;
    }

    .careers-page .section1 .content-container a:hover {
        color: #fff;
    }

    .perks-cell {
        width: 100%;
        height: auto;
        margin: 0px;
     }

    .perks-copy {
        width: 100%;
        left: 0;
        margin-bottom: 2em;
    }

    .perks-icon {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .perks-copy {
        float: none;
        transform: none;
    }

    h2 {
        font: 3.5em Lato, sans-serif;
    }

    .guild-shield,
    .guild-copy {
        width: 100%;
        float: none;
    }

    .guild-shield img {
        width: 73%;
    }

    .careers-page .splash-container {
        padding-top: 7%;
        padding-bottom: 7%;
    }

    .careers-page .section1-content-container {
        margin-bottom: 0;
        width: 23em;
    }

    .perks-cell img {
        width: auto;
    }

    .block-mobile .perks-copy {
        width: 100%;
        height: auto;
        margin-bottom: 3em;
        left: 0;
        float: none;
        display: inline-block;
    }

    .block-mobile .perks-cell {
        width: 100%;
        margin: 0em;
        height: auto;
    }

    .block-mobile .perks-icon {
        width: 295px;
        height: 21em;
        float: none;
        display: inline-block;
    }

    .testimonial-img img {
        -webkit-box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.76);
        -moz-box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.76);
        box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.76);
    }

    .apply-button {
        color: #ec6314;
    }

    .content-container h2 {
        font: 3.5em Lato, sans-serif;
    }

    /*
    ======================================================
    ABOUT PAGE
    ======================================================
    */

    .about-page .text-section {
        margin-top: -0.1em;
        padding-top: 2em;
    }

    .culture-interstitial p {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        font: 0.9em/150% 'din-regularregular', sans-serif;
    }

    .founders-wrapper {
        width: 300px;
    }

    .hackeratus-wrapper {
        margin: 0;
    }

    .team-wrapper {
        width: 440px;
    }

    .hackeratus-team-wrapper {
        margin-left: 10px;
        margin-right: 10px;
    }

    .team-desktop {
        display: none;
    }

    .team-tablet {
        display: none;
    }

    .team-smartphone {
        display: block;
        height: 490px;
    }

    .teamcontact {
        width: 100%;
        margin-top: 30px;
        text-align: center;
        position: relative;
        margin-left: 0;
    }

    .teambio {
        width: 300px;
        margin: 1px;
        position: relative;
        display: block;
        font-size: 12px;
    }

    .teamphoto {
        width: 85.5%;
        margin-left: 6.5%;
        position: relative;
        text-align: center;
    }

    .team-social-media {
        width: 121px;
        height: 32px;
        margin: 0 auto;
    }

    .team-social-media-two {
        width: 79px;
        height: 32px;
        margin: 0 auto;
    }

    #colorbox .first-sprite {
        margin-left: 0.2em;
    }

    .last-sprite {
        margin-right: 0;
    }

    .single-social-media {
        float: none;
        margin: 0 auto;
    }

    /*
    ======================================================
    ACADEMY PAGE
    ======================================================
    */

    .academy-page .section.section1.splash-container.academy-section1 {
        background: #2D6296;
        padding: 2em 0;
    }

    .academy-page .academy-section1 .section1-content-container {
        font-size: 0.7em;
    }

    .academy-section2 {
        margin-top: 0;
    }

    .academy-page .text-section {
        padding: 2em 0;
    }

    .academy-page .splash-container {
        background: #2D6296;
        height: auto;
        padding: 0;
    }

    .academy-page .section1-content-container {
        font-size: 0.7em;
    }

    /*
    ======================================================
    CONTACT PAGE
    ======================================================
    */

    .contact-page .section.section1.splash-container {
        height: 44px;
    }

    .contact-section2 {
        height: 68em;
    }

    .contact-form-h2 {
        width: 100%;
    }

    .contact-container-section2 {
        width: 100%;
        padding: 0;
    }

    .contact-form-container {
        width: 100%;
    }

    .google-maps-container-container-container {
        width: 100%;
    }

    .google-maps-container-container {
        width: 60%;
    }

    .google-maps-container {
        margin: 0;
    }
    /*
    ======================================================
    FOOTER
    ======================================================
    */

    .footer-section {
        height: 36em;
    }

    .footer-column1 {
        width: 100%;
        text-align:center;
        margin-left: 0;
        padding-left: 0;
    }

    .h-watermark {
        margin-right: 0;
    }

    .footer-column2 {
        width: 40%;
        border-right: 0;
        display: none;
    }

    .footer-column3 {
        display: none;
    }

    .footer-share{
        width: 100%;
        margin-bottom: 0;
    }

    .footer-contact{
        width: 100%;
    }

    .footer-section .content-container {
        width: 23em;
        padding-bottom: 0;
    }

    footer .first-sprite {
        margin-left: 2em;
    }

    .footer-madeny {
        text-align: center;
    }

    .madenyc {
        width: 9em;
        height: 9em;
    }

    .h-watermark {
        margin-left: 0;
    }

    /*
    ======================================================
    CONTACT MODAL
    ======================================================
    */

    .modal-dialog {
        margin-top: 5em;
    }

}

@media only screen and (max-width : 767px) and (orientation : landscape) {
    .contact-section2 {
        height: 80em;
    }

}

/* SMARTPHONE
####################################################################*/

@media only screen and (max-width : 479px) {

    /*
    ======================================================
    GENERAL
    ======================================================
    */

    .phones-only {
        display: block;
    }

    .tablet-and-desktop {
        display: none;
    }

    .tablet {
        display: none;
    }

    .desktop {
        display: none;
    }

    .span1,
    .span2,
    .span3,
    .span4,
    .span5,
    .span6,
    .span7,
    .span8,
    .span9 {
        width: 100%;
    }

    .careers .section1 p {
        text-align: center;
    }

    .section1 h3 {
        width: auto;
        border-bottom: none;
        text-align: center;
        padding: 0 0 .25em 0;
    }

    .block-right img,
    .block-left img{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .section1-content-container {
        margin-top: 4em ;
    }

    .splash-container {
        display: block;
        background: #2D6296;
    }

    .block-desktop {
        display: none;
    }

    .block-mobile {
        display: block;
    }

    .block-mobile img {
        width: 75%;
    }

    .content-container {
        width: 90%;
    }

    .content-container h2 {
        font: 3.3em Lato, sans-serif;
    }

    /*
    ======================================================
    HEADER
    ======================================================
    */

    #header {
        height: 170px;
    }

    .logo {
        float: none;
    }

    .nav-links {
        float: none;
        text-align: center;
    }

    .content-container nav {
        font: 1.7em/100% 'inconsolatamedium';
        margin-top: 0.2em;
        padding-bottom: 1.25em;
    }

    nav a {
        margin-left: 0.5em;
    }

    .logo img {
        width: 94%;
        max-height: none;
    }

    .content-container nav {
        padding-bottom: 0.9em;
    }

    /*
    ======================================================
    HOME PAGE
    ======================================================
    */

    /* SECTION 1 */

    .welcome-container .logo {
        float: none;
    }

    .welcome-container .nav-links {
        float: none;
        text-align: center;
    }

    .welcome-container .content-container nav {
        font: 1.7em/100% 'inconsolatamedium';
        margin-top: 0.2em;
        padding-bottom: 1.25em;
    }

    .welcome-container nav a {
        margin-left: 0.5em;
    }

    .welcome-container .logo img {
        width: 94%;
        max-height: none;
    }

    .welcome-container .block-left {
        width: 100%;
    }

    .related-words-terminal,
    .terminal-buttons{
        display: none;
    }

    .welcome-content {
        width: 86%;
    }

    .terminal-block-title {
        font-size: 2.9em;
    }

    .nav-links .about-link {
        margin-left: 0em;
    }

    #hackworld {
        min-width: 300px;
    }

    /* SECTION 2 */

    .who-content {
        width: 90%;
    }

    #who-title h1 {
        margin-bottom: 0.3em;
        font: 4.1em/100% Lato, sans-serif;
    }

    #who-title h2 {
        margin-left: 0.2em;
    }

    /* SECTION 3 */

    .what-content {
        width: 90%;
    }

    /* SECTION 4 */

    .how-content {
        width: 90%;
    }

    /* SECTION 5 */

    .clients-content {
        width: 100%;
        margin-top: 0;
    }

    /* SECTION 6 */

    #contact-content {
	padding-top: 1.5em;
        width: 19em;
    }

    .contact-container {
        height: 22em;
    }

    .google-maps-container {
        display: none;
    }

    .google-maps-container-mobile {
        display: block;
    }

    #google-maps-wrapper {
        left: 50%;
        top: 7em;
    }

    /*
    ======================================================
    ABOUT PAGE
    ======================================================
    */

    .team-wrapper {
        width: 200px;
    }

    .hackeratus-team-wrapper {
        margin-left: 0;
        margin-right: 0;
    }

    .founders-wrapper {
        width: 280px;
    }

    #who-title h1 {
        margin-left: 0;
    }

    .culture-interstitial p {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        font: 0.9em/150% 'din-regularregular', sans-serif;
    }

    .def-hacker h1 {
        font: 2.5em/100% Lato, sans-serif;
    }

    .def-hackerati h1 {
        font: 2.5em/100% Lato, sans-serif;
    }

    .team-desktop {
        display: none;
    }

    .team-tablet {
        display: none;
    }

    .team-smartphone {
        display: block;
        height: 440px;
    }

    .teambio {
        width: 225px;
        margin: 1px;
        position: relative;
        display: block;
        font-size: 10px;
    }

    .teamphoto>img {
        width: 200px;
        height: 200px;
    }

    /*
    ======================================================
    CAREERS PAGE
    ======================================================
    */

    .b-page-image.careers,
    .b-page-image.about,
    .b-page-image.academy {
        background-image: none;
        background: #424345;
    }

    .section1-content-container {
        background: none;
    }

    .testimonial-copy-mobile {
        width: 100%;
        display: block;
    }

    .section1 h2 {
        font: 3.0em/100% 'inconsolatamedium';
    }

    .perks-cell {
        width: auto;
        height: auto;
        margin: 0;
    }

    h2 {
        font: 3.5em Lato, sans-serif;
    }

    .guild-shield img,
    .guild-shield,
    .guild-copy {
        width: 100%;
        float: none;
    }

    .careers-page .section1-content-container {
        width: 90%;
        margin-bottom: 0;
    }

    .careers-page .splash-container {
        padding-top: 7%;
        padding-bottom: 7%;
    }

    .perks-cell img {
        width: auto;
    }

    .careers-page .section2 .content-container {
        width: 90%;
    }

    .testimonial-img img {
        -webkit-box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.76);
        -moz-box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.76);
        box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.76);
    }

    .careers-page .section1-content-container {
        padding: 0;
    }

    .perks-icon {
        width: 280px;
        height: 20em;
    }

    .equals-signs {
        width: 80px;
    }

    .guild-list {
        width: 13.9em;
    }

    .perks-copy {
        left: 27px;
        width: 90%;
    }

    .careers-page .section3 .content-container {
        width: 90%;
    }

    /*
    ======================================================
    RECRUITING
    ======================================================
    */

    .recruit-window .block-left {
        width:100%;
        padding-bottom: 25%;
    }

    .recruit-window .block-right {
        display: none;
    }

    .ss-choices {
        width: 100%;
    }

    .ss-choice-item {
        float:none;
        clear: both;
    }

    .logo-center img {
        width: 80%;
        height: auto;
    }

    .mid-radio {
        border: 0;
    }

    /*
    ======================================================
    BLOG
    ======================================================
    */

    .blog-left-column {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    #blog-summary {
        padding-right: 0%;
    }

    .blog-page-title p {
        margin-bottom: 4em;
    }

    /*
    ======================================================
    FOOTER
    ======================================================
    */

    .tweets.column,
    .sitemap.column {
        display: none;
    }

    .madenyc {
        margin-top: 15px;
    }

    .footer-column1 {
        width: 100%;
        text-align: center;
        margin-left: 0;
        padding-left: 0;
    }

    footer .content-container {
        width: 19em;
    }

    .footer-section .content-container {
        width: 21em;
    }

    .twitter-footer {
        margin-left: 1.8em;
    }

    .footer-madeny {
        text-align: center;
    }

    .madenyc {
        width: 9em;
        height: 9em;
    }

    /*
    ======================================================
    CONTACT MODAL
    ======================================================
    */

    .modal-dialog {
        margin-top: 5em;
    }

}
