/********* MEDIA QUERIES **********/
/**********************************/

/* BIGGEST DESKTOP
####################################################################*/
@media all and (min-width: 1200px) {

  /********* GENERAL *********/
  .wrapper-splash { width: 830px; padding: 20px; }
  .section1-content-container { width: 57.5em;}
  .section2 .content-container { width: 77.2em;}
  .section3 .content-container { width: 77.2em;}
  .section1 p { font: 1.3em/100% 'monacoregular';}
  .section1 h3 { font: 1.8em/100% 'monacoregular';}
  .section3 .content-container { width: 77.2em;  }

  /********** HEADER **********/
  .header-section > .content-container { width: 77.7em;}

  /****** CAREERS PAGE *******/
  .testimonial-copy { width: 44%;}
  .apply-now-button p { font: 1.5em/120% 'inconsolatamedium' !important;}
  .perks-cell { position: relative; width: 300px; height: 300px; margin: 30px; float: left; }
  .section2 p { font: 2.0em/120% 'monacoregular'; color: #f6f6f6;}
  .perks-copy li { list-style-type: disc; font: 1.4em/150% 'monacoregular'; }
  .guild-copy { margin: 1em 0; font: 1.4em/120% 'monacoregular'; width: 54%; float: left; }

.social-media-sprite {
  margin-left: 48%;
  width: 44px;
  height: 44px;
  margin-top: 1em;
}

.google-sprite {
  background: url('../assets/img/social-media-icons.png') no-repeat; 
  background-position:-68.487px -15.414px;
}
.google-sprite:hover {
  background: url('../assets/img/social-media-icons.png') no-repeat; 
  background-position:-163.957px -16.405px;
}

.facebook-sprite {
  background: url('../assets/img/social-media-icons.png') no-repeat; 
  background-position:-20.584px -63.511px;
}
.facebook-sprite:hover {
  background: url('../assets/img/social-media-icons.png') no-repeat; 
  background-position:-116.055px -64.503px;
}

.linkedin-sprite {
  background: url('../assets/img/social-media-icons.png') no-repeat; 
  background-position:-68.486px -63.511px;
}
.linkedin-sprite:hover {
  background: url('../assets/img/social-media-icons.png') no-repeat; 
  background-position:-163.957px -64.503px;
}

.github-sprite {
  background: url('../assets/img/social-media-icons.png') no-repeat; 
  background-position:-20.584px -111.501px;
}
.github-sprite:hover {
  background: url('../assets/img/social-media-icons.png') no-repeat; 
  background-position:-116.055px -112.494px;
}

.twitter-sprite {
  background: url('../assets/img/social-media-icons.png') no-repeat; 
  background-position:-20.585px -15.741px;
}
.twitter-sprite:hover {
  background: url('../assets/img/social-media-icons.png') no-repeat; 
  background-position:-116.055px -16.733px;
}

.meetup-sprite {
  background: url('../assets/img/social-media-icons.png') no-repeat; 
  background-position:-68.487px -111.68px;
}
.meetup-sprite:hover {
  background: url('../assets/img/social-media-icons.png') no-repeat; 
  background-position:-163.957px -112.671px;
}

  /********** FOOTER **********/
  .footer-wrapper { width: 888px;}
  footer .content-container { width: 77.2em; }
  .footer-column3 { padding: 0; }

}


/* BIG TABLET 
####################################################################*/

@media only screen and (min-width : 768px) and (max-width : 1024px) {

  /********* GENERAL **********/
  .mobile { display: inline-block;}
  .desktop { display: none;	}
  .wrapper-splash {	width: 650px;	font-size: 16px;	padding: 15px; }
  .section3 .content-container { width: 51.5em;	padding-top: 0;	}
  .section1 p { font: 1.3em/100% 'monacoregular';	text-align: center;}
  .section1 h3 { font: 1.8em/100% 'monacoregular';	text-align: center;	width: 13.5em;margin: 0 0 .5em 3.4em;}
  .section1-content-container {	width: 36.5em;}
  .section2 .content-container { width: 51.5em;}
  .section2 p {	font: 2.0em/120% 'monacoregular';}

  /********** HEADER **********/
  #navigation-mobile {	display: none;}
  .header-section > .content-container {	width: 50em;}
  nav a {	margin-left: 1.0em;	}

  /******** ABOUT PAGE *********/

  /****** CAREERS PAGE *******/

  .testimonial-copy-mobile { display: none;}
  .testimonial-copy-tablet {	width: 100%; display: block;}
  .testimonial-img {	display: block;	width: 100%;	margin: 2em 0;}
  .apply-now-button p {font: 1.5em/120% 'inconsolatamedium' !important;	}
  .perks-copy li {	font: 1.4em/150% 'monacoregular';	}
  .perks-cell {	width: 300px;	height: 300px;	margin: 30px;	}
  .guild-shield, .guild-copy {	float: none;	width: 100%;	}
  .guild-shield {	text-align: center;	}
  .guild-copy {	font: 1.4em/130% 'monacoregular';	}

  /********** FOOTER **********/

  .footer-wrapper {	width: 709px;}
  .mobile-copyright-madeny {	display: block;}
  .footer-copyright { margin-left: 0;}
  .footer-madeny { margin-left: 0;}

}

/* SMALL TABLET/BIG SMARTPHONE
####################################################################*/

@media only screen and (min-width : 480px) and (max-width : 767px) {

  /********* GENERAL **********/
  .mobile {	display: inline-block;}
  .desktop { 	display: none;}
  .section3 .content-container { width: 23em;	padding-top: 0;	}

  /********** HEADER **********/
  .logo {	float: none;}
  .nav-links {	float: none;	text-align: center;	}
  .content-container nav {	font: 1.8em/100% 'monacoregular';	margin-top: 1.0em;	padding-bottom: 1.2em;}
  nav a {	margin-left: 1.0em;	}
  .header-section > .content-container {	width: 31em;}
  .logo img {	width: 76%;	max-height: none;	}

    /****** CAREERS PAGE *******/
  .section1-content-container {	width: 22.5em;}
  .testimonial-copy-tablet {	width: 100%;	display: block;	}
  .testimonial-copy-mobile {	display: none;}
  .testimonial-img { display: block;	width: 100%;	margin: 2em 0;}
  .section1 p { text-align: center;}
  .section1 h3 { text-align: center;	width: 13.7em;	margin: 0 0 .5em 0.7em;	}
  .section1 h2 { font: 3.5em/100% 'monacoregular';	}
  .section2 .content-container {	width: 23.0em;}
  .perks-cell {	width: 280px;	height: 280px;	margin: 20px;	}
  .perks-copy li {	font: 1.2em/150% 'monacoregular';	}
  .section2 p {	font: 1.7em/120% 'monacoregular';	}
  h2 {	font: 3.5em 'monacoregular';}
  .guild-shield img, .guild-shield, .guild-copy {	width: 100%; float: none;	}

  /********** FOOTER **********/
  .footer-column1 {	width: 50%;	}
  .footer-column2 {	width: 40%; border-right: 0;}
  .footer-column3 {	display: none;}
}

/* SMARTPHONE
####################################################################*/

@media only screen and (max-width : 479px) {

  /********* GENERAL *********/
  .mobile { display: inline-block;}
  .desktop { display: none;}
  .span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9 {width: 100%;} 
  .section1 p {	font: 1.2em/130% 'monacoregular';	text-align: center;}
  .section1 h3 {	border-bottom: none;	text-align: center;	padding: 0 0 .25em 0;	}
  .section1-content-container {	width: 16em;}
  .section3 .content-container {	width: 19em;	padding-top: 0;	}
  .generic-container{ width: 100%; padding-top:5%; padding-bottom:5%;}
  .generic-content{ width:80%;}
  .generic-content h2 {	font: 3.0em 'monacoregular';	}
  .generic-content p {	font: 1.0em/130% 'monacoregular'; line-height:95%;}
  .block-right, .block-left{ display:block; width:100%; float:none; clear:both; padding-top: 5%; padding-bottom: 5%;}
  .text-focus{ height: 100%; width: 100%;}

  /********** HEADER **********/
  #header {	height: 170px;}
  #navigation {	display: none;}
  #navigation-mobile { display: block; width: 295px;	height: 50px;	position: absolute;	margin-left: -147.5px;	left: 50%;	margin-top: 100px;}
  #navigation-mobile ul {	list-style: none;	padding-left: 0;}
  #navigation-mobile li {	list-style: none;	float: left; font: 16px 'monacoregular';}
  #navigation-mobile li a:hover {	color: #FFA500;	}
  #navigation-mobile li a {	color: #fff;}
  li#careers-mobile,li#academy-mobile {	margin-left: 30px;}
  li#about-mobile {	margin-left: 23px;}
  .logo {	float: none;}
  .nav-links {	float: none;	text-align: center;	}
  .content-container nav {	font: 1.7em/100% 'monacoregular';	margin-top: 0.2em;	padding-bottom: 1.25em;	}
  nav a {	margin-left: 0.5em;}
  .header-section > .content-container {	width: 21em;}
  .logo img {	width: 94%;	max-height: none;	}

  /******** ACADEMY PAGE *********/
  #academy-focus{ background: none; z-index: 9999999; padding-top: 20%; padding-bottom:20%; }
  .splash-academy{ background: #ec6314;}

  /******** ABOUT PAGE *********/
  #about-focus{ background: none; z-index: 9999999; padding-top: 20%; padding-bottom:20%; }
  .splash-about{ background: #8a8a8a;}
  #founder1, #founder2 { display: block; width: 70%; margin-right:auto; margin-left:auto; padding-top:5%; padding-bottom:2%;}

  /******** CAREERS PAGE *******/
  .b-page-image.careers {	background-image: none;	background: #424345;}
  .section1-content-container {	background: none;	}
  .testimonial-img {	display: none;}
  .testimonial-copy-mobile {	width: 100%;	display: block;	}
  .testimonial-copy-tablet {	display: none;}
  .section1 h2 {	font: 3.0em/100% 'monacoregular';	}
  .section2 .content-container {	width: 23.0em;}
  .perks-cell {	width: 280px;	height: 280px;	margin: 20px;	}
  .perks-copy li {	font: 1.2em/150% 'monacoregular';	}
  .section2 p {	font: 1.7em/120% 'monacoregular';	}
  h2 {	font: 3.5em 'monacoregular';}
  .guild-shield img, .guild-shield, .guild-copy {	width: 100%; float: none;	}

  /******** RECRUITING ********/
  .right-col{ display:none;}
  .right-container, .left-container, .left-col{ width:100%; right:0%; left:0%;}
  .left-col{ padding-bottom: 25%;}
  .logo-center img{ width: 80%; height: auto;}

  /********** FOOTER **********/
  .footer-wrapper {	width: 295px;	}
  .tweets.column,.sitemap.column {	display: none;	}
  #footer .column {	width: 100%;	text-align: center;	}
  .social-icons {	margin: 0 auto;	position: relative;	width: 65%;	}
  .madenyc {	margin-top: 15px;	}
  .copyright {	margin: 0 auto;	width: 65%;	position: relative; }
  .contact-info {	width: 65%;	margin: 0 auto;	position: relative;	}
  #nav-expansion {	display: block;	margin: 15px 10% 0 0;	}
  #nav-expansion a {	line-height: 50px;	text-decoration: none;	font-size: 4em;	color: #ec6314;	}
  .benefits-content, .apprentice-content, .supply-content {	width: 295px;}
}
