@media all and (max-width: 760px) {

	/********* GENERAL *********/
	/****************************/

	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 25px;
	}

	.wrapper-splash {
		width: 295px;
		padding: 12px;
	}

	/********** HEADER **********/
	/****************************/

	#navigation {
		display: none;
	}

	#logo {
		width: 180px;
	}

	/******** ABOUT PAGE *********/
	/*****************************/

	.about img {
		display: none;
	}

	.about .text {
		float: none;
		width: 295px;
		margin: 0 auto;
	}

	.our-story {
		background-color: #323232;
		height: 690px;
		width: 100%;
		margin-top: -150px;
		padding-top: 100px;
	}

	.wrapper-splash {
		background: none;
	}

	.supply-container {
		height: 470px;
	}

	.apprentice-container {
		height: 550px;
	}

	/********** FOOTER **********/
	/****************************/

	.footer-wrapper {
		width: 295px;
	}

	.tweets.column,
	.sitemap.column
	 {
		display: none;
	}

	#footer .column {
		width: 100%;
		text-align: center;
	}

	.social-icons {
		margin: 0 auto;
		position: relative;
		width: 65%;
	}

	.madenyc {
		margin-top: 15px;
	}

	.copyright {
		margin: 0 auto;
		width: 65%;
		position: relative;
	}

	.contact-info {
		width: 65%;
		margin: 0 auto;
		position: relative;
	}

	#nav-expansion {
		display: block;
		margin: 15px 10% 0 0;
	}

	#nav-expansion a {
		line-height: 50px;
		text-decoration: none;
		font-size: 4em;
		color: #ec6314;
	}

}