/* ---------------
 * Slidebars Theme
 *
 * ---------
 * CSS Index
 *
 * 001 - Box Model
 * 002 - Site
 * 003 - Slidebars
 * 004 - Slidebar Menus
 * 005 - Slidebar Widgets
 * 006 - Top Navigation Bar
 * 007 - Slidebar Controls
 *
 * ---------------
 * 001 - Box Model
 */

* {
    /* Highly recommended to avoid any width alterations in the Slidebars or Site, which may cause horizontal scrolling. */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ----------
 * 002 - Site
 */

#sb-site {
    padding: 0; 
}

/* ---------------
 * 003 - Slidebars
 */

.sb-slidebar {
    background-color: #2C2C2C; /* Background colour. */
    color: #e8e8e8; /* Text colour. */
}

.sb-slidebar a {
    color: #f2f2f2; /* Link colour. */
    text-decoration: none;
    font: 1.5em/100% 'din-lightregular';
}

.sb-slidebar a:hover {
    color: #49AEF2; /* Link hover colour. */
    text-decoration: underline;
}

a.sitemap-sub:link {
    color: #4CA0D3;
    font: 1.3em/100% 'din-lightregular';
}

a.sitemap-sub:visited {
    color: #4CA0D3;
}

a.sitemap-cat:link {
    color: #EC6314;
    font: 1.5em/100% 'din-lightregular';
}

a.sitemap-cat:visited {
    color: #EC6314;
}

.sb-social a {
    font: 1.5em/100% 'din-lightregular';
}

.sb-social a:hover {
    color: #EC6314;
}

/* --------------------
 * 004 - Slidebar Menus
 */
 
/* Main Menu */
.sb-menu { /* Apply to <ul> or <ol>. */
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sb-menu li {
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* Will lighten any background colour you set. */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Will darken any background colour you set. */
}

.sb-menu > li:first-child {
    border-top: none; /* Removes top border from first list item.. */
}

.sb-menu > li:last-child {
    border-bottom: none; /* Removed bottom border from last list item. */
}

.sb-menu li a {
    width: 100%; /* Makes links full width. */
    display: inline-block;
    padding: 1em; /* Creates an even padding the same size as your font. */
}

.sb-menu li a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.05); /* Will lighten any background colour you set. */
}

/* Borders */
.sb-left .sb-menu li a {
    border-left: 3px solid transparent;
}

.sb-left .sb-menu li a:hover {
    border-left: 3px solid; /* Removes transparent colour, so border colour will be the same as link hover colour. */
}

.sb-right .sb-menu li a {
    border-right: 3px solid transparent;
}

.sb-right .sb-menu li a:hover {
    border-right: 3px solid; /* Removes transparent colour, so border colour will be the same as link hover colour. */
}

.sb-right .twitter-footer { 
    margin-left: 0; 
}

.sb-right .meetup-footer { 
    margin-right: 0.5em; 
}

/* Submenus */
.sb-submenu {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.05); /* Submenu background colour. */
}

/* Caret */
span.sb-caret {
    width: 0;
    height: 0;
    display: inline-block;
    margin: 0 5px;
    border: 5px solid transparent;
}

span.sb-caret { /* Caret Down */
    border-top: 5px solid;
    border-bottom: 0px solid transparent;
}

.sb-submenu-active > span.sb-caret { /* Caret Up */
    border-top: 0px solid transparent;
    border-bottom: 5px solid;
}

/* ----------------------
 * 005 - Slidebar Widgets
 */

.sb-widget {
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.1); /* Will lighten any background colour you set. */
    margin: 14px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); /* Slight shadow. */
}

.sb-widget-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Will darken any background colour you set. */
    padding: 14px;
    background-color: #292929; /* Widget title background colour. */
}

.sb-widget-title {
    margin: 0; /* Removes browser default margins for heading tags. */ 
}

.sb-widget-content {
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* Will lighten any background colour you set. */
    padding: 14px;
    background-color: #262626; /* Widget content background colour. */
}

/* ------------------------
 * 006 - Top Navigation Bar
 */

.sb-navbar {
    background: #2C2C2C;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    display: block;
    top: 0;
    left: auto;
    right: auto;
    z-index: 1000;
    opacity: 1;
    -webkit-box-shadow: inset 0px -15px 25px 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0px -15px 25px 6px rgba(0, 0, 0, .3);
}

#sb-nav,
#sb-nav-home{ 
    -webkit-box-shadow:none;
    box-shadow: none;
    transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    opacity: 1;
}

#sb-nav {
    height: 98px;
}

#sb-nav-home {
    height: 180px;
}

html.sb-android .sb-navbar {
    position: absolute; /* Fix navbar to top for old versions of Android Browser. */
}

/* Navbar Menu Items */
.sb-navbar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sb-navbar-menu-left {
    float: left;
}

.sb-navbar-menu-right{
    float: right;
}

.sb-navbar-menu li {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}

.sb-navbar-menu li a {
    display: inline-block;
    color: #f2f2f2; /* Navbar link colour */
    padding: 14px;
    text-decoration: none;
}

.sb-navbar-menu li a:hover {
    color: #f2f2f2; /* Navbar link hover colour */
    background-color: rgba(0, 0, 0, 0.05); /* Will lighten any background colour you set. */
}

/* -----------------------
 * 007 - Slidebar Controls
 */
 
.sb-toggle-left, 
.sb-toggle-right, 
.sb-open-left, 
.sb-open-right, 
.sb-close {
    cursor: pointer; /* Help desktop users with Slidebar controls. */
}

/* Navicons */
/* These are prefixed with .sb-navbar to avoid styling other Slidebar toggles you may be using. */
.sb-navbar .sb-toggle-left {
    width: 52px;
    float: left;
    padding: 14px;
}

.sb-navbar .sb-toggle-right {
    width: 52px;
    float: right;
    padding: 14px;
}

.navicon-line {
    width: 24px;
    height: 4px;
    border-radius: 1px;
    margin-bottom: 3px;
    background-color: #fff; /* Colour of navicon lines. */
}

/* Hover states to match navbar menu item hover. */
.sb-navbar .sb-toggle-left:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Will lighten any background colour you set. */
}

.sb-navbar .sb-toggle-right:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Will lighten any background colour you set. */
}

.sb-logo {
    position: absolute;
    width: 130px;
    left:0;
    right:0;
    top: 5px;
    margin-left:auto;
    margin-right:auto;
    -webkit-transition: all 1s linear;
}

img.sb-logo-img {
    width: 100%;
}

.sb-toggle-left, 
.sb-toggle-right, 
.sb-logo {
    display:none;
}

.sb-navbar .content-container {
    height: 100%;
    padding-left:3.75%;
    padding-right:3.75%;
}

/* -------------------
 * 006 - Media Queries
 */

/* BIG TABLET
####################################################################*/

@media only screen and (max-width : 1024px) {

.sb-navbar .content-container {
        padding: 0 2%;
    }

    #sb-nav .nav-links {
        width: 68%;
        float: right;
    }

    #sb-nav-home {
        height: 261px;
        padding-top: 42px;
        position: absolute;
    }

    #sb-nav-home .content-container {
        height: 251px;
        margin-top: 0;
        text-align: center;
    }

    #sb-nav-home .logo {
        display: inline-block;
        height: 50%;
        float: none;
    }

    #sb-nav-home .nav-links {
        font-size: 2.5em;
        text-align: center;
    }

}

/* SMALL TABLET/BIG SMARTPHONE
####################################################################*/

@media (max-width: 767px) {

    /* This is entirely optional, it hides the navbar menu items when device width is under 768px. */
    #sb-nav,
    #sb-nav-home{ 
        display:block;
        height: 50px;
        padding-top: 5px;
        position: fixed;
    }

    .sb-navbar-menu {
        display: none;
    }

    .sb-toggle-left, 
    .sb-toggle-right, 
    .sb-logo {
        display:block;
    }
    
    .sb-navbar .content-container {
        display:none;
    }

}
