/********* BIG TABLET/SMALL BROWSER WINDOW **********/
/****************************************************/

@media only screen and (min-width : 768px) and (max-width : 1024px) {


	/********* GENERAL **********/
	/****************************/

	.mobile {
    	display: inline-block;
	}

	.desktop {
    	display: none;
	}

	.wrapper-splash {
		width: 650px;
		font-size: 16px;
		padding: 15px;
	}

	/********** HEADER **********/
	/****************************/

	#navigation-mobile {
		display: none;
	}

	/******** ABOUT PAGE *********/
	/*****************************/

	.leadership-content,
	.benefits-content,
	.apprentice-content,
	.supply-content {
		width: 710px;
	}

	/****** CAREERS PAGE *******/
	/***************************/

	.testimonial-copy-mobile {
		width: 100%;
		display: block;
	}

	.testimonial-img {
		display: block;
		width: 100%;
		margin: 2em 0;
	}

	.section1 p {
		font: 1.3em/100% 'monacoregular';
		text-align: center;
	}

	.section1 h3 {
		font: 1.8em/100% 'monacoregular';
		text-align: center;
		width: 12.4em;
		margin: 0 0 .5em 3.8em;
	}

	.apply-now-button p {
	    font: 1.5em/120% 'monacoregular' !important;
	}

	.section1-content-container {
		width: 36.5em;
	}

	.section2 .content-container {
		width: 51.5em;
	}

	.section2 p {
		font: 2.0em/120% 'monacoregular';
	}

	.perks-copy li {
		font: 1.4em/150% 'monacoregular';
	}

	.perks-cell {
		width: 300px;
		height: 300px;
		margin: 30px;
	}

	/********** FOOTER **********/
	/****************************/

	.footer-wrapper {
		width: 709px;
	}

}

/********* SMALL TABLET/BIG SMARTPHONE **********/
/************************************************/

@media only screen and (min-width : 480px) and (max-width : 767px) {

	/********* GENERAL **********/
	/****************************/

	.mobile {
    	display: inline-block;
	}

	.desktop {
    	display: none;
	}

    /****** CAREERS PAGE *******/
	/***************************/

	.section1-content-container {
		width: 22.5em;
	}

	.testimonial-copy-mobile {
		width: 100%;
		display: block;
	}

	.testimonial-img {
		display: block;
		width: 100%;
		margin: 2em 0;
	}

	.section1 p {
		text-align: center;
	}

	.section1 h3 {
		text-align: center;
		width: 12.5em;
		margin: 0 0 .5em 1.2em;
	}

	.section1 h2 {
		font: 3.5em/100% 'monacoregular';
	}

	.section2 .content-container {
		width: 23.0em;
	}

	.perks-cell {
		width: 280px;
		height: 280px;
		margin: 20px;
	}

	.perks-copy li {
		font: 1.2em/150% 'monacoregular';
	}

	.section2 p {
		font: 1.7em/120% 'monacoregular';
	}

	h2 {
		font: 3.5em 'monacoregular';
	}

}
