/* LARGE TABLET */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

.mobile {
    display: inline-block;
}

.desktop {
    display: none;
}


	/********* GENERAL **********/
	/****************************/

	.wrapper-splash {
		width: 650px;
		font-size: 16px;
		padding: 15px;
	}

	/********** HEADER **********/
	/****************************/

	#navigation-mobile {
		display: none;
	}

	/******** ABOUT PAGE *********/
	/*****************************/

	.leadership-content,
	.benefits-content,
	.apprentice-content,
	.supply-content {
		width: 710px;
	}

	/********** FOOTER **********/
	/****************************/

	.footer-wrapper {
		width: 709px;
	}

}

/* SMALL TABLET */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1) {

    /* CSS GOES HERE */

}
