@media all and (max-width: 960px) {

	/********* GENERAL *********/
	/****************************/

	.wrapper-splash {
		width: 650px;
		font-size: 16px;
		padding: 15px;
	}

	/********** FOOTER **********/
	/****************************/

	.footer-wrapper {
		width: 709px;
	}

}