---
layout: b_page
title: Careers | The Hackerati
---

<!--
=====================================================================
CAREERS PAGE
=====================================================================
-->

<div class="all-content careers-page">

    <!--* SPLASH | SECTION 1 *-->

    <div class="section section1 splash-container" id="top-section">
        <div class="content-container section1-content-container">
            <img src="{{ site.url }}/assets/img/largecooperstairs.jpg" class="splash" alt="Splash, Careers, The Hackerati, Staircase" />
            <h1>Join Us</h1>

            <div class="testimonial-copy-mobile">
                {% include careers-hook.html %}
            </div>

            <div class="testimonial-img">
                <a href="http://hackeriam.theresumator.com/apply">
                    <img src="{{ site.url }}/assets/img/mike2-edited.png" alt="Careers, The Hackerati, Mike Ketigian, Career fair, Apply now"/>
                </a>
            </div>

            <div class="testimonial-copy desktop">
                {% include careers-hook.html %}
            </div><!--/testimonial-copy desktop-->
        
            <div class="clearfix"></div>
        
        </div><!--/section1-content-container-->

        <div class="clearfix"></div>

    </div><!--/section1 splash-container-->

    <!--* PERKS | SECTION 2 *-->

    <div id="section2-anchor-link" class="section section2">

        <a class="anchor" id="perks"></a>
        <div class="content-container perks-content-container">

            <h2>Perks</h2>

            <div class="perks-cell1 perks-cell">
                <div class="perks-icon1 perks-icon">
                    <img src="{{ site.url }}/assets/img/icon-culture.png" alt="The Hackerati, Careers, perks icon, culture" />
                    <p>Culture</p>
                </div>
                <div class="perks-copy" id="perks-copy1">
                    <ul>
                        <li>fun, laidback team</li>
                        <li>flexible work schedule</li>
                        <li>weekly happy hour</li>
                        <li>team lunches</li>
                        <li>social events</li>
                        <li>company-sponsored take-home electronics</li>
                        <li>join The Hackerati Band</li>
                    </ul>
                </div>
            </div><!--/perks-cell1-->
            <div class="perks-cell2 perks-cell">
                <div class="perks-icon2 perks-icon">
                    <img src="{{ site.url }}/assets/img/icon-labs.png" alt="The Hackerati, Careers, perks icon, labs" />
                    <p>Labs</p>
                </div>
                <div class="perks-copy" id="perks-copy2">
                    <ul>
                        <li>develop projects on your own time</li>
                        <li>seek funding on Pitch Day</li>
                        <li>winners maintain salary and benefits while developing their startups</li>
                    </ul>
                </div>
            </div><!--/perks-cell2-->
            <div class="perks-cell3 perks-cell">
                <div class="perks-icon3 perks-icon">
                    <img src="{{ site.url }}/assets/img/icon-incentive.png" alt="The Hackerati, Careers, perks icon, incentives" />
                    <p>Incentives</p>
                </div>
                <div class="perks-copy" id="perks-copy3">
                     <ul>
                        <li>competitive salary</li>
                        <li>unlimited paid time off</li>
                        <li>employee and client referral bonus</li>
                        <li>commuter benefits</li>
                        <li>401k with annual profit sharing</li>
                        <li>equity</li>
                    </ul>
                </div>
            </div><!--/perks-cell3-->
            <div class="perks-cell4 perks-cell">
                <div class="perks-icon4 perks-icon">
                    <img src="{{ site.url }}/assets/img/icon-health.png" alt="The Hackerati, Careers, perks icon, health benefits" />
                    <p>Health</p>
                </div>
                <div class="perks-copy" id="perks-copy4">
                    <ul>
                        <li>insurance from day one
                            <ul class="insurance-list">
                                <li>medical</li>
                                <li>dental</li>
                                <li>vision</li>
                                <li>life</li>
                            </ul>
                        </li>
                        <li>flex spending accounts</li>
                    </ul>
                </div>
            </div><!--/perks-cell4-->
            <div class="perks-cell5 perks-cell">
                <div class="perks-icon5 perks-icon">
                    <img src="{{ site.url }}/assets/img/icon-academy.png" alt="The Hackerati, Careers, perks icon, academy" />
                    <p>Education</p>
                </div>
                <div class="perks-copy" id="perks-copy5">
                    <ul>
                       <li>learn from and teach your peers through Academy courses and a collaborative work environment</li>
                       <li>attend, host, and speak at industry events</li>
                       <li>master new technologies and methodologies</li>
                   </ul>
                </div>
            </div><!--/perks-cell5-->
            <div class="perks-cell6 perks-cell">
                <div class="perks-icon6 perks-icon">
                    <img src="{{ site.url }}/assets/img/icon-impact.png" alt="The Hackerati, Careers, perks icon, your impact" />
                    <p>Impact</p>
                </div>
                <div class="perks-copy" id="perks-copy6">
                    <ul>
                        <li>shape company direction and culture</li>
                        <li>help expand the team</li>
                        <li>engage new clients and projects</li>
                    </ul>
                </div>
            </div><!--/perks-cell6-->
            <div class="clearfix"></div>
            <a class="btn btn-lg btn-pos" href="http://hackeriam.theresumator.com/apply">Open Positions</a>

        </div><!--/perks-content-container-->
    </div><!--/section-2-->

</div>

<script type="text/javascript" src="{{ site.url }}/js/persistent-header.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/perks.js"></script>
{% include pingdom %}
