---
layout: b_page
title: Careers | The Hackerati
---

{% include desktop-header.html %}


<div class="b-page-image careers"></div>
<div id="all-content">

<div class="section section1" id="top-section">
    <div class="content-container section1-content-container">
        <h2>Careers</h2>

        <div class="testimonial-copy-mobile">
            <h3>Work With The Hackerati</h3>
            <p>
                we don't care how you learned it or how long you've been at it
            </p>

            <p>
                if you're a <strong>true hacker</strong> we want you on our team
            </p>

            <p>
                because innovation doesn't ask where you've been
            </p>

            <p>only "what can you do?"</p>

            <p>so...what can <em>you</em> do?</p>

            <a class="apply-button" href="http://hackeriam.theresumator.com/apply">
                <div class="apply-now-button">
                    <p>I can do anything!</p>
                </div>
            </a>

        </div>

        <div class="testimonial-copy-tablet">
            <h3>Work With The Hackerati</h3>
        
            <p>
            we don't care how you learned it</br>
                or how long you've been at it
                </p></br>
            <p>
            if you're a <strong>true hacker</strong></br>
            we want you on our team
            </p></br>
            <p>
            because innovation </br>
            doesn't ask where you've been</br>
            only "what can you do?"
            </p></br>
            <p>
            so...what can <em>you</em> do?
            </p></br>

            <a class="apply-button" href="http://hackeriam.theresumator.com/apply">
                <div class="apply-now-button">
                    <p>I can do anything!</p>
                </div>
            </a>

        </div>

        <div class="testimonial-img">
            <img src="../assets/img/mike2-edited.png" />
        </div>

        <div class="testimonial-copy desktop">
            <h3>Work With The Hackerati</h3>
        
            <p>
            we don't care how you learned it</br>
                or how long you've been at it
                </p></br>
            <p>
            if you're a <strong>true hacker</strong></br>
            we want you on our team
            </p></br>
            <p>
            because innovation </br>
            doesn't ask where you've been</br>
            only "what can you do?"
            </p></br>
            <p>
            so...what can <em>you</em> do?
            </p></br>

            <a class="apply-button" href="http://hackeriam.theresumator.com/apply">
                <div class="apply-now-button">
                    <p>I can do anything!</p>
                </div>
            </a>

        </div>
    
        <div class="clearfix"></div>
    
    </div>
    <div class="clearfix"></div>
</div>

<div id="section2-anchor-link" class="section section2">

    <div class="content-container perks-content-container">

        <h2>Perks</h2>

        <div class="perks-cell1 perks-cell">
            <div class="perks-copy" id="perks-copy1">
                <ul>
                    <li>Fun startup environment</li>
                    <li>Collaborative agile culture</li>
                    <li>Flexible work schedule</li>
                    <li>Friday happy hour</li>
                    <li>Team lunches</li>
                    <li>Social events</li>
                </ul>
            </div>
            <div class="perks-icon1 perks-icon">
                <img src="../assets/img/icon-culture.png">
                <p>Culture</p>
            </div>
        </div>
        <div class="perks-cell2 perks-cell">
            <div class="perks-copy" id="perks-copy2">
                <ul>
                    <li>Encouraged to work on personal side projects</li>
                    <li>Regular 'Pitch Days' for your personal projects</li>
                    <li>Pitch Day winners are pulled from projects to bootstrap their ideas with the funding and support of the Hackerati.</li>
                </ul>
            </div>
            <div class="perks-icon2 perks-icon">
                <img src="../assets/img/icon-labs.png">
                <p>Labs</p>
            </div>
        </div>
        <div class="perks-cell3 perks-cell">
            <div class="perks-copy"id="perks-copy3">
                 <ul>
                    <li>Competitive salary with unlimited paid vacation</li>
                    <li>Employee referral bonus</li>
                    <li>Commuter benefits</li>
                    <li>401k with annual profit sharing contribution based on company performance</li>
                    <li>Equity</li>
                </ul>
            </div>
            <div class="perks-icon3 perks-icon">
                <img src="../assets/img/icon-incentive.png">
                <p>Incentives</p>
            </div>
        </div>
        <div class="perks-cell4 perks-cell">
            <div class="perks-copy"id="perks-copy4">
                <ul>
                    <li>Medical, dental and vision insurance starting day one</li>
                    <li>Flex spending accounts</li>
                    <li>Life insurance</li>
                </ul>
            </div>
            <div class="perks-icon4 perks-icon">
                <img src="../assets/img/icon-health.png">
                <p>Health</p>
            </div>
        </div>
        <div class="perks-cell5 perks-cell">
            <div class="perks-copy"id="perks-copy5">
                <ul>
                   <li>The Hackerati Academy courses</li>
                   <li>Opportunities to host and speak at industry Meetups and events</li>
                   <li>Learn and work with cutting edge technologies</li>
                   <li>Teach your peers</li>
               </ul>
            </div>
            <div class="perks-icon5 perks-icon">
                <img src="../assets/img/icon-academy.png">
                <p>Learning</p>
            </div>
        </div>
        <div class="perks-cell6 perks-cell">
            <div class="perks-copy"id="perks-copy6">
                <ul>
                    <li>Create and influence an ever evolving company culture</li>
                    <li>Work to build the team, and bring in new clients and projects.</li>
                    <li>Play in The Hackerati band</li>
                </ul>
            </div>
            <div class="perks-icon6 perks-icon">
                <img src="../assets/img/icon-impact.png">
                <p>Your Impact</p></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="social-interstitial span10 desktop">
    <div class="interstitial-content-container content-container">
        <div class="i-social-icon i-fb span1">
            <a href="https://www.facebook.com/pages/The-Hackerati/352879328133465?fref=ts" target="blank">
                <div class="facebook-sprite social-media-sprite"></div>
            </a>
        </div>
        <div class="i-social-icon i-twit span1">
            <a href="https://twitter.com/TheHackerati" target="blank">
                <div class="twitter-sprite social-media-sprite"></div>
            </a>
        </div>
        <div class="i-social-icon i-in span1">
            <a href="http://www.linkedin.com/company/the-hackerati-inc-" target="blank">
                <div class="linkedin-sprite social-media-sprite"></div>
            </a>
        </div>
        <div class="i-social-icon i-octocat span1">
            <a href="https://github.com/thehackerati" target="blank">
                <div class="github-sprite social-media-sprite"></div>
            </a>
        </div>
        <div class="i-social-icon i-gplus span1">
            <a href="https://plus.google.com/116959192453188050047/posts" target="blank">
                <div class="google-sprite social-media-sprite"></div>
            </a>
        </div>
        <div class="i-social-icon i-meetup span1">
            <a href="http://www.meetup.com/Startup-Office-Hours-NYC/" target="blank">
                <div class="meetup-sprite social-media-sprite"></div>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

<div id="section3-anchor-link" class="section section3">
    <div class="content-container">

        <h2>The Guild Model</h2>
    
        <div class="guild-shield">
            <img src="../assets/img/guild-model.png" />
        </div>

        <div class="guild-copy">

            <p>
                The Hackerati understands that the best way to learn new skills is through guided, hands-on experience&#8211;as was demonstrated by medieval guilds. Just as master artisans passed on secrets of the trade to less experienced students, The Hackerati cultivates an environment of continuous education tailored to producing master engineers.
            </p>

            <ul>
                <li>Apprentice = Student Intern</li>
                <li>Journeyman = Experienced Engineer</li>
                <li>Master = Industry Veteran</li>
            </ul>

        </div>

        <div class="clearfix"></div>
    </div>
</div>

{% include footer.html %}

</div>
