---
layout: b_page
title: Careers | The Hackerati
---

{% include b-page-header.html %}

<!--
=====================================================================
CAREERS PAGE
=====================================================================
-->

<div class="all-content careers-page">

    <div class="section section1 splash-container" id="top-section">
        <div class="content-container section1-content-container">
            <img src="../assets/img/largecooperstairs.jpg" class="splash" alt="Splash, Careers, The Hackerati, Staircase" />
            <h1>Join Us</h1>

            <div class="testimonial-copy-mobile">
                {% include careers-hook.html %}
            </div>

            <div class="testimonial-img">
                <a href="http://hackeriam.theresumator.com/apply">
                    <img src="../assets/img/mike2-edited.png" alt="Careers, The Hackerati, Mike Ketigian, Career fair, Apply now"/>
                </a>
            </div>

            <div class="testimonial-copy desktop">
                {% include careers-hook.html %}
            </div><!--/testimonial-copy desktop-->
        
            <div class="clearfix"></div>
        
        </div><!--/section1-content-container-->

        <div class="clearfix"></div>

    </div><!--/section1 splash-container-->

    <div id="section2-anchor-link" class="section section2">

        <div class="content-container perks-content-container" id="perks">

            <h2>Perks</h2>

            <div class="perks-cell1 perks-cell">
                <div class="perks-icon1 perks-icon">
                    <img src="../assets/img/icon-culture.png" alt="The Hackerati, Careers, perks icon, culture" />
                    <p>Culture</p>
                </div>
                <div class="perks-copy" id="perks-copy1">
                    <ul>
                        <li>fun, laidback team</li>
                        <li>flexible work schedule</li>
                        <li>weekly happy hour</li>
                        <li>team lunches</li>
                        <li>social events</li>
                        <li>company-sponsored take-home electronics</li>
                        <li>join The Hackerati Band</li>
                    </ul>
                </div>
            </div><!--/perks-cell1-->
            <div class="perks-cell2 perks-cell">
                <div class="perks-icon2 perks-icon">
                    <img src="../assets/img/icon-labs.png" alt="The Hackerati, Careers, perks icon, labs" />
                    <p>Labs</p>
                </div>
                <div class="perks-copy" id="perks-copy2">
                    <ul>
                        <li>develop projects on your own time</li>
                        <li>seek funding on Pitch Day</li>
                        <li>winners maintain salary and benefits while developing their startups</li>
                    </ul>
                </div>
            </div><!--/perks-cell2-->
            <div class="perks-cell3 perks-cell">
                <div class="perks-icon3 perks-icon">
                    <img src="../assets/img/icon-incentive.png" alt="The Hackerati, Careers, perks icon, incentives" />
                    <p>Incentives</p>
                </div>
                <div class="perks-copy"id="perks-copy3">
                     <ul>
                        <li>competitive salary</li>
                        <li>unlimited paid time off</li>
                        <li>employee and client referral bonus</li>
                        <li>commuter benefits</li>
                        <li>401k with annual profit sharing</li>
                        <li>equity</li>
                    </ul>
                </div>
            </div><!--/perks-cell3-->
            <div class="perks-cell4 perks-cell">
                <div class="perks-icon4 perks-icon">
                    <img src="../assets/img/icon-health.png" alt="The Hackerati, Careers, perks icon, health benefits" />
                    <p>Health</p>
                </div>
                <div class="perks-copy"id="perks-copy4">
                    <ul>
                        <li>insurance from day one</li>
                        <ul class="insurance-list">
                            <li>medical</li>
                            <li>dental</li>
                            <li>vision</li>
                            <li>life</li>
                        </ul>
                        <li>flex spending accounts</li>
                    </ul>
                </div>
            </div><!--/perks-cell4-->
            <div class="perks-cell5 perks-cell">
                <div class="perks-icon5 perks-icon">
                    <img src="../assets/img/icon-academy.png" alt="The Hackerati, Careers, perks icon, academy" />
                    <p>Education</p>
                </div>
                <div class="perks-copy"id="perks-copy5">
                    <ul>
                       <li>learn from and teach your peers through Academy courses and a collaborative work environment</li>
                       <li>attend, host, and speak at industry events</li>
                       <li>master new technologies and methodologies</li>
                   </ul>
                </div>
            </div><!--/perks-cell5-->
            <div class="perks-cell6 perks-cell">
                <div class="perks-icon6 perks-icon">
                    <img src="../assets/img/icon-impact.png" alt="The Hackerati, Careers, perks icon, your impact" />
                    <p>Your Impact</p>
                </div>
                <div class="perks-copy"id="perks-copy6">
                    <ul>
                        <li>shape company direction and culture</li>
                        <li>help expand the team</li>
                        <li>engage new clients and projects</li>
                    </ul>
                </div>
            </div><!--/perks-cell6-->
            <div class="clearfix"></div>

        </div><!--/perks-content-container-->

    </div><!--/section-2-->

    <div class="social-interstitial span10 desktop">
        <div class="interstitial-content-container">
            <div class="i-social-icon i-fb span1">
                <a href="https://www.facebook.com/pages/The-Hackerati/352879328133465?fref=ts" target="blank">
                    <div class="facebook-sprite social-media-sprite"></div>
                </a>
            </div>
            <div class="i-social-icon i-twit span1">
                <a href="https://twitter.com/TheHackerati" target="blank">
                    <div class="twitter-sprite social-media-sprite"></div>
                </a>
            </div>
            <div class="i-social-icon i-in span1">
                <a href="http://www.linkedin.com/company/the-hackerati-inc-" target="blank">
                    <div class="linkedin-sprite social-media-sprite"></div>
                </a>
            </div>
            <div class="i-social-icon i-octocat span1">
                <a href="https://github.com/thehackerati" target="blank">
                    <div class="github-sprite social-media-sprite"></div>
                </a>
            </div>
            <div class="i-social-icon i-gplus span1">
                <a href="https://plus.google.com/116959192453188050047/posts" target="blank">
                    <div class="google-sprite social-media-sprite"></div>
                </a>
            </div>
            <div class="i-social-icon i-meetup span1">
                <a href="http://www.meetup.com/Startup-Office-Hours-NYC/" target="blank">
                    <div class="meetup-sprite social-media-sprite"></div>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div id="section3-anchor-link" class="section section3">
        <div class="content-container" id="guild">

            <h2>The Guild Model</h2>
        
            <div class="guild-shield">
                <img src="../assets/img/guild-model.png" alt="The Hackerati, Careers, The Guild Model"/>
            </div>

            <div class="guild-copy">

                <p>
                    The Hackerati appreciates that the best way to learn new skills is through guided, hands-on experience, as demonstrated by medieval guilds. Just as master artisans passed on secrets of the trade to less experienced students, The Hackerati cultivates an environment of continuous education tailored to producing master engineers.
                </p>

                <div class="guild-list">

                    <ul class="guild-titles">
                        <li>Apprentice</li>
                        <li>Journeyman</li>
                        <li>Master</li>
                    </ul>

                    <ul class="equals-signs">
                        <li>=</li>
                        <li>=</li>
                        <li>=</li>
                    </ul>

                    <ul class="guild-translations">
                        <li>Intern</li>
                        <li>Engineer</li>
                        <li>Veteran</li>
                    </ul>

                </div>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>

</div>

<script type="text/javascript" src="../js/persistent-header.js"></script>
<script type="text/javascript" src="../js/perks.js"></script>
{% include pingdom %}
