---
layout: home_page
title: The Hackerati
---

<!--* SPLASH PAGE SECTION 1 *-->  

<div class="welcome-container" id="welcome-container">
    {% include desktop-header.html %}
    <div class="welcome-content">
        <div class="welcome-copy">
            <h4 class="welcome-copy-first">
                Want to complete more high-priority projects?
            </h4>

            <h4 class="welcome-copy-second">
                Our onshore engineers develop solutions in Big Data, Machine Learning and Mobile Apps&#151;right from your office.
            </h4>
    
            <div class="welcome-copy-sub">
                <div class="type-command-wrapper">
                    <div class="type-command-one">
                        <p class="blue">&#91; k &#93;</p><p class="orange"> scroll up</p>
                    </div>
                    <div class="type-command-two">
                        <p class="blue">&#91; j &#93;</p><p class="orange"> scroll down</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="welcome-image">
            <img src="/assets/img/hackworld.png" id="hackworld"/>
        </div>
    </div>
           
    <div class="terminal-buttons">
        <a href="#definition" class="landing-btn btn-contact-us"><i class="fa fa-users"></i> Who We Are</a>
        <a href="#how" class="landing-btn what-we-do"><i class="fa fa-cog"></i> What We Do</a>
        <a href="#section5-anchor-link" class="landing-btn completed-projects"><i class="fa fa-dropbox"></i> Projects</a>
        <a href="#contact" class="landing-btn btn-contact-us"><i class="fa fa-envelope"></i> Contact Us</a>
    </div>
</div>

<div class="all-content">

    <!--* ENGINEERING AS A SERVICE | SECTION 3 *-->

    <div id="section4-anchor-link" class="how-container">
        <div class="how-content" id="how">
            <div class="block-left">
                <h1>Engineering as a Service</h1>
                <hr />
                <p>
                Whether expanding your existing team or starting one from scratch, our pay-as-you-go model gives you total control and flexibility to deliver Web, Mobile, Big Data, and Machine Learning solutions to drive your business.
                </p>

                <h2 class="how-h2">We Work for Hire</h2>
                <p>
                You name it. We build it. You own it.
                </p>

                <h2 class="how-h2">We're Agile</h2>
                <p>
                We work in sprints to develop your product incrementally. Each sprint yields completed modules of the final product, allowing for testing and iterative enhancement from the beginning. Managing risk has never been so straightforward. 
                </p>
                <p>
                We'll build your products right&#8212;and we'll help you build the right products.
                </p>
                <h2 class="how-h2">We're Local</h2>
                <p>
                We can work alongside your existing tech team and product owners. From conception to completion, you can be intimately involved in every aspect of development.
                </p>
</div>
            <div class="clearfix"></div>
            <!--[if !(IE 10)]>     
            <img class="ie-process" src="/sites/all/themes/hackerati/images/processiebg.png">
            <![endif]-->  
            <div class="block-right" id="gear-wrapper">
                <div id="outerTurn">
                    <img class="gear1_small gear1_small_TurnCounterClockwise" src="../assets/img/gears/gear1_small.svg" />
                    <img class="gear2_medium gear2_medium_TurnClockwise" src="../assets/img/gears/gear2_medium.svg" />
                    <img class="gear4_large_top gear4_large_top_TurnClockwise" src="../assets/img/gears/gear4_large_top.svg" />
                    <img class="gear5_extraLarge gear5_extraLarge_TurnClockwise" src="../assets/img/gears/gear5_extraLarge.svg" />
                    <img class="gear3_mediumLarge gear3_mediumLarge_TurnClockwise" src="../assets/img/gears/gear3_mediumLarge.svg" />
                    <img class="gear3_mediumLarge_orange gear3_mediumLarge_Orange_TurnCounterClockwise" src="../assets/img/gears/gear3_mediumLarge_orange.svg" />
                    <img class="gear4_large_bottom gear4_large_bottom_TurnClockwise" src="../assets/img/gears/gear4_large_bottom.svg" />
                </div>
            </div> 
        </div>
    </div>

    <!-- CLIENTS | SECTION 4 *-->

    <div id="section5-anchor-link" class="clients-container">
        <div class="clients-content" id="clients">
            <h2 id="clients-title">Projects</h2>
            <p class="clients-intro"> The Hackerati will work with your team continuously throughout your projects to ensure that we're delivering the right solutions for your business, even as you adapt to constantly changing conditions. </p>
            <p class="clients-tap"> Tap on a project to learn more... </p>
            <div class="clients-slideshow">
                <div class="clients-info clients1">
                    <div class="clients-box">
                        <h3 class="huffington-post-h3"> The Huffington Post </h3>
                        <img src="/assets/img/box-huffpost.png"/>
                    </div>
                    <div class="tooltip">
                        <div class="arrow-box-left">
                            <h3>Description</h3>
                            <div class="clients-description">
                                <p> Designed, developed, and maintain mobile APIs to support millions of active users </p>
                                <p> Performed R&amp;D for next generation architecture using Scala/Play </p>
                                <p> Contributing to Android, iOS, and mobile Web apps </p>
                                <p> Working on Ruby and PHP code base that supports over 39 million monthly unique visitors </p>
                                <p> Responsible for real-time analytics, machine learning and NLP systems </p>
                            </div>
                        </div>
                        <div class="arrow-box-middle">
                            <h3>Resources</h3>
                            <div class="clients-resources">
                                <div class="clients-icon">
                                    <div class="fa-icon">
                                        <i class="icon-cogs icon-3x"></i>
                                    </div>
                                    <p> 14 Engineers </p>
                                </div>
                                <div class="clients-icon">
                                    <div class="fa-icon">
                                        <i class="icon-book icon-3x"></i>
                                    </div>
                                    <p> 5 Interns </p>
                                </div>
                                <div class="clients-icon">
                                    <div class="fa-icon">
                                        <i class="icon-male icon-3x"></i> 
                                    </div>
                                    <p> 1 Program Manager </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="arrow-box-right">
                            <h3>Tools</h3>
                            <div class="clients-tools">
                                <div class="clients-icon">
                                    <img src="../assets/img/testhadoop.png" title="Hadoop"/>
                                    <p> Hadoop </p>
                                </div>
                                <div class="clients-icon">
                                    <img src="../assets/img/test1pic2.png" title="iOS Apps" />
                                    <p> iOS Apps </p>
                                </div>
                                <div class="clients-icon">
                                    <img src="../assets/img/test1pic4.png" title="Android Apps" />
                                    <p> Android Apps </p>
                                </div>
                                <div class="clients-icon">
                                    <img src="../assets/img/test1pic3.png" title="Scala" />
                                    <p> Scala </p>
                                </div>
                                <div class="clients-icon">
                                    <img src="../assets/img/testjava.png" title="Java" />
                                    <p> Java </p>
                                </div>
                                <div class="clients-icon">
                                    <img src="../assets/img/test1pic.png" title="Play" />
                                    <p> Play </p>
                                </div>
                                <div class="clients-icon">
                                    <img src="../assets/img/testrails.png" title="Ruby on Rails" />
                                    <p> Ruby on Rails </p>
                                </div>
                                <div class="clients-icon">
                                    <img src="../assets/img/testgroovy.png" title="Groovy on Grails" />
                                    <p> Groovy on Grails </p>
                                </div>
                                <div class="clients-icon">
                                    <img src="../assets/img/test1pic5.png" title="PHP" />
                                    <p> PHP </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clients-info clients2">
                    <div class="clients-box">
                        <img src="../assets/img/box.png"/>
                        <h3> Financial Software Firm </h3>
                    </div>
                    <div class="tooltip">
                        <div class="arrow-box-left">
                            <h3>Description</h3>
                            <div class="clients-description">
                                <p> Stabilized a legacy market simulation and trader training platform developed in .NET/C# </p>
                                <p> Introduced agile development process to increase frequency of new feature releases </p>
                                <p> Extended the life of the current code base </p>
                                <p> Adding capabilities with new UI/UX &amp; analytics features for traders </p>
                                <p> Architecting cloud-based delivery and analytics for training assessments </p>
                            </div>
                        </div>
                        <div class="arrow-box-middle">
                            <h3>Resources</h3>
                            <div class="clients-resources">
                                <div class="clients-icon">
                                    <div class="fa-icon">
                                        <i class="icon-cogs icon-3x"></i>
                                    </div>
                                    <p> 4 Engineers </p>
                                </div>
                                <div class="clients-icon">
                                    <div class="fa-icon">
                                        <i class="icon-male icon-3x"></i> 
                                    </div>
                                    <p> 1 Program Manager </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="arrow-box-right">
                            <h3>Tools</h3>
                            <div class="clients-tools">
                                <div class="clients-icon">
                                    <img src="../assets/img/test2pic.png" title="UI/UX Development" />
                                    <p> UI/UX Development </p>
                                </div>
                                <div class="clients-icon">
                                    <img src="../assets/img/test2pic5.png" title="Scrum" />
                                    <p> Scrum </p>
                                </div>
                                <div class="clients-icon">
                                    <img src="../assets/img/test2pic3.png" title="Stabilizing Code Base" />
                                    <p> Stabilizing Code Base </p>
                                </div>
                                <div class="clients-icon">
                                    <img src="../assets/img/test2pic4.png" title=".NET/C#" />
                                    <p> .NET/C# </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clients-info clients3">
                    <div class="clients-box">
                        <img src="../assets/img/box.png"/>
                        <h3> Bootstrapped Social Media Startup </h3>
                    </div>
                    <div class="tooltip">
                        <div class="arrow-box-left">
                            <h3>Description</h3>
                            <div class="clients-description">
                                <p> Worked with founder to design and deliver a prototype for a Facebook-based social interaction game. </p>
                                <p> Enabled rapid focus testing to start the process of refining the product. </p>
                                <p>  Designed solution based on Bootstrap, Node.js, and MongoDB. </p>
                            </div>
                        </div>
                        <div class="arrow-box-middle">
                            <h3>Resources</h3>
                            <div class="clients-resources">
                                <div class="clients-icon">
                                    <div class="fa-icon">
                                        <i class="icon-cogs icon-3x"></i>
                                    </div>
                                    <p> 2 Engineers </p>
                                </div>
                                <div class="clients-icon">
                                    <div class="fa-icon">
                                        <i class="icon-crop icon-3x"></i>
                                    </div>
                                    <p>1 UI/UX Designer</p>
                                </div>
                                <div class="clients-icon">
                                    <div class="fa-icon">
                                        <i class="icon-code icon-3x"></i>
                                    </div>
                                    <p> 1 Software Architect</p>
                                </div>
                                <div class="clients-icon">
                                    <div class="fa-icon">
                                        <i class="icon-male icon-3x"></i> 
                                    </div>
                                    <p> 1 Program Manager </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="arrow-box-right">
                            <h3>Tools</h3>
                            <div class="clients-tools">
                                <div class="clients-icon">
                                    <img src="../assets/img/test3pic3.png" title="Game Development" />
                                    <p> Game Development </p>
                                </div>
                                <div class="clients-icon">
                                    <img src="../assets/img/test3pic4.png" title="node.js" />
                                    <p> node.js </p>
                                </div>
                                <div class="clients-icon">
                                    <img src="../assets/img/test3pic5.png" title="MongoDB" />
                                    <p> MongoDB </p>
                                </div>
                                <div class="clients-icon">
                                    <img src="../assets/img/test3pic2.png" title="Bootstrap Project" />
                                    <p> Bootstrap Project </p>
                                </div>
                                <div class="clients-icon">
                                    <img src="../assets/img/test3pic.png" title="Facebook App" />
                                    <p> Facebook App </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="../assets/img/conveyor.png" class="conveyor" />
                <div class="conveyor-gear-row">
                    <img src="../assets/img/conveyor-gear.png" class="conveyor-gear" />
                    <div id="gear-spread">
                        <div>
                            <img src="../assets/img/conveyor-gear.png" class="conveyor-gear"/>
                        </div>
                        <div>
                            <img src="../assets/img/conveyor-gear.png" class="conveyor-gear"/>
                        </div>
                        <div>
                            <img src="../assets/img/conveyor-gear.png" class="conveyor-gear"/>
                        </div>
                        <div>
                            <img src="../assets/img/conveyor-gear.png" class="conveyor-gear"/>
                        </div>
                        <div>
                            <img src="../assets/img/conveyor-gear.png" class="conveyor-gear"/>
                        </div>
                        <div>
                            <img src="../assets/img/conveyor-gear.png" class="conveyor-gear"/>
                        </div>
                        <div>
                            <img src="../assets/img/conveyor-gear.png" class="conveyor-gear"/>
                        </div>
                        <div>
                            <img src="../assets/img/conveyor-gear.png" class="conveyor-gear"/>
                        </div>
                        <div>
                            <img src="../assets/img/conveyor-gear.png" class="conveyor-gear"/>
                        </div>
                    </div>
                </div>
            </div>
            <div id="clients-slideshow-block">
                <span class="clients-slideshow-previous">
                    <a href="#">Previous</a>
                </span>
                <span class="clients-slideshow-next">
                    <a href="#">Next</a>
                </span>
            </div>
        </div>
    </div>

    <!-- LETS TALK | SECTION 5 *-->
    
    <div id="section6-anchor-link" class="contact-container">
        <div class="contact-bg-overlay" id="contact">
            <div id="contact-content">
                <h1 id="contact-title">Let's Talk</h1>
                <div class="gray-border"></div>
                <div class="clearfix"></div>
                <a id="google-maps-wrapper" href="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=41+Cooper+Square,+New+York,+NY&amp;aq=2&amp;oq=cooper+union&amp;sll=42.747012,-71.312256&amp;sspn=4.574022,9.140625&amp;vpsrc=0&amp;t=h&amp;ie=UTF8&amp;hq=The+Cooper+Union,&amp;hnear=Cooper+Square,+New+York,+10003&amp;ll=40.729795,-73.990602&amp;spn=0.00922,0.017853&amp;z=16&amp;iwloc=A&amp;cid=8065674550730992253" target="_blank"></a>
                <!--[if !(IE 10)]><div style="width:800px;height:435px" id="ie-maps"><iframe width="800" height="435" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=41%2Bcooper%2Bsquare&ie=UTF8&z=12&t=m&iwloc=near&output=embed"></iframe><table width="800" cellpadding="0" cellspacing="0" border="0"><tr><td align="left"><small><a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=41%2Bcooper%2Bsquare&ie=UTF8&z=12&t=m&iwloc=near">View Larger Map</a></small></td><td align="right"><small><a href="http://www.embedgooglemap.com">embed google map</a></small></td></tr></table></div><![endif]-->
            </div>
        </div>
    </div>

</div><!--all-content-->

<!--* JAVASCRIPT THAT LOADS ASYNCHRONOUSLY *-->

<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="text/javascript" src="../js/clients-carousel.js"></script>
<script type="text/javascript" src="../js/eas-carousel.js"></script>

<!--* GOOGLE MAPS *-->  

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCjevm4lVn1HRpGnIkfIKZJ-kA9OnPfvnQ&sensor=false"></script>
<script type="text/javascript" src="../js/google-maps.js"></script>

{% include pingdom %}
