<p>Alex is The Hackerati's Renaissance Man: Jack of all trades, master of many. After graduating from UW with a degree in Music, he toured the world as a drummer for three years, performing with several of Holland America Line's bands. Toward the end of these three years, he began to explore his interest in computer science by teaching himself to code in JavaScript. He enlisted in NYIT's Computer Science program after returning home from his final journey at sea, where he took Rob's Computer Architecture course and discovered his path to The Hackerati.
</p>
<p>
Alex hacks in JavaScript and iOS, and noodles with functional languages like Haskell and Scala. He is also a talented graphic designer and videographer, and frequently contributes to The Hackerati's multimedia projects. (See our <a href=<https://www.youtube.com/channel/UCm20bzXDmrekchztqTkyaBQ">YouTube page</a>.)
</p>
<p>
In his free time—outside of being a fulltime student, boyfriend, and dog enthusiast—Alex enjoys podcasting, sport, and bickering with Mike.
</p>
