<p>
	<a href="mailto:alex@thehackerati.com">alex@thehackerati.com</a>
	<br>
	<a href="http://amsheehan.github.io/" target="blank">amsheehan.com</a>
</p>
<div class="team-social-media">
	<a href="http://www.linkedin.com/in/amsheehan"target="blank">
	    <div class="team-social-media-sprite linkedin-team"></div>
	</a>
	<a href="https://twitter.com/WrksOnMyMachine"target="blank">
	    <div class="team-social-media-sprite twitter-team"></div>
	</a>
	<a href="https://github.com/amsheehan" target="blank">
	    <div class="team-social-media-sprite github-team"></div>
	</a>
</div>