<p>
	<a href="mailto:alex.krupp@thehackerati.com">alex.krupp@thehackerati.com</a>
	<br>
	<a href="http://alexkrupp.typepad.com/" target="blank">Sensemaking</a>
</p>
<div class="team-social-media">
	<a href="https://www.linkedin.com/in/alexkrupp"target="blank">
	    <div class="team-social-media-sprite linkedin-team"></div>
	</a>
	<a href="https://twitter.com/alexkrupp"target="blank">
	    <div class="team-social-media-sprite twitter-team"></div>
	</a>
	<a href="https://github.com/Alex3917" target="blank">
	    <div class="team-social-media-sprite github-team"></div>
	</a>
</div>