<p>
	<a href="mailto:ariel@thehackerati.com">ariel@thehackerati.com</a>
	<br>
	<a href="http://www.electricstud.io/" target="blank">electricstud.io</a>
</p>
<div class="team-social-media">
	<a href="https://www.linkedin.com/in/arielcotton"target="blank">
	    <div class="team-social-media-sprite linkedin-team"></div>
	</a>
	<a href="https://twitter.com/argoncobalt"target="blank">
	    <div class="team-social-media-sprite twitter-team"></div>
	</a>
	<a href="https://github.com/argoncobalt" target="blank">
	    <div class="team-social-media-sprite github-team"></div>
	</a>
</div>