<p>
Derek earned Bachelor’s and Master's of Engineering degrees from The Cooper Union with a focus on artificial intelligence and natural language processing. He hacks in Python, C++, C, Objective-C, HTML, CSS, JavaScript/jQuery, PHP, Django, and MATLAB.
</p>
<p>
He has completed projects involving DSP, machine learning, AI, natural language processing, and web development. Examples include a neural network-based solution for automatical troll detection in online forums that decreased the need for human moderation by 69%, a statistical machine translation system that improves upon existing automatic translation from Korean to English, and a checkers AI.
</p>
<p>
Derek is also an avid dancer who competes in NYC and tri-state area breakdance battles.
</p>
