<p>The best way to describe Donny’s role at The Hackerati is Professional Cat Herder—that is, Certified Scrum Master and Agile enthusiast. He keeps the team from getting lost in the Cloud and ensures that we meet the mark on deliverables. 
</p>
<p>
Donny attended Cooper Union for Mechanical Engineering, while also working in product development with the Stryker Orthopaedics Knee Implant division. After graduation, he worked in Project Management at Quirky on various products including a disappearing ink highlighter, a musical train, and a measured oil pourer.
</p>
<p>
When not working, Donny can be found making the rounds on the NYC startup scene—specifically events related to venture capital, alternative energy, connected devices, and agile/lean methodologies—meeting some of NYC’s many awesome technologists. Donny is also an active member of Toastmasters International and enjoys practicing his public speaking and the art of leadership. Combine his toasting skills with his certified bartending skills and it's obvious why he is fabulous to have at parties. Cheers!
</p>
