<p> 
Ethan has academic experience from Cooper Union in machine learning, and signal processing. His main professional experience has been gained in maintaining the APIs and editorial CMS for a Top 50 website, designing/implementing a REST user API in Django, and using machine learning to classify national retail data for a top market research company.
</p>
<p>
Ethan primarily hacks in Python, Django, MATLAB, C++, and frontend web (HTML/CSS/Javascript).
</p>
<p>
On the side, Ethan is a guitar player and singer-songwriter. He’s been writing songs since he was 12, and he released his first material last year. Expect his next release sometime this summer.
</p>
