<p>
	<a href="mailto:geoff@thehackerati.com">geoff@thehackerati.com</a> 
	<br>
	<a href="http://www.scottopia.com/" target="blank">scottopia.com</a>
</p>
<div class="team-social-media">
	<a href="https://www.linkedin.com/in/geoffscott"target="blank">
	    <div class="team-social-media-sprite linkedin-team"></div>
	</a>
	<a href="https://twitter.com/geoffscott"target="blank">
		<div class="team-social-media-sprite twitter-team"></div>
	</a>
	<a href="https://github.com/geoffscott" target="blank">
	    <div class="team-social-media-sprite github-team"></div>
	</a>
</div>