<p>Grace is The Hackerati’s lead iOS developer and UI/UX designer. She studied psychology at TCNJ, and has a background in music, which inspired her to work with the Westminster Conservatory of Music. She recently spent three years as a freelance game developer, during which she honed her storytelling and design skills.
</p>
<p>
Grace hacks in Ojective-C, Actionscript, and Unity.
</p>
<p>
In her free time, Grace learns new technologies, plays the hammer dulcimer and classical piano (unless improvising with The Hackerati Band), levels up in all aspects of life, and makes some of the most clever puns anyone has ever heard. She also adores turtles.
</p>
