<p>
Kevin specializes in hitting the ground running. He's unafraid to ask questions to expand knowledge&mdash;whatever helps him achieve his best work. He lives by the motto "Work to Learn." Thinking of new app ideas is a daily routine.
</p>
<p>
Kevin graduated with a dual degree in Electrical and Computer Engineering from NYU Poly. Though he’s most recently been on the software side of engineering, concepts like Google's Project Ara are a huge side interest. 
</p>
<p>
A hacker at heart, Kevin also considers himself a fashion enthusiast and sporadic writer. Whether gingham or stripes, recursion or looping, or simply figuring out how to best put down on paper the most current verse, Kevin is always solving problems.
</p>
