<p> 
Nenad has a degree in Mathematics and Computer Science from the University of Belgrade in Serbia. He originally began as a software engineer, but then switched to an IT auditor/consultant, which he pursued for ten years. After moving to the United States, however, he connected with The Hackerati, and is once again pursuing his dream job as a software engineer. Nenad hacks in PHP, Java, JavaScript, JQuery, Python, and plenty of other languages. He spends most of his time outside of The Hackerati with his wife and son.
</p>
