<p>
Susie is an iOS magician and takes great pleasure in bossing around computers. She began teaching herself Objective-C after getting her first iDevice, the iPhone 3. Since then she has helped code numerous apps, most recently a baseball gaming app called Topps BUNT and several white-label real estate apps for Smarter Agent.
</p>
<p>
Before jumping into mobile application development, Susie was a web developer at MTV Networks for five years. When not geeking out, she enjoys fiction writing, hip-hop dancing and going to church on Sundays. She lives in Brooklyn with her “son” Chester, a French Bulldog.
</p>
