<div id="section1-anchor-link" class="b-page-header-section">
    <div class="content-container b-page-content-container">
        <div class="logo b-page-logo">
            <a href="/">
                <img src="../assets/img/logo.png" />
            </a>
        </div>
    
        <nav class="nav-links b-page-nav-links">
            <a class="about-link" href="/about">About</a>
            <a href="/careers">Careers</a>
            <a href="/academy">Academy</a>
           <!-- <a href="/blog">Blog</a> -->
        </nav>

        <div class="clearfix"></div>
    </div>
</div>
