<div class="pre-footer">
    <div class="logo">
        <a href="{{ site.url }}/">
            <img src="{{ site.url }}/assets/img/logo.png" alt="The Hackerati Logo, The Hackerati" />
        </a>
    </div>

    <nav id="nav-links" class="nav-links">
        <a href="{{ site.url }}/about">About</a>
        <a href="{{ site.url }}/academy">Academy</a>
        <a href="{{ site.url }}/careers">Careers</a>
        <a href="{{ site.url }}/blog">Blog</a>
        <a href="{{ site.url }}/contact">Contact</a>
    </nav>

    <div class="clearfix"></div>
</div>
<footer>
    <p>The Hackerati, All Rights Reserved</p>
    <a href="feed.xml"><i class="fa fa-rss rss-icon"></i></a>
</footer>
