<header class="blog-header">
    <div class="header-block">
        <h1>&#123;<a href="{{ site.url }}/blog">Bit Shift</a>&#125;</h1>
        <div class="tag-line"> 
            <span class="blog-logo" style="color: #f4f4f4;">&#62; _ . . . <i class="fa fa-pencil"></i></span>
            <span class="blog-sub-title">a blog maintained by <a href="{{ site.url }}/">The Hackerati</a></span>
        </div>
    </div>
    <nav class="blog-nav">
      <ul class="blog-header-ul">
        <li><a href="{{ site.url }}/blog">Home</a> / </li>
        <li><a href="{{ site.url }}/tag/tech"> Tech</a> / </li>
        <li><a href="{{ site.url }}/tag/entrepreneurship/"> Entrepreneurship</a> / </li>
        <li><a href="{{ site.url }}/tag/culture/"> Culture</a></li>
      </ul>
    <div class="clearfix"></div>
    </nav>
</header>
