<div class="blog blog-right-column tablet-and-desktop span7">
    {% for post in site.posts %}	
        <h3>
            {{ post.title }}
        </h3>   
        <p class="orange-text">
            {{ post.post_author }} | {{ post.date | date: "%B %e, %Y" }}
            <ul class="tag_list">
                {% for tag in post.tags %}
                    <li class="inline archive_list"><a class="tag_list_link" href="/tag/{{ tag }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </p>
        <article class="entry-summary">{{ post.excerpt }}</article>
        <p class="continue-reading"><a href="{{ post.url }}">...continue reading</a></p>
    {% endfor %}
</div>
