<div class="blog-left-column">
    <div class="terminal-wrapper">
      <div class="terminal-menu-bar">
          <div class="menu-bar-button"></div>
          <div class="menu-bar-button"></div>
          <div class="menu-bar-button"></div>
          <div class="clearfix"></div>
      </div>
      <div class="terminal-body">
          <ul class="post-list">
              <li class="term-user">user@home:~ $ <p class="cursor-blink">_</p></li>            
              {% for post in site.posts %}

                 <li>{{ post.post_author }}:~ $ <a href="{{ post.url }}">{{ post.title }}</a></li>
              
              {% endfor %}
          </ul>
          <div class="expand-archive">+ expand</div>
      </div>
    </div>
    <div class="blogroll">
        <h5>Blogroll</h5>
        <div class="blogroll-box">
            <a href="http://googledevelopers.blogspot.com/"><img src='/assets/img/googleicon128.png' /></a>
        </div>
        <div class="blogroll-box">
            <a href="http://sethgodin.typepad.com/"><img src='/assets/img/sethsblog.png' /></a>
        </div>
        <div class="blogroll-box">
            <a href="https://news.ycombinator.com/"><img src='/assets/img/ycomb.png' /></a>
        </div>            
        <div class="blogroll-box">
            <a href="https://blog.twitter.com/developer"><img src='/assets/img/twittericon128.png' /></a>
        </div>            
        <div class="blogroll-box">
            <a href="http://www.ribbonfarm.com/"><img src='/assets/img/ribbonfarm128.png' /></a>
        </div>
        <div class="blogroll-box">
            <a href="http://alistapart.com/"><img src='/assets/img/list128.png' /></a>
        </div>
         <div class="blogroll-box">
            <a href="http://alexkrupp.typepad.com/"><img src='/assets/img/krupp128.png' /></a>
        </div>
        <div class="blogroll-box">
            <a href="http://mmminimal.com/"><img src='/assets/img/mmm128.png' /></a>
        </div>
        <div class="blogroll-box">
            <a href="http://dailyjs.com/"><img src='/assets/img/dailyjs128.png' /></a>
        </div>                
        <div class="blogroll-box">
            <a href="http://priceonomics.com/"><img src='/assets/img/pricenomics128.png' /></a>
        </div> 
        <div class="blogroll-box">
            <a href="http://www.fourhourworkweek.com/blog/"><img src='/assets/img/timferris128.png' /></a>
        </div>
        <div class="blogroll-box">
            <a href="http://hackaday.com/"><img src='/assets/img/hackaday128.png' /></a>
        </div>    
        <div class="blogroll-box">
            <a href="http://www.huffingtonpost.com/the-blog/"><img src='/assets/img/huff128.png' /></a>
        </div>    
    </div>
    <div class="projects-in-progress">
        <h5>Contributions</h5>

        <div class="projects-box">
            <a href="https://www.facebook.com/FwdEveryone"><img src='/assets/img/fwd128.png' /></a>
        </div>
        <div class="projects-box">
            <a href="https://un.org"><img src='/assets/img/UN128.png' /></a>
        </div>
        <div class="projects-box">
            <a href="http://code.huffingtonpost.com/floatingpoints"><img src='/assets/img/floating128.png' /></a>
        </div>
        <div class="projects-box">
            <a href="http://technophilespodcast.com"><img src='/assets/img/tpc128.png' /></a>
        </div>
    </div>
</div>

<script type='text/javascript' src="/js/expand.js"></script>
