<div class="blog-right-column content">
    {% for post in paginator.posts %}	
        <h3>
            <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
        </h3>   
        <p class="orange-text post-author">
            {% for gravatar in post.post_gravatar %}
                <img src="http://www.gravatar.com/avatar/{{gravatar}}.jpg"/>             
            {% endfor %}

            {{ post.post_author }} | {{ post.date | date: "%B %e, %Y" }} |

            <ul class="tag_list">
                {% for tag in post.tags %}
                    <li class="inline archive_list"><a class="tag_list_link" href="{{ site.url }}/tag/{{ tag }}"> {{ tag }}</a></li>
                {% endfor %}
            </ul>
        </p>
        <article class="entry-summary">{{ post.excerpt }}</article>
        <p class="continue-reading"><a href="{{ site.url }}{{ post.url }}">...continue reading</a></p>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                <a href="{{ site.url }}/blog" class="previous">Previous</a>
            {% else %}
                <a href="{{ site.url }}/blog/page{{ paginator.previous_page }}" class="previous">Previous</a>
            {% endif %}
        {% else %}
            <span class="previous">Previous</span>
        {% endif %}
        
        <span class="page_number "> | Page: {{ paginator.page }} of {{ paginator.total_pages }} | </span>
        
        {% if paginator.next_page %}
            <a href="{{ site.url }}/blog/page{{ paginator.next_page }}" class="next">Next</a>
        {% else %}
            <span class="next ">Next</span>
        {% endif %}
    </div>
</div>

<div class="clearfix"></div>
