<div class="blog-left-column">
    <div class="terminal-menu-bar span10">
        <div class="menu-bar-button"></div>
        <div class="menu-bar-button"></div>
        <div class="menu-bar-button"></div>
        <div class="clearfix"></div>
    </div>
    <div class="terminal-body span10">
        <ul>
            {% for post in site.posts %}
               <li>{{ post.post_author }}$ <a href="{{ post.url }}">{{ post.title }}</a></li>
            
            {% endfor %}
        </ul>
    </div>
</div>
