<div class="pre-footer">
    <div class="logo">
        <a href="/">
            <img src="{{ site.url }}/assets/img/logo.png" alt="The Hackerati Logo, The Hackerati" />
        </a>
    </div>

    <nav id="nav-links" class="nav-links">
        <a href="/about">About</a>
        <a href="/academy">Academy</a>
        <a href="/careers">Careers</a>
        <a href="/contact">Contact</a>
        <a href="/blog">Blog</a>
    </nav>

    <div class="clearfix"></div>
</div>
<footer>
    <p>The Hackerati, All Rights Reserved</p>
    <a href="feed.xml"><i class="fa fa-rss rss-icon"></i></a>
</footer>
