<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" style="color: black">Contact Us</h4>
      </div>
      <div class="modal-body" id="modal-body" style="height:422px">
        <script>
        function postInfo() {
          //Reset modal size and error warnings upon resubmitting
          document.getElementById('nameGroup').classList.remove('has-error');
          document.getElementById('nameSpan').style.display = 'none';
          document.getElementById('emailGroup').classList.remove('has-error');
          document.getElementById('emailSpan').style.display = 'none';
          document.getElementById('phoneGroup').classList.remove('has-error');
          document.getElementById('phoneSpan').style.display = 'none';
          document.getElementById('projectDescriptionGroup').classList.remove('has-error');
          document.getElementById('projectDescriptionSpan').style.display = 'none';
          document.getElementById('requiredTechnologiesGroup').classList.remove('has-error');
          document.getElementById('requiredTechnologiesSpan').style.display = 'none';
          document.getElementById('budgetGroup').classList.remove('has-error');
          document.getElementById('budgetSpan').style.display = 'none';
          document.getElementById('cityGroup').classList.remove('has-error');
          document.getElementById('citySpan').style.display = 'none';
          document.getElementById('howGroup').classList.remove('has-error');
          document.getElementById('howSpan').style.display = 'none';
          document.getElementById('modal-body').style.height = '444px';
          //Retrieve input field values
          var myDataRef = new Firebase('https://luminous-fire-4244.firebaseio.com/');
          var name = document.getElementById('nameInput').value;
          var email = document.getElementById('emailInput').value;
          var phone = document.getElementById('phoneInput').value;
          var projDesc = document.getElementById('projectDescriptionInput').value;
          var reqTech = document.getElementById('requiredTechnologiesInput').value;
          var budget = document.getElementById('budgetInput').value;
          var city = document.getElementById('cityInput').value;
          var how = document.getElementById('howInput').value;
          //test required fields
          var fail = false;
          var heightDiff = 0;
          if (name == null || name == "") {
            document.getElementById('nameGroup').classList.add('has-error');
            document.getElementById('nameSpan').style.display = 'inline';
            heightDiff = heightDiff + 23;
            fail = true;
          }
          if (email == null || email == "") {
            document.getElementById('emailGroup').classList.add('has-error');
            document.getElementById('emailSpan').style.display = 'inline';
            heightDiff = heightDiff + 23;
            fail = true;
          }
          if (phone == null || phone == "" || Math.floor(phone.replace(/[\s|\(|\)|-]/g, '').length / 2) != 5) {
            document.getElementById('phoneGroup').classList.add('has-error');
            document.getElementById('phoneSpan').style.display = 'inline';
            heightDiff = heightDiff + 23;
            fail = true;
          }
          if (projDesc == null || projDesc == "") {
            document.getElementById('projectDescriptionGroup').classList.add('has-error');
            document.getElementById('projectDescriptionSpan').style.display = 'inline';
            heightDiff = heightDiff + 23;
            fail = true;
          }
          if (reqTech == null || reqTech == "") {
            document.getElementById('requiredTechnologiesGroup').classList.add('has-error');
            document.getElementById('requiredTechnologiesSpan').style.display = 'inline';
            heightDiff = heightDiff + 23;
            fail = true;
          }
          if (budget == null || budget == "") {
            document.getElementById('budgetGroup').classList.add('has-error');
            document.getElementById('budgetSpan').style.display = 'inline';
            heightDiff = heightDiff + 23;
            fail = true;
          }
          if (city == null || city == "") {
            document.getElementById('cityGroup').classList.add('has-error');
            document.getElementById('citySpan').style.display = 'inline';
            heightDiff = heightDiff + 23;
            fail = true;
          }
          if (how == null || how == "") {
            document.getElementById('howGroup').classList.add('has-error');
            document.getElementById('howSpan').style.display = 'inline';
            heightDiff = heightDiff + 23;
            fail = true;
          }
          //Resize modal
          document.getElementById('modal-body').style.height = 422 + heightDiff + 'px';

          if (!fail) {
            myDataRef.push({name: name, email: email, phone: phone, projDesc: projDesc, reqTech: reqTech, budget: budget, city: city, how: how});
            document.getElementById('nameGroup').style.display = 'none';
            document.getElementById('emailGroup').style.display = 'none';
            document.getElementById('phoneGroup').style.display = 'none';
            document.getElementById('projectDescriptionGroup').style.display = 'none';
            document.getElementById('requiredTechnologiesGroup').style.display = 'none';
            document.getElementById('budgetGroup').style.display = 'none';
            document.getElementById('cityGroup').style.display = 'none';
            document.getElementById('howGroup').style.display = 'none';
            document.getElementById('formSubmit').style.display = 'none';
            document.getElementById('confirmationMessage').style.display = 'inline';
            document.getElementById('modal-body').style.height = '66px';
            document.getElementById('modal-body').style.height = '66px';
            document.getElementById('modal-content').style.width = '350px';
            document.getElementById('modal-content').style.marginLeft = '125px';
          }
        }
        </script>

        <!-- CONTACT FORM FIELDS -->
        <div class="form-group" id="nameGroup">
          <input type='text' class='form-control' id='nameInput' placeholder='Name'>
          <span class="help-block" id="nameSpan" style="display: none">Please enter your name</span>
        </div>
        <div class="form-group"i id="emailGroup">
          <input type='email' class='form-control' id='emailInput' placeholder='Email'>
          <span class="help-block" id="emailSpan" style="display: none">Please enter a valid email address</span>
        </div>
        <div class="form-group" id="phoneGroup">
          <input type='tel' class='form-control' id='phoneInput' placeholder='Phone'>
          <span class="help-block" id="phoneSpan" style="display: none">Please enter a ten digit phone number (e.g. xxx-xxx-xxxx)</span>
        </div>
        <div class="form-group" id="projectDescriptionGroup">
          <input type='text' class='form-control' id='projectDescriptionInput' placeholder='Project Description'>
          <span class="help-block" id="projectDescriptionSpan" style="display: none">Please provide a project description</span>
        </div>
        <div class="form-group" id="requiredTechnologiesGroup">
          <input type='text' class='form-control' id='requiredTechnologiesInput' placeholder='Required Technologies'>
          <span class="help-block" id="requiredTechnologiesSpan" style="display: none">Please include a statement of required technologies</span>
        </div>
        <div class="form-group" id="budgetGroup">
          <input type='text' class='form-control' id='budgetInput' placeholder='Budget'>
          <span class="help-block" id="budgetSpan" style="display: none">Please provide a budget estimate</span>
        </div>
        <div class="form-group" id="cityGroup">
          <input type='text' class='form-control' id='cityInput' placeholder='City'>
          <span class="help-block" id="citySpan" style="display: none">Please enter a location</span>
        </div>
        <div class="form-group" id="howGroup">
          <input type='text' class='form-control' id='howInput' placeholder='How did you find out about The Hackerati?'>
          <span class="help-block" id="howSpan" style="display: none">Please include how you found us</span>
        </div>
        <div id="confirmationMessage" style="display: none">
          <h4 style="color: black; margin: 0; text-align: center">Thanks for submitting!</h4>
        </div>
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="formSubmit" onclick="postInfo()">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
