<script type="text/javascript" src="https://thehackerati.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e/en_US-b0lepd-1988229788/6138/50/1.4.0-m5/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=bd81ffa8"></script>
<script type="text/javascript" src="{{ site.url }}/js/feedback.js"></script>
<div id="feedback" class="sb-slide">FEEDBACK</div>
<script type="text/javascript">
window.NREUM||(NREUM={});NREUM.info={"beacon":"beacon-3.newrelic.com","licenseKey":"041236dcb0","applicationID":"2372241","transactionName":"MgBXbRZVDEcEVUNZVwtKYEsNG01dC1JSSBYVDUU=","queueTime":0,"applicationTime":8,"ttGuid":"","agentToken":"","userAttributes":"","errorBeacon":"jserror.newrelic.com","agent":"js-agent.newrelic.com\/nr-292.min.js"}
</script>
