<footer class="section">
    <div class="content-container">
    
        <div class="footer-share span3">
            <a href="http://twitter.com/TheHackerati" target="blank">
                <img src="../assets/img/twitter.png" alt="THE HACKERATI TWITTER">
            </a>
			<a href="https://www.facebook.com/pages/The-Hackerati/352879328133465?fref=ts" target="blank">
				<img src="../assets/img/facebook.png" alt="THE HACKERATI FACEBOOK">
			</a>
			<a href="http://www.linkedin.com/company/the-hackerati-inc-" target="blank">
				<img src="../assets/img/linkedin.png" alt="THE HACKERATI LINKEDIN">
			</a>
			<a href="https://github.com/thehackerati" target="blank">
				<img src="../assets/img/github.png" alt="THE HACKERATI GITHUB">
			</a>
        </div>
        
        <div class="footer-contact span3">
            <p>The Hackerati, Inc.</p>
			<p>41 Cooper Square, Room 702</p>
			<p>New York, NY 10003</p>
			<p>(917) 426-1066</p>
			<p><a href="mailto:derby@thehackerati.com">email</a></p>
        </div>
        
        <div class="footer-madeny">
            <img src="../assets/img/madelogo.png" alt="THE HACKERATI MADE IN NY" class="madenyc">
        </div>

        <div class="footer-copyright">
			<p>Copyright &#169; 2013 The Hackerati, Inc.</p>
			<p>All rights reserved.</p>
        </div>

        <div class="clearfix"></div>  

    </div>
</footer>



<!--		<div id="footer">


				<div class="sitemap column">

					<h4>Site Map</h4>

					<a href="/">Home</a>
					<ul>
						<li>
							<a href="/#who">Who</a>
						</li>
						<li>
							<a href="/#what">What</a>
						</li>
						<li>
							<a href="/#how">How</a>
						</li>
						<li>
							<a href="/#clients">Clients</a>
						</li>
						<li>
							<a href="/#contact">Contact</a>
						</li>
					</ul>

					<a href="/about">About</a>
					<ul>
						<li>Mission</li>
						<li>Supply</li>
						<li>Apprenticeship</li>
						<li>Benefits</li>
						<li>Leadership</li>
					</ul>

					<a href="/careers">Careers</a>
					<ul>
						<li>Culture</li>
						<li>Guild Model</li>
						<li>Positions</li>
					</ul>

					<a href="/academy">Academy</a>
					<ul>
						<li>Audience</li>
						<li>Pedagogy</li>
						<li>Instructors</li>
					</ul>

				</div>

				<div class="tweets column">

					<h4>Team Tweets</h4>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada ultrices nulla non pellentesque. Nam vehicula, arcu non porttitor scelerisque, libero diam hendrerit nibh, posuere imperdiet ante justo sit amet ante. Donec gravida semper fringilla.</p>

						<p>Aenean commodo, tortor in blandit mollis, lorem arcu fermentum sapien, in dignissim tortor erat sed nisl. Morbi pulvinar nulla tellus, vitae mollis tellus hendrerit nec. Integer dignissim arcu ligula. Donec eu dui sed massa condimentum mattis et ac ipsum. Sed semper pulvinar arcu id tempus. Etiam blandit euismod urna id sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

				</div>

			</div>

		</div>-->
