<footer class="footer-section">
    <div class="content-container">
        <div class="footer-column1">

	    	<h4>Contact</h4>

	        <div class="footer-share span10">
	            <a href="http://twitter.com/TheHackerati" target="blank">
	            	<div class="twitter-footer footer-sprite"></div>
	            </a>

      			<a href="https://www.facebook.com/pages/The-Hackerati/352879328133465?fref=ts" target="blank">
	            	<div class="facebook-footer footer-sprite"></div>
			    </a>

			    <a href="http://www.linkedin.com/company/the-hackerati-inc-" target="blank">
	            	<div class="linkedin-footer footer-sprite"></div>
			    </a>

				<a href="https://github.com/thehackerati" target="blank">
	            	<div class="github-footer footer-sprite"></div>
			    </a>

				<a href="https://plus.google.com/116959192453188050047/posts" target="blank">
	            	<div class="gplus-footer footer-sprite"></div>
			    </a>

				<a href="http://www.meetup.com/Startup-Office-Hours-NYC/" target="blank">
	            	<div class="meetup-footer footer-sprite"></div>
			    </a>
          </div>
        
        <div class="footer-contact span10">
          	<a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=41+Cooper+Square,+New+York,+NY&aq=2&oq=cooper+union&sll=42.747012,-71.312256&sspn=4.574022,9.140625&vpsrc=0&t=h&ie=UTF8&hq=The+Cooper+Union,&hnear=Cooper+Square,+New+York,+10003&ll=40.729795,-73.990602&spn=0.00922,0.017853&z=16&iwloc=A&cid=8065674550730992253" target="blank">
	        	<p>The Hackerati</p>
	            <p>41 Cooper Square, Room 205</p>
	            <p>New York, NY 10003</p>
          	</a>
      		<p>
				<p><i class="fa fa-phone"></i>
				(917) 426-1066</p>
			</p>
      		<p>
        		
        		<a href="mailto:info@thehackerati.com"><i class="fa footer-envelope fa-envelope"></i> info@thehackerati.com</a>
      		</p>
	    </div>

      <div class="h-watermark">
          <img src="/assets/img/H.png" />
      </div>
  
	    <div class="clearfix"></div>

    </div>

    <div class="footer-column2 span2">
    
        <div class="sitemap column">

	    	<h4>Site Map</h4>

	    	<div class="sitemap-category">
		    	<a href="/">Home</a>
		    	<ul>
		    		<li>
		    			<a href="/#how">What</a>
		    		</li>
		    		<li>
		    			<a href="/#clients">Projects</a>
		    		</li>
		    		<li>
		    			<a href="/#contact">Contact</a>
		    		</li>
		    	</ul>
	    	</div>

	    	<div class="sitemap-category">
		    	<a href="/about">About</a>
		    	<ul>
		    		<li>
		    			<a href="/about/#who">Who</a>
		    		</li>
		    		<li>
		    			<a href="/about/#leadership">Leadership</a>
		    		</li>
		    	</ul>
	    	</div>

	    	<div class="sitemap-category">
		    	<a href="/careers">Careers</a>
		    	<ul>
	                <li>
	                    <a href="/careers/#perks">Perks</a>
	                </li>
	                <li>
	                    <a href="/careers/#guild">Guild Model</a>
	                </li>
		    	</ul>
	    	</div>

	    	<div class="sitemap-category">
		    	<a href="/academy">Academy</a>
		    	<ul>
		    		<li>
		    			<a href="/academy/#audience">Audience</a>
		    		</li>
		    		<li>
		    			<a href="/academy/#pedagogy">Pedagogy</a>
		    		</li>
		    	</ul>
	    	</div>

	    </div>
    </div>
    <div class="footer-column3">

        <div class="tweets column">
  	    	<h4>Tweets</h4>

            <a class="twitter-timeline span10" href="https://twitter.com/TheHackerati/team" data-link-color="#4CA0D3"
            data-widget-id="425894235154296832" data-chrome="noheader noscrollbar transparent"  tweet-limit="3">Tweets from https://twitter.com/TheHackerati/team</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
        </div>
    </div>

    <div class="clearfix"></div>

{% include pingdom %}
</div>
</footer>
