<footer class="footer-section">
    <div class="content-container">
        <div class="footer-column1">

	    	<h4>Contact</h4>

	        <div class="footer-share span10">
	            <a href="http://twitter.com/TheHackerati" target="blank">
	            	<div class="twitter-footer footer-sprite"></div>
	            </a>

      			<a href="https://www.facebook.com/pages/The-Hackerati/352879328133465?fref=ts" target="blank">
	            	<div class="facebook-footer footer-sprite"></div>
			    </a>

			    <a href="http://www.linkedin.com/company/the-hackerati-inc-" target="blank">
	            	<div class="linkedin-footer footer-sprite"></div>
			    </a>

				<a href="https://github.com/thehackerati" target="blank">
	            	<div class="github-footer footer-sprite"></div>
			    </a>

				<a href="https://plus.google.com/116959192453188050047/posts" target="blank">
	            	<div class="gplus-footer footer-sprite"></div>
			    </a>

				<a href="http://www.meetup.com/Startup-Office-Hours-NYC/" target="blank">
	            	<div class="meetup-footer footer-sprite"></div>
			    </a>
          </div>
        
        <div class="footer-contact span10">
          	<a href="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=41+Cooper+Square,+New+York,+NY&amp;aq=2&amp;oq=cooper+union&amp;sll=42.747012,-71.312256&amp;sspn=4.574022,9.140625&amp;vpsrc=0&amp;t=h&amp;ie=UTF8&amp;hq=The+Cooper+Union,&amp;hnear=Cooper+Square,+New+York,+10003&amp;ll=40.729795,-73.990602&amp;spn=0.00922,0.017853&amp;z=16&amp;iwloc=A&amp;cid=8065674550730992253" target="blank">
	        	    <p>The Hackerati</p>
	              <p>41 Cooper Square</p>
	              <p>New York, NY 10003</p>
          	</a>
            <br/>
				    <p><i class="fa fa-phone"></i> (917) 426-1066</p>
                  <p><button class="btn-link" data-toggle="modal" data-target="#myModal" style="padding:0px;border:none;margin:0px"><i class="fa footer-envelope fa-envelope"></i> Contact Us</button></p>
	    </div>

      <div class="h-watermark">
          <img src="/assets/img/H.png" alt="The Hackerati, watermark, H"/>
      </div>
  
	    <div class="clearfix"></div>

    </div>

    <div class="footer-column2 span2">
    
        <div class="sitemap column">

	    	<h4>Site Map</h4>

	    	<div class="sitemap-category">
		    	<a href="/">Home</a>
		    	<ul>
		    		<li>
		    			<a href="/#eaas">What</a>
		    		</li>
		    		<li>
		    			<a href="/#projects">Projects</a>
		    		</li>
		    		<li>
		    			<a href="/#contact">Contact</a>
		    		</li>
		    	</ul>
	    	</div>

	    	<div class="sitemap-category">
		    	<a href="/about">About</a>
		    	<ul>
		    		<li>
		    			<a href="/about/#who">Who</a>
		    		</li>
		    		<li>
		    			<a href="/about/#team">Team</a>
		    		</li>
		    	</ul>
	    	</div>

	    	<div class="sitemap-category">
		    	<a href="/careers">Careers</a>
		    	<ul>
	                <li>
	                    <a href="/careers/#perks">Perks</a>
	                </li>
	                <li>
	                    <a href="/careers/#guild">Guild Model</a>
	                </li>
		    	</ul>
	    	</div>

	    	<div class="sitemap-category">
		    	<a href="/academy">Academy</a>
		    	<ul>
		    		<li>
		    			<a href="/academy/#audience">Audience</a>
		    		</li>
		    		<li>
		    			<a href="/academy/#pedagogy">Pedagogy</a>
		    		</li>
		    	</ul>
	    	</div>
	    	
        <div class="sitemap-category">
          <a href="/blog">Blog</a>
        </div>

	    </div>
    </div>
    <div class="footer-column3">

        <div class="tweets column">
  	    	<h4>Tweets</h4>

            <a class="twitter-timeline span10" href="https://twitter.com/TheHackerati/team" data-link-color="#4CA0D3"
            data-widget-id="425894235154296832" data-chrome="noheader noscrollbar transparent">Tweets from https://twitter.com/TheHackerati/team</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
        </div>
    </div>

    <div class="clearfix"></div>

{% include pingdom %}
</div>
</footer>
