<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<link rel="stylesheet" type="text/css" href="../css/tablet.css">
		<link rel="stylesheet" type="text/css" href="../css/mobile.css">
		<script src="../js/jquery-1.10.2.min.js"></script>
		<script src="../js/main.js"></script>
	</head>
	<body>

		<div id="header">
				
			<div class="left" id="logo">

				<a href="/">
					<img src="../assets/img/logo.png" alt="">
				</a>

			</div><!--#logo-->

			<div class="right" id="navigation">
				<ul>
					<li id="about"><a href="/about">About</a></li>
					<li id="careers"><a href="/careers">Careers</a></li>
					<li id="academy"><a href="/academy">Academy</a></li>
				</ul>
			</div>

			<!--<div class="right" id="nav-expansion">
				<a href="#">
					<img src="../assets/img/nav-expansion.png">
				</a>
			</div>-->

			<div id="navigation-mobile">
				<ul>
					<li id="about-mobile"><a href="/about">About</a></li>
					<li id="careers-mobile"><a href="/careers">Careers</a></li>
					<li id="academy-mobile"><a href="/academy">Academy</a></li>
				</ul>
			</div>

		</div>