</div>

<div class="sb-slidebar sb-left">
    <ul class="sb-menu">
        <li><a class="sitemap-cat" href="{{ site.url }}">Home</a></li>
        <li><a class="sitemap-cat" href="{{ site.url }}/about">About</a></li>
        <li><a class="sitemap-cat" href="{{ site.url }}/academy">Academy</a></li>
        <li><a class="sitemap-cat" href="{{ site.url }}/careers">Careers</a></li>
        <li><a class="sitemap-cat" href="{{ site.url }}/blog">Blog</a></li>
        <li><a class="sitemap-cat" href="{{ site.url }}/contact">Contact</a></li>
    </ul>
    <div class="h-watermark">
        <img src="{{ site.url }}/assets/img/H.png" alt="The Hackerati, watermark, H" />
    </div>
</div>

<div class="sb-slidebar sb-right">
    <div>
        <ul class="sb-menu sb-social">
            <li>
                <a href="http://twitter.com/TheHackerati" target="blank">
                    <span class="sb-twitter sb-sprite"></span> Twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/pages/The-Hackerati/352879328133465?fref=ts" target="blank">
                    <span class="sb-facebook sb-sprite"></span> Facebook
                </a>
            </li>
            <li>
                <a href="http://www.linkedin.com/company/the-hackerati" target="blank">
                    <span class="sb-linkedin sb-sprite"></span>LinkedIn
                </a>
            </li>
            <li>
                <a href="https://github.com/thehackerati" target="blank">
                    <span class="sb-github sb-sprite"></span>GitHub
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/116959192453188050047/posts" target="blank">
                    <span class="sb-gplus sb-sprite"></span> Google+
                </a>
            </li>
            <li>
                <a href="http://www.meetup.com/Startup-Office-Hours-NYC/" target="blank">
                    <span class="sb-meetup sb-sprite"></span> Meetup
                </a>
            </li>
        </ul>
    </div>
</div>

<script src="{{ site.url }}/js/slidebars.min.js"></script>
<script>
  (function($) {
    $(document).ready(function() {
      var mySlidebars = new $.slidebars({
        disableOver: 767,
      });
      $('.left-slider-button').on('click', function() {
        mySlidebars.toggle('left');
      });
      $('.right-slider-button').on('click', function() {
        mySlidebars.toggle('right');
      });
    });
  }) (jQuery);
</script>
