<div id="sb-nav" class="sb-navbar sb-slide">
  <div class="sb-toggle-left">
    <div class="navicon-line"></div>
    <div class="navicon-line"></div>
    <div class="navicon-line"></div>
  </div>
  <div class="sb-toggle-right">
    <div class="navicon-line"></div>
    <div class="navicon-line"></div>
    <div class="navicon-line"></div>
  </div>
  <div class="sb-logo">  
    <a href="/">
      <img class="sb-logo-img" src="../assets/img/logo.png" />
    </a>
  </div>
  <div class="content-container">
    <div class="logo">
      <a href="/">
        <img src="../assets/img/logo.png" />
      </a>
    </div>

    <nav class="nav-links">
      <a class="about-link" href="/about">About</a>
      <a href="/careers">Careers</a>
      <a href="/academy">Academy</a>
    </nav>

    <div class="clearfix"></div>
  </div>
</div>

<div id="sb-site">
