<!-- Fix for persistent header on home page -->
<div id="sb-nav" class="sb-navbar sb-slide">
    <div class="sb-toggle-left">
        <div class="navicon-line"></div>
        <div class="navicon-line"></div>
        <div class="navicon-line"></div>
    </div>
    <div class="sb-toggle-right">
        <i class="fa fa-external-link fa-2x"></i>
    </div>
    <div class="sb-logo">  
        <a href="{{ site.url }}/">
            <img class="sb-logo-img" src="{{ site.url }}/assets/img/logo.png" alt="The Hackerati Logo, The Hackerati" />
        </a>
    </div>
    <div id="content-container" class="content-container" style="height: 68px; margin-top: 10px">
        <div class="logo">
            <a href="{{ site.url }}/">
                <img src="{{ site.url }}/assets/img/logo.png" alt="The Hackerati Logo, The Hackerati" />
            </a>
        </div>
 
        <nav id="nav-links" class="nav-links" style="line-height: 68px">
            <a href="{{ site.url }}/about">About</a>
            <a href="{{ site.url }}/academy">Academy</a>
            <a href="{{ site.url }}/careers">Careers</a>
            <a href="{{ site.url }}/blog">Blog</a>
            <a href="{{ site.url }}/contact">Contact</a>
        </nav>

        <div class="clearfix"></div>
    </div>
</div>

<div id="sb-site">
