---
layout: b_page
title: About | The Hackerati
---

{% include b-page-header.html %}

<!--
=====================================================================
ABOUT PAGE
=====================================================================
-->

<div class="all-content about-page">

    <!--* SPLASH PAGE | SECTION 1 *-->
    <div class="section section1 splash-container" id="top-section">
        <div class="content-container section1-content-container">
            <img src="../assets/img/aboutsplash_1.jpg" class="splash" alt="Splash, About, The Hackerati, New York Taxi" />
       
            <div class="def-hacker">
                <h1>Hack&#183;er</h1>
                <p class="def-part-of-speech"><em>noun </em>&nbsp;&#92;&#39;ha-k&#601;r&#92;</p>
                <p>a creator who thrives on the intellectual challenge of solving problems by overcoming limitations</p>
            </div>            
            <div class="see-also"><p>see also:</p></div>            
            <div class="def-hackerati">
                <h1>The Hack&#183;er&#183;a&#183;ti</h1>
                <p class="def-part-of-speech"><em>plural noun </em>&nbsp;&#92;&#39;ha-k&#601;r-&#228;r-t&#275;&#92;</p>
                <p>a fearless engineering team delivering software and hardware development onshore—and often onsite—to maximize velocity and agility</p>
            </div>

            <div class="clearfix"></div>
        
        </div><!--/section1-content-container-->

        <div class="clearfix"></div>

    </div><!--/section1 splash-container-->

    <div class="culture-interstitial">
        <p>Check out our <a href="http://www.thehackerati.com/blog/2014/04/08/the-hackerati-a-culture-of-innovation.html">blog post</a> on the Hackerati's culture of innovation!</p>
    </div>

    <!--* MEET THE HACKERATI | SECTION 2 *-->

    <div id="section2-anchor-link" class="who-container">
        <div class="who-content" id="who">
            <div class="left span3" id="who-title">
                <h1>Meet The Hackerati</h1>
                <h2 class="orange">Pushing forward. Giving back.</h2>
            </div>
            <div class="clearfix"></div>
            <div id="wrapper-columns">
                <div class="column-1">
                        <img src="../assets/img/meet-hackerati-EaaS.png" alt="The Hackerati, About, Engineering as a Service icon" />
                    <hr />
                    <h2>
                        <a class="orange" href="/#EaaS">Engineering as a Service</a>
                    </h2>
                    <hr />
                    <p>
                        Our Agile consulting model that provides clients with top engineering talent at competitive rates.
                    </p>
                </div>
                <div class="column-2">
                        <img src="../assets/img/meet-hackerati-academy.png" alt="The Hackerati, About, Academy icon" />
                    <hr />
                    <h2>
                        <a class="orange" href="/academy">Hackerati Academy</a>
                    </h2>
                    <hr />
                    <p>
                        A platform for the ongoing education of Hackerati, prospective hires, and, eventually, the general public.
                    </p>
                </div>
                <div class="column-3">
                        <img src="../assets/img/meet-hackerati-labs.png" alt="The Hackerati, About, Labs icon" />
                    <hr />
                    <h2>
                        <a class="orange" href="/careers/#perks">Hackerati Labs</a>
                    </h2>
                    <hr />
                    <p>
                        An accelerator where Hackerati can get funding to develop and commercialize their startup ideas. 
                    </p>
                </div>
            </div><!--/wrapper-columns-->

        </div><!--/who-content who-->

        <!--* TEAM PAGE | SECTION 3 *-->

        <div class="founders-wrapper">

            <div class="hackeratus-founder-wrapper">
                <a class='inline' href="#geoff-modal" onmouseover="document.getElementById('geoff').src=geoff2.src;" onmouseout="document.getElementById('geoff').src=geoff1.src;">
                    <img src="../assets/img/team/geoff.png" class="hackeratus hackeratus-founder" id="geoff" alt="Geoff Scott">
                </a>
                <p>Geoff Scott, Founder</p>
            </div>

            <div class="hackeratus-founder-wrapper">
                <a class='inline' href="#rob-modal" onmouseover="document.getElementById('rob').src=rob2.src;" onmouseout="document.getElementById('rob').src=rob1.src;">
                    <img src="../assets/img/team/rob.png" class="hackeratus hackeratus-founder" id="rob">
                </a>
                <p>Rob Marano, Founder</p>
            </div>

        </div><!--/founders-wrapper-->

        <div class="team-wrapper">

            <div class="hackeratus-team-wrapper">
                <a class='inline' href="#alexk-modal" onmouseover="document.getElementById('alexk').src=alexkrupp2.src;" onmouseout="document.getElementById('alexk').src=alexkrupp1.src;">
                    <img src="../assets/img/team/alexkrupp.png" class="hackeratus hackeratus-team" id="alexk">
                </a>
                <p>Alex Krupp</p>
            </div>

            <div class="hackeratus-team-wrapper">
                <a class='inline' href="#alexs-modal" onmouseover="document.getElementById('alexs').src=alexsheehan2.src;" onmouseout="document.getElementById('alexs').src=alexsheehan1.src;">
                    <img src="../assets/img/team/alexsheehan.png" class="hackeratus hackeratus-team" id="alexs">
                </a>
                <p>Alex Sheehan</p>
            </div>

            <div class="hackeratus-team-wrapper">
                <a class='inline' href="#ariel-modal" onmouseover="document.getElementById('ariel').src=ariel2.src;" onmouseout="document.getElementById('ariel').src=ariel1.src;">
                    <img src="../assets/img/team/ariel.png" class="hackeratus hackeratus-team" id="ariel">
                </a>
                <p>Ariel Cotton</p>
            </div>

            <div class="hackeratus-team-wrapper">
                <a class='inline' href="#bobby-modal" onmouseover="document.getElementById('bobby').src=bobby2.src;" onmouseout="document.getElementById('bobby').src=bobby1.src;">
                    <img src="../assets/img/team/bobby.png" class="hackeratus hackeratus-team" id="bobby">
                </a>
                <p>Bobby Yankou</p>
            </div>

            <div class="hackeratus-team-wrapper">
                <a class='inline' href="#christopher-modal" onmouseover="document.getElementById('christopher').src=christopher2.src;" onmouseout="document.getElementById('christopher').src=christopher1.src;">
                    <img src="../assets/img/team/christopher.png" class="hackeratus hackeratus-team" id="christopher">
                </a>
                <p>Christopher Sang</p>
            </div>

            <div class="hackeratus-team-wrapper">
                <a class='inline' href="#derby-modal" onmouseover="document.getElementById('derby').src=derby2.src;" onmouseout="document.getElementById('derby').src=derby1.src;">
                    <img src="../assets/img/team/derby.png" class="hackeratus hackeratus-team" id="derby">
                </a>
                <p>Derby</p>
            </div>

            <div class="hackeratus-team-wrapper">
                <a class='inline' href="#donny-modal" onmouseover="document.getElementById('donny').src=donny2.src;" onmouseout="document.getElementById('donny').src=donny1.src;">
                    <img src="../assets/img/team/donny.png" class="hackeratus hackeratus-team" id="donny">
                </a>
                <p>Donny Kanner</p>
            </div>

            <div class="hackeratus-team-wrapper">
                <a class='inline' href="#eddy-modal" onmouseover="document.getElementById('eddy').src=eddy2.src;" onmouseout="document.getElementById('eddy').src=eddy1.src;">
                    <img src="../assets/img/team/eddy.png" class="hackeratus hackeratus-team" id="eddy">
                </a>
                <p>Eddy Garcia</p>
            </div>

            <div class="hackeratus-team-wrapper">
                <a class='inline' href="#ethan-modal" onmouseover="document.getElementById('ethan').src=ethan2.src;" onmouseout="document.getElementById('ethan').src=ethan1.src;">
                    <img src="../assets/img/team/ethan.png" class="hackeratus hackeratus-team" id="ethan">
                </a>
                <p>Ethan Lusterman</p>
            </div>

            <div class="hackeratus-team-wrapper">
                <a class='inline' href="#grace-modal" onmouseover="document.getElementById('grace').src=grace2.src;" onmouseout="document.getElementById('grace').src=grace1.src;">
                    <img src="../assets/img/team/grace.png" class="hackeratus hackeratus-team" alt="Grace Avery" id="grace">
                </a>
                <p>Grace Avery</p>
            </div>

            <div class="hackeratus-team-wrapper">
                <a class='inline' href="#igor-modal" onmouseover="document.getElementById('igor').src=igor2.src;" onmouseout="document.getElementById('igor').src=igor1.src;">
                    <img src="../assets/img/team/igor.png" class="hackeratus hackeratus-team" alt="Igor Belyayev" id="igor">
                </a>
                <p>Igor Belyayev</p>
            </div>

            <div class="hackeratus-team-wrapper">
                <a class='inline' href="#kevin-modal" onmouseover="document.getElementById('kevin').src=kevin2.src;" onmouseout="document.getElementById('kevin').src=kevin1.src;">
                    <img src="../assets/img/team/kevin.png" class="hackeratus hackeratus-team" id="kevin">
                </a>
                <p>Kevin Ruiz</p>
            </div>

            <div class="hackeratus-team-wrapper">
                <a class='inline' href="#mike-modal" onmouseover="document.getElementById('mike').src=mike2.src;" onmouseout="document.getElementById('mike').src=mike1.src;">
                    <img src="../assets/img/team/mike.png" class="hackeratus hackeratus-team" id="mike">
                </a>
                <p>Michael Ketigian</p>
            </div>

            <div class="hackeratus-team-wrapper">
                <a class='inline' href="#nenad-modal" onmouseover="document.getElementById('nenad').src=nenad2.src;" onmouseout="document.getElementById('nenad').src=nenad1.src;">
                    <img src="../assets/img/team/nenad.png" class="hackeratus hackeratus-team" id="nenad">
                </a>
                <p>Nenad Samardzic</p>
            </div>

            <div class="hackeratus-team-wrapper">
                <a class='inline' href="#ramon-modal" onmouseover="document.getElementById('ramon').src=ramon2.src;" onmouseout="document.getElementById('ramon').src=ramon1.src;">
                    <img src="../assets/img/team/ramon.png" class="hackeratus hackeratus-team" id="ramon">
                </a>
                <p>Ramon Sandoval</p>
            </div>

        </div><!--/team-wrapper-->

    </div><!--/section2-anchor-link who-container--> 

    <!-- This contains the hidden content for inline calls -->
        <div style='display:none'>
            <div id='geoff-modal'>
                <div class="team-desktop">
                    <div class="teamphoto">
                        {% include team-page/geoff-img.html %}
                        <div class="teamcontact">
                            {% include team-page/geoff-contact.html %}
                        </div>
                    </div>
                    <div class="teambio">
                        {% include team-page/geoff-header.html %}
                        {% include team-page/geoff-bio.html %}
                    </div>
                </div><!--/team-desktop-->
                <div class="team-tablet">
                    <div class="teamphoto">
                        {% include team-page/geoff-img.html %}
                    </div>
                    <div class="teamcontact">
                        {% include team-page/geoff-header.html %}
                        {% include team-page/geoff-contact.html %}
                    </div>
                    <div class="teambio">
                        {% include team-page/geoff-bio.html %}
                    </div>
                </div><!--/team-tablet-->
                <div class="team-smartphone">
                    <div class="teamphoto">
                        {% include team-page/geoff-img.html %}
                        <div class="teamcontact">
                            {% include team-page/geoff-header.html %}
                            {% include team-page/geoff-contact.html %}
                            <div class="teambio">
                                {% include team-page/geoff-bio.html %}
                            </div>
                        </div>
                    </div>
                </div><!--/team-smartphone-->
            </div><!--geoff-modal-->

            <div id='rob-modal'>
                <div class="team-desktop">
                    <div class="teamphoto">
                        {% include team-page/rob-img.html %}
                        <div class="teamcontact">
                            {% include team-page/rob-contact.html %}
                        </div>
                    </div>
                    <div class="teambio">
                        {% include team-page/rob-header.html %}
                        {% include team-page/rob-bio.html %}
                    </div>
                </div><!--/team-desktop-->
                <div class="team-tablet">
                    <div class="teamphoto">
                        {% include team-page/rob-img.html %}
                    </div>
                    <div class="teamcontact">
                        {% include team-page/rob-header.html %}
                        {% include team-page/rob-contact.html %}
                    </div>
                    <div class="teambio">
                        {% include team-page/rob-bio.html %}
                    </div>
                </div><!--/team-tablet-->
                <div class="team-smartphone">
                    <div class="teamphoto">
                        {% include team-page/rob-img.html %}
                        <div class="teamcontact">
                            {% include team-page/rob-header.html %}
                            {% include team-page/rob-contact.html %}
                            <div class="teambio">
                                {% include team-page/rob-bio.html %}
                            </div>
                        </div>
                    </div>
                </div><!--/team-smartphone-->
            </div><!--rob-modal-->
           <div id='alexk-modal'>
                <div class="team-desktop">
                    <div class="teamphoto">
                        {% include team-page/alexk-img.html %}
                        <div class="teamcontact">
                            {% include team-page/alexk-contact.html %}
                        </div>
                    </div>
                    <div class="teambio">
                        {% include team-page/alexk-header.html %}
                        {% include team-page/alexk-bio.html %}
                    </div>
                </div><!--/team-desktop-->
                <div class="team-tablet">
                    <div class="teamphoto">
                        {% include team-page/alexk-img.html %}
                    </div>
                    <div class="teamcontact">
                        {% include team-page/alexk-header.html %}
                        {% include team-page/alexk-contact.html %}
                    </div>
                    <div class="teambio">
                        {% include team-page/alexk-bio.html %}
                    </div>
                </div><!--/team-tablet-->
                <div class="team-smartphone">
                    <div class="teamphoto">
                        {% include team-page/alexk-img.html %}
                        <div class="teamcontact">
                            {% include team-page/alexk-header.html %}
                            {% include team-page/alexk-contact.html %}
                            <div class="teambio">
                                {% include team-page/alexk-bio.html %}
                            </div>
                        </div>
                    </div>
                </div><!--/team-smartphone-->
            </div><!--alexk-modal-->

            <div id='alexs-modal'>
                <div class="team-desktop">
                    <div class="teamphoto">
                        {% include team-page/alexs-img.html %}
                        <div class="teamcontact">
                            {% include team-page/alexs-contact.html %}
                        </div>
                    </div>
                    <div class="teambio">
                        {% include team-page/alexs-header.html %}
                        {% include team-page/alexs-bio.html %}
                    </div>
                </div><!--/team-desktop-->
                <div class="team-tablet">
                    <div class="teamphoto">
                        {% include team-page/alexs-img.html %}
                    </div>
                    <div class="teamcontact">
                        {% include team-page/alexs-header.html %}
                        {% include team-page/alexs-contact.html %}
                    </div>
                    <div class="teambio">
                        {% include team-page/alexs-bio.html %}
                    </div>
                </div><!--/team-tablet-->
                <div class="team-smartphone">
                    <div class="teamphoto">
                        {% include team-page/alexs-img.html %}
                        <div class="teamcontact">
                            {% include team-page/alexs-header.html %}
                            {% include team-page/alexs-contact.html %}
                            <div class="teambio">
                                {% include team-page/alexs-bio.html %}
                            </div>
                        </div>
                    </div>
                </div><!--/team-smartphone-->
            </div><!--alexs-modal-->

            <div id='ariel-modal'>
                <div class="team-desktop">
                    <div class="teamphoto">
                        {% include team-page/ariel-img.html %}
                        <div class="teamcontact">
                            {% include team-page/ariel-contact.html %}
                        </div>
                    </div>
                    <div class="teambio">
                        {% include team-page/ariel-header.html %}
                        {% include team-page/ariel-bio.html %}
                    </div>
                </div><!--/team-desktop-->
                <div class="team-tablet">
                    <div class="teamphoto">
                        {% include team-page/ariel-img.html %}
                    </div>
                    <div class="teamcontact">
                        {% include team-page/ariel-header.html %}
                        {% include team-page/ariel-contact.html %}
                    </div>
                    <div class="teambio">
                        {% include team-page/ariel-bio.html %}
                    </div>
                </div><!--/team-tablet-->
                <div class="team-smartphone">
                    <div class="teamphoto">
                        {% include team-page/ariel-img.html %}
                        <div class="teamcontact">
                            {% include team-page/ariel-header.html %}
                            {% include team-page/ariel-contact.html %}
                            <div class="teambio">
                                {% include team-page/ariel-bio.html %}
                            </div>
                        </div>
                    </div>
                </div><!--/team-smartphone-->
            </div><!--ariel-modal-->

            <div id='bobby-modal'>
                <div class="team-desktop">
                    <div class="teamphoto">
                        {% include team-page/bobby-img.html %}
                        <div class="teamcontact">
                            {% include team-page/bobby-contact.html %}
                        </div>
                    </div>
                    <div class="teambio">
                        {% include team-page/bobby-header.html %}
                        {% include team-page/bobby-bio.html %}
                    </div>
                </div><!--/team-desktop-->
                <div class="team-tablet">
                    <div class="teamphoto">
                        {% include team-page/bobby-img.html %}
                    </div>
                    <div class="teamcontact">
                        {% include team-page/bobby-header.html %}
                        {% include team-page/bobby-contact.html %}
                    </div>
                    <div class="teambio">
                        {% include team-page/bobby-bio.html %}
                    </div>
                </div><!--/team-tablet-->
                <div class="team-smartphone">
                    <div class="teamphoto">
                        {% include team-page/bobby-img.html %}
                        <div class="teamcontact">
                            {% include team-page/bobby-header.html %}
                            {% include team-page/bobby-contact.html %}
                            <div class="teambio">
                                {% include team-page/bobby-bio.html %}
                            </div>
                        </div>
                    </div>
                </div><!--/team-smartphone-->
            </div><!--bobby-modal-->

            <div id='christopher-modal'>
                <div class="team-desktop">
                    <div class="teamphoto">
                        {% include team-page/christopher-img.html %}
                        <div class="teamcontact">
                            {% include team-page/christopher-contact.html %}
                        </div>
                    </div>
                    <div class="teambio">
                        {% include team-page/christopher-header.html %}
                        {% include team-page/christopher-bio.html %}
                    </div>
                </div><!--/team-desktop-->
                <div class="team-tablet">
                    <div class="teamphoto">
                        {% include team-page/christopher-img.html %}
                    </div>
                    <div class="teamcontact">
                        {% include team-page/christopher-header.html %}
                        {% include team-page/christopher-contact.html %}
                    </div>
                    <div class="teambio">
                        {% include team-page/christopher-bio.html %}
                    </div>
                </div><!--/team-tablet-->
                <div class="team-smartphone">
                    <div class="teamphoto">
                        {% include team-page/christopher-img.html %}
                        <div class="teamcontact">
                            {% include team-page/christopher-header.html %}
                            {% include team-page/christopher-contact.html %}
                            <div class="teambio">
                                {% include team-page/christopher-bio.html %}
                            </div>
                        </div>
                    </div>
                </div><!--/team-smartphone-->
            </div><!--christopher-modal-->

            <div id='derby-modal'>
                <div class="team-desktop">
                    <div class="teamphoto">
                        {% include team-page/derby-img.html %}
                        <div class="teamcontact">
                            {% include team-page/derby-contact.html %}
                        </div>
                    </div>
                    <div class="teambio">
                        {% include team-page/derby-header.html %}
                        {% include team-page/derby-bio.html %}
                    </div>
                </div><!--/team-desktop-->
                <div class="team-tablet">
                    <div class="teamphoto">
                        {% include team-page/derby-img.html %}
                    </div>
                    <div class="teamcontact">
                        {% include team-page/derby-header.html %}
                        {% include team-page/derby-contact.html %}
                    </div>
                    <div class="teambio">
                        {% include team-page/derby-bio.html %}
                    </div>
                </div><!--/team-tablet-->
                <div class="team-smartphone">
                    <div class="teamphoto">
                        {% include team-page/derby-img.html %}
                        <div class="teamcontact">
                            {% include team-page/derby-header.html %}
                            {% include team-page/derby-contact.html %}
                            <div class="teambio">
                                {% include team-page/derby-bio.html %}
                            </div>
                        </div>
                    </div>
                </div><!--/team-smartphone-->
            </div><!--derby-modal-->

            <div id='donny-modal'>
                <div class="team-desktop">
                    <div class="teamphoto">
                        {% include team-page/donny-img.html %}
                        <div class="teamcontact">
                            {% include team-page/donny-contact.html %}
                        </div>
                    </div>
                    <div class="teambio">
                        {% include team-page/donny-header.html %}
                        {% include team-page/donny-bio.html %}
                    </div>
                </div><!--/team-desktop-->
                <div class="team-tablet">
                    <div class="teamphoto">
                        {% include team-page/donny-img.html %}
                    </div>
                    <div class="teamcontact">
                        {% include team-page/donny-header.html %}
                        {% include team-page/donny-contact.html %}
                    </div>
                    <div class="teambio">
                        {% include team-page/donny-bio.html %}
                    </div>
                </div><!--/team-tablet-->
                <div class="team-smartphone">
                    <div class="teamphoto">
                        {% include team-page/donny-img.html %}
                        <div class="teamcontact">
                            {% include team-page/donny-header.html %}
                            {% include team-page/donny-contact.html %}
                            <div class="teambio">
                                {% include team-page/donny-bio.html %}
                            </div>
                        </div>
                    </div>
                </div><!--/team-smartphone-->
            </div><!--donny-modal-->

            <div id='eddy-modal'>
                <div class="team-desktop">
                    <div class="teamphoto">
                        {% include team-page/eddy-img.html %}
                        <div class="teamcontact">
                            {% include team-page/eddy-contact.html %}
                        </div>
                    </div>
                    <div class="teambio">
                        {% include team-page/eddy-header.html %}
                        {% include team-page/eddy-bio.html %}
                    </div>
                </div><!--/team-desktop-->
                <div class="team-tablet">
                    <div class="teamphoto">
                        {% include team-page/eddy-img.html %}
                    </div>
                    <div class="teamcontact">
                        {% include team-page/eddy-header.html %}
                        {% include team-page/eddy-contact.html %}
                    </div>
                    <div class="teambio">
                        {% include team-page/eddy-bio.html %}
                    </div>
                </div><!--/team-tablet-->
                <div class="team-smartphone">
                    <div class="teamphoto">
                        {% include team-page/eddy-img.html %}
                        <div class="teamcontact">
                            {% include team-page/eddy-header.html %}
                            {% include team-page/eddy-contact.html %}
                            <div class="teambio">
                                {% include team-page/eddy-bio.html %}
                            </div>
                        </div>
                    </div>
                </div><!--/team-smartphone-->
            </div><!--/eddy-modal-->

            <div id='ethan-modal'>
                <div class="team-desktop">
                    <div class="teamphoto">
                        {% include team-page/ethan-img.html %}
                        <div class="teamcontact">
                            {% include team-page/ethan-contact.html %}
                        </div>
                    </div>
                    <div class="teambio">
                        {% include team-page/ethan-header.html %}
                        {% include team-page/ethan-bio.html %}
                    </div>
                </div><!--/team-desktop-->
                <div class="team-tablet">
                    <div class="teamphoto">
                        {% include team-page/ethan-img.html %}
                    </div>
                    <div class="teamcontact">
                        {% include team-page/ethan-header.html %}
                        {% include team-page/ethan-contact.html %}
                    </div>
                    <div class="teambio">
                        {% include team-page/ethan-bio.html %}
                    </div>
                </div><!--/team-tablet-->
                <div class="team-smartphone">
                    <div class="teamphoto">
                        {% include team-page/ethan-img.html %}
                        <div class="teamcontact">
                            {% include team-page/ethan-header.html %}
                            {% include team-page/ethan-contact.html %}
                            <div class="teambio">
                                {% include team-page/ethan-bio.html %}
                            </div>
                        </div>
                    </div>
                </div><!--/team-smartphone-->
            </div><!--/ethan-modal-->

            <div id='grace-modal'>
                <div class="team-desktop">
                    <div class="teamphoto">
                        {% include team-page/grace-img.html %}
                        <div class="teamcontact">
                            {% include team-page/grace-contact.html %}
                        </div>
                    </div>
                    <div class="teambio">
                        {% include team-page/grace-header.html %}
                        {% include team-page/grace-bio.html %}
                    </div>
                </div><!--/team-desktop-->
                <div class="team-tablet">
                    <div class="teamphoto">
                        {% include team-page/grace-img.html %}
                    </div>
                    <div class="teamcontact">
                        {% include team-page/grace-header.html %}
                        {% include team-page/grace-contact.html %}
                    </div>
                    <div class="teambio">
                        {% include team-page/grace-bio.html %}
                    </div>
                </div><!--/team-tablet-->
                <div class="team-smartphone">
                    <div class="teamphoto">
                        {% include team-page/grace-img.html %}
                        <div class="teamcontact">
                            {% include team-page/grace-header.html %}
                            {% include team-page/grace-contact.html %}
                            <div class="teambio">
                                {% include team-page/grace-bio.html %}
                            </div>
                        </div>
                    </div>
                </div><!--/team-smartphone-->
            </div><!--/grace-modal-->

            <div id='igor-modal'>
                <div class="team-desktop">
                    <div class="teamphoto">
                        {% include team-page/igor-img.html %}
                        <div class="teamcontact">
                            {% include team-page/igor-contact.html %}
                        </div>
                    </div>
                    <div class="teambio">
                        {% include team-page/igor-header.html %}
                        {% include team-page/igor-bio.html %}
                    </div>
                </div><!--/team-desktop-->
                <div class="team-tablet">
                    <div class="teamphoto">
                        {% include team-page/igor-img.html %}
                    </div>
                    <div class="teamcontact">
                        {% include team-page/igor-header.html %}
                        {% include team-page/igor-contact.html %}
                    </div>
                    <div class="teambio">
                        {% include team-page/igor-bio.html %}
                    </div>
                </div><!--/team-tablet-->
                <div class="team-smartphone">
                    <div class="teamphoto">
                        {% include team-page/igor-img.html %}
                        <div class="teamcontact">
                            {% include team-page/igor-header.html %}
                            {% include team-page/igor-contact.html %}
                            <div class="teambio">
                                {% include team-page/igor-bio.html %}
                            </div>
                        </div>
                    </div>
                </div><!--/team-smartphone-->
            </div><!--/igor-modal-->

            <div id='kevin-modal'>
                <div class="team-desktop">
                    <div class="teamphoto">
                        {% include team-page/kevin-img.html %}
                        <div class="teamcontact">
                            {% include team-page/kevin-contact.html %}
                        </div>
                    </div>
                    <div class="teambio">
                        {% include team-page/kevin-header.html %}
                        {% include team-page/kevin-bio.html %}
                    </div>
                </div><!--/team-desktop-->
                <div class="team-tablet">
                    <div class="teamphoto">
                        {% include team-page/kevin-img.html %}
                    </div>
                    <div class="teamcontact">
                        {% include team-page/kevin-header.html %}
                        {% include team-page/kevin-contact.html %}
                    </div>
                    <div class="teambio">
                        {% include team-page/kevin-bio.html %}
                    </div>
                </div><!--/team-tablet-->
                <div class="team-smartphone">
                    <div class="teamphoto">
                        {% include team-page/kevin-img.html %}
                        <div class="teamcontact">
                            {% include team-page/kevin-header.html %}
                            {% include team-page/kevin-contact.html %}
                            <div class="teambio">
                                {% include team-page/kevin-bio.html %}
                            </div>
                        </div>
                    </div>
                </div><!--/team-smartphone-->
            </div><!--kevin-modal-->

            <div id='mike-modal'>
                <div class="team-desktop">
                    <div class="teamphoto">
                        {% include team-page/mike-img.html %}
                        <div class="teamcontact">
                            {% include team-page/mike-contact.html %}
                        </div>
                    </div>
                    <div class="teambio">
                        {% include team-page/mike-header.html %}
                        {% include team-page/mike-bio.html %}
                    </div>
                </div><!--/team-desktop-->
                <div class="team-tablet">
                    <div class="teamphoto">
                        {% include team-page/mike-img.html %}
                    </div>
                    <div class="teamcontact">
                        {% include team-page/mike-header.html %}
                        {% include team-page/mike-contact.html %}
                    </div>
                    <div class="teambio">
                        {% include team-page/mike-bio.html %}
                    </div>
                </div><!--/team-tablet-->
                <div class="team-smartphone">
                    <div class="teamphoto">
                        {% include team-page/mike-img.html %}
                        <div class="teamcontact">
                            {% include team-page/mike-header.html %}
                            {% include team-page/mike-contact.html %}
                            <div class="teambio">
                                {% include team-page/mike-bio.html %}
                            </div>
                        </div>
                    </div>
                </div><!--/team-smartphone-->
            </div><!--mike-modal-->

            <div id='nenad-modal'>
                <div class="team-desktop">
                    <div class="teamphoto">
                        {% include team-page/nenad-img.html %}
                        <div class="teamcontact">
                            {% include team-page/nenad-contact.html %}
                        </div>
                    </div>
                    <div class="teambio">
                        {% include team-page/nenad-header.html %}
                        {% include team-page/nenad-bio.html %}
                    </div>
                </div><!--/team-desktop-->
                <div class="team-tablet">
                    <div class="teamphoto">
                        {% include team-page/nenad-img.html %}
                    </div>
                    <div class="teamcontact">
                        {% include team-page/nenad-header.html %}
                        {% include team-page/nenad-contact.html %}
                    </div>
                    <div class="teambio">
                        {% include team-page/nenad-bio.html %}
                    </div>
                </div><!--/team-tablet-->
                <div class="team-smartphone">
                    <div class="teamphoto">
                        {% include team-page/nenad-img.html %}
                        <div class="teamcontact">
                            {% include team-page/nenad-header.html %}
                            {% include team-page/nenad-contact.html %}
                            <div class="teambio">
                                {% include team-page/nenad-bio.html %}
                            </div>
                        </div>
                    </div>
                </div><!--/team-smartphone-->
            </div><!--nenad-modal-->

            <div id='ramon-modal'>
                <div class="team-desktop">
                    <div class="teamphoto">
                        {% include team-page/ramon-img.html %}
                        <div class="teamcontact">
                            {% include team-page/ramon-contact.html %}
                        </div>
                    </div>
                    <div class="teambio">
                        {% include team-page/ramon-header.html %}
                        {% include team-page/ramon-bio.html %}
                    </div>
                </div><!--/team-desktop-->
                <div class="team-tablet">
                    <div class="teamphoto">
                        {% include team-page/ramon-img.html %}
                    </div>
                    <div class="teamcontact">
                        {% include team-page/ramon-header.html %}
                        {% include team-page/ramon-contact.html %}
                    </div>
                    <div class="teambio">
                        {% include team-page/ramon-bio.html %}
                    </div>
                </div><!--/team-tablet-->
                <div class="team-smartphone">
                    <div class="teamphoto">
                        {% include team-page/ramon-img.html %}
                        <div class="teamcontact">
                            {% include team-page/ramon-header.html %}
                            {% include team-page/ramon-contact.html %}
                            <div class="teambio">
                                {% include team-page/ramon-bio.html %}
                            </div>
                        </div>
                    </div>
                </div><!--/team-smartphone-->
            </div><!--ramon-modal-->
            
        </div>

</div>

<script type="text/javascript" src="../js/persistent-header.js"></script>
{% include pingdom %}
