---
layout: b_page
title: About | The Hackerati
---

{% include b-page-header.html %}

<!--
=====================================================================
ABOUT PAGE
=====================================================================
-->

<div class="all-content about-page">

    <!--* SPLASH PAGE | SECTION 1 *-->
    <div class="section section1 splash-container" id="top-section">
        <div class="content-container section1-content-container">
            <img src="../assets/img/aboutsplash_1.jpg" class="splash">
                <h1>Our Story</h1>
                <p>
                    The Hackerati exists because a few hackers found themselves with an unquenchable thirst to build cool and innovative stuff! We quickly discovered that businesses really need hackers to stay competitive in this increasingly connected and data-driven world. Lots of hackers. More than they can easily find. So we developed an immediate mission to help address the shortage of qualified engineering talent in today's world. The Hackerati is fulfilling this mission by offering Engineering as a Service, The Hackerati Academy, and The Hackerati Labs.
                </p>
        
            <div class="clearfix"></div>
        
        </div><!--/section1-content-container-->

        <div class="clearfix"></div>

    </div><!--/section1 splash-container-->

    <!--* MEET THE HACKERATI | SECTION 2 *-->

    <div id="section2-anchor-link" class="who-container">
        <div class="who-content" id="who">
            <div class="left span3" id="who-title">
                <h1 class="orange">Meet The Hackerati</h1>
                <h2>Pushing forward. Giving back.</h2>
            </div>
            <div class="left span5" id="who-info">
                <p>
                    The Hackerati will solve some of the most challenging problems facing your business today: developing world-class technologies, recruiting top engineering talent, making great engineers even better, and providing an environment for ongoing innovation.
                </p>
            </div>
            <div class="clearfix"></div>
            <div id="wrapper-columns">
                <div class="column-1">
                    <a href="#what">
                        <div class="rollover">
                            We're problem solvers.
                        </div>
                        <img src="../assets/img/meetfirst.png" />
                    </a>
                    <hr />
                    <h2>
                        <a class="orange" href="#what">Engineering as a Service</a>
                    </h2>
                    <hr />
                    <p>
                        The Hackerati provides engineering services with no long-term commitments, allowing your business to rapidly pivot within your budget and timeframe. You get full visibility and control, you only pay for what you use, and you don't need to worry about recruiting and retaining elusive talent. We work 100% on-shore—and often on-site—to maximize velocity and agility.
                    </p>
                </div>
                <div class="column-2">
                    <a href="/academy">
                        <div class="rollover">
                            We're teachers &amp; students.
                        </div>
                        <img src="../assets/img/meetsecond.png" />
                    </a>
                    <hr />
                    <h2>
                        <a class="orange" href="/academy">The Hackerati Academy</a>
                    </h2>
                    <hr />
                    <p>
                        Technology is constantly changing, so we must constantly be learning.  It all starts at The Hackerati Academy—our engineering training ground—where we build a foundation of good habits and best practices.  We’re continuously adding advanced topics like Scala, Node.js, Hadoop, Mahout, iOS, and Android. Our team includes a blend of seasoned practitioners and instructors from leading-university engineering programs.
                    </p>
                </div>
                <div class="column-3">
                    <a href="/careers">
                        <div class="rollover">We're innovators.</div>
                        <img src="../assets/img/meetthird.png" />
                    </a>
                    <hr />
                    <h2>
                        <a class="orange" href="/careers">The Hackerati Labs</a>
                    </h2>
                    <hr />
                    <p>We love to build cool stuff. It's in our DNA. So we created The Hackerati Labs, an R&amp;D incubator that encourages all Hackerati to develop their own product ideas. They can pitch their ideas to our internal investment board for funding and resources, and even leverage our network of outside investors to form independent companies.</p>
                </div>
            </div>
        </div>
    </div>

    <!--* LEADERSHIP | SECTION 5 *-->
    <div id="section5-anchor-link" class="section section5">

        <div class="content-container leadership-content-container" id="leadership">

            <h2>Leadership</h2>
            <div class="block-left geoff">
                <div class="photo-contact-info">
                    <img src="../assets/img/geoff_0.jpg" alt="THE HACKERATI ABOUT FOUNDER GEOFF SCOTT" id="founder1">
                    <div class="name-contact-info">
                        <h3 class="orange">Geoff Scott, Co-Founder</h3>
                        <ul class="fa-ul">
                            <li>
                                <a href="http://www.linkedin.com/in/geoffscott" target="blank">
                                    <i class="fa-li fa fa-linkedin"></i>
                                    geoffscott
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/geoffscott" target="blank">
                                    <i class="fa-li fa fa-twitter"></i>
                                    @geoffscott
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/geoffscott" target="blank">
                                    <i class="fa-li fa fa-github-alt"></i>
                                    geoffscott
                                </a>
                            </li>
                            <li>
                                <a href="mailto:geoff@thehackerati.com">
                                    <i class="fa-li fa fa-envelope"></i>
                                    geoff@thehackerati.com
                                </a>
                            </li>
                        </ul>
                    </div><!--photo-contact-info-->
                </div><!--name-contact-info-->
                <div class="founder-info">
                    <p>
                        Geoff specializes in leading technology teams for startups, turnarounds, and other organizations that are going through extended periods of intense growth and change. He has been building winning technology products, businesses, and companies for more than 23 years.
                    </p>

                    <p>
                        Geoff is focused on developing platforms that leverage data and algorithms to target information delivery. He has worked in a variety of industries, including online advertising, education, direct marketing, media, and publishing, and at companies like DoubleClick, The Princeton Review, Donnelley Marketing, and CBS. Geoff began his career in Silicon Valley where he co-founded an Internet Service Provider in 1994 and did pioneering work in the fields of e-commerce, e-business, and ASP solutions.
                    </p>

                    <p>
                        Geoff currently hacks in Python, Django, Node.js, mongodb, and a little bit of Scala, while keeping his head in the clouds with Cloud Foundry and Google App engine.
                    </p>
                </div>
            </div>

            <div class="block-right rob">
                <div class="photo-contact-info">
                    <img src="../assets/img/rob.jpg" alt="THE HACKERATI FOUNDER ABOUT ROB MARANO" id="founder2">
                    <div class="name-contact-info">
                        <h3 class="blue">Rob Marano, Co-Founder</h3>
                        <ul class="fa-ul">
                            <li>
                                <a href="http://www.linkedin.com/in/robmarano" target="blank">
                                    <i class="fa-li fa fa-linkedin"></i>
                                    robmarano
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/robmarano" target="blank">
                                    <i class="fa-li fa fa-twitter"></i>
                                    @robmarano
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/robmarano" target="blank">
                                    <i class="fa-li fa fa-github-alt"></i>
                                    robmarano
                                </a>
                            </li>
                            <li>
                                <a href="mailto:rob@thehackerati.com">
                                    <i class="fa-li fa fa-envelope"></i>
                                    rob@thehackerati.com
                                </a>
                            </li>
                        </ul>
                    </div><!--name-contact-info-->
                </div><!--photo-contact-info-->

                <div class="founder-info">
                    <p>
                        Rob has more than 20 years of technology, sales, marketing and general management experience in the software and tele-communications fields. He has held senior executive positions with both startups and large international companies. A serial entrepreneur, Rob founded InDorse Technologies and Falkin Systems LLC.
                    </p>

                    <p>
                        He was director of emerging software technologies at PricewaterhouseCoopers' (PwC) Global Technology Centres. He also held leadership roles at several successful software startups, including Micromuse (IBM), RiverSoft (IBM), and Voyence (EMC). And he was an actual rocket scientist at Lockheed Martin's Advanced Technology Labs and GE AstroSpace.
                    </p>

                    <p>
                        Rob currently hacks in Java, Python, Node.js, Hadoop, Mahout, and HBase. And in his spare time, he hacks hardware using FPGAs and logic gates.
                    </p>
                </div>
            </div>

        </div><!--/leadership-content-container-->

    </div><!--/section-5-->

</div>

<script type="text/javascript" src="../js/persistent-header.js"></script>
{% include pingdom %}
