---
layout: blog
title: Bit Shift
---

{% include desktop-header.html %}

<div class="all-content">
    <div class="section section1" id="blog-summary">
        <div class="content-container blog-summary-content-container">
            <div class="blog-page-title span10">
                <h2>Bit Shift</h2>
                <p>a community blog by The Hackerati</p>
            </div>   
            {% include blog_toc.html %}
            {% include blog_summary.html %}
            <div class="clearfix"></div> 
        </div>
    </div>
</div>

{% include footer.html %}
