---
layout: blog
title: Bit Shift
---

<div class="blog-content">

    <header>
      <h1>&#123;<a href="/blog">Bit Shift</a>&#125;</h1>
      <span class="blog-sub-title">a blog maintained by <a href="/">The Hackerati</a></span>
      <nav>
        <ul>
          <li><a href="/blog">Home</a> / </li>
          <li> Tech / </li>
          <li> Entrepreneurship / </li>
          <li> Culture</li>
        </ul>
      <div class="clearfix"></div>
      </nav>
    </header>
    <main>
        {% include blog_toc.html %}
        {% include blog_summary.html %}
    <main>
</div>
    {{ include footer.html }}
