@media all {

@font-face {
    font-family: 'AlpacaScarlett';
    src: url('../assets/fonts/Alpaca/Alpaca-Scarlett-v1.1/Alpaca-Scarlett.otf');
    src: url('../assets/fonts/Alpaca/Alpaca-Scarlett-v1.1/Alpaca-Scarlett.otf') format('opentype'),
         url('../assets/fonts/Alpaca/Alpaca-Scarlett-v1.1/Alpaca-Scarlett.ttf') format('truetype');
}

@font-face {
    font-family: 'AlpacaSabotage';
    src: url('../assets/fonts/Alpaca/Extras/Alpaca-Sabotage/Alpaca-Sabotage.otf');
    src: url('../assets/fonts/Alpaca/Extras/Alpaca-Sabotage/Alpaca-Sabotage.otf') format('opentype'),
         url('../assets/fonts/Alpaca/Extras/Alpaca-Sabotage/Alpaca-Sabotage.ttf') format('truetype');
}

@font-face {
    font-family: 'AlpacaSolidify';
    src: url('../assets/fonts/Alpaca/Extras/Alpaca-Solidify/Alpaca-Solidify.otf');
    src: url('../assets/fonts/Alpaca/Extras/Alpaca-Solidify/Alpaca-Solidify.otf') format('opentype'),
         url('../assets/fonts/Alpaca/Extras/Alpaca-Solidify/Alpaca-Solidify.ttf') format('truetype');
}

body {
    width: 100%;
    line-height: 16px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    overflow-x: hidden;
}

a {
    border-bottom: none;
    color: white;
    margin: 0% 3%;
}

a:visited {
    color: white;
}

a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
    color: black;
    cursor: pointer;
}


/* Navbar */
.navbar {
    border: none;
    margin: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 0));
}

.hackathonHeader{
    width:100%;
}

.logo {
    display: inline-block;
    width: 30%;
    padding: 1%;
}

.logo a:hover {
    border: none;
}

.nav-links {
    display: inline-block;
    width: 68%;
    text-align: right;
    vertical-align: middle;
    font: 1.8em/100% 'AlpacaScarlett';
}

/* First section */
.section1 {
    height: 100vh;
    background-color: #68B5D4;
}

.section1 h1 {
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    font: 4.0em/100% 'AlpacaSolidify';
    text-align: center;
    color: white;
    z-index: 1;
}

.section1 p {
    position: absolute;
    top: 43%;
    left: 10%;
    width: 80%;
    font: 1.5em/100% 'AlpacaScarlett';
    text-align: center;
    color: white;
    z-index: 1;
}

.section1 a {
    margin: 0% 5%;
    color: #C1D1AD;
}

.links {
    position: absolute;
    top: 54%;
    left: 25%;
    width: 50%;
    font: 2.5em/100% 'AlpacaScarlett';
    text-align: center;
    color: white;
    z-index: 1;
}

.mountain {
    width:100%;
    height: 100%;
    background: url('../assets/img/hotm/mountain.png') no-repeat;
    background-position: center bottom;
    background-size: 60%;
}

.trees1 {
    width:100%;
    height: 100%;
    background: url('../assets/img/hotm/trees1.png') no-repeat;
    background-position: left bottom;
    background-size: 13%;
    left: 0px;
    bottom: 0px;
    position: absolute;
    margin-left: 15%;
}

.trees2 {
    width:100%;
    height: 100%;
    background: url('../assets/img/hotm/trees2.png') no-repeat;
    background-position: right bottom;
    background-size: 9%;
    right: 0px;
    bottom: 0px;
    position: absolute;
    margin-right: 18%;
}

.cloud {
    width:100%;
    height: 100%;
    background: url('../assets/img/hotm/cloud.png') no-repeat;
    background-position: 0% 100%;
    background-size: 10%;
    left: 0%;
    bottom: 70%;
    position: absolute;
}

#cloud2 {
    bottom: 60%;
}

#cloud3 {
    bottom: 30%;
}

#cloud4 {
    bottom: 18%;
}

/* Second section */
.section2 {
    height: 100vh;
    background-color: #73A9BE;
}

.section2 h3 {
    font: bold 2.5em/100% 'AlpacaScarlett';
    color: white;
}

.section2 p {
    font: 2.0em/100% 'AlpacaScarlett';
    color: white;
}

.seafloor {
    width:100%;
    height: 100%;
    background: url('../assets/img/hotm/seafloor.png') no-repeat;
    background-position: center bottom;
    background-size: 100%;
}

.bubble {
    width:100%;
    height: 100%;
    background: url('../assets/img/hotm/bubble.png') no-repeat;
    background-position: 0% 100%;
    background-size: 2%;
    left: 0%;
    bottom: -100%;
    position: absolute;
    margin: 0;
}

#bubble1 {
    margin-left: 85%;
}

#bubble2 {
    bottom: -104%;
    margin-left: 87%;
}

#bubble3 {
    background-size: 1%;
    bottom: -99%;
    margin-left: 87%;
}

#bubble4 {
    background-size: 1%;
    bottom: -102%;
    margin-left: 87%;
}

#bubble5 {
    background-size: 1%;
    bottom: -103.5%;
    margin-left: 85.5%;
}

#bubble6 {
    margin-left: 34%;
}

#bubble7 {
    bottom: -104%;
    margin-left: 32%;
}

#bubble8 {
    background-size: 1%;
    bottom: -98%;
    margin-left: 33%;
}

#bubble9 {
    background-size: 1%;
    margin-left: 32%;
}

#bubble10 {
    background-size: 1%;
    bottom: -102%;
    margin-left: 33.5%;
}

#bubble11 {
    bottom: -104%;
    margin-left: 1%;
}

#bubble12 {
    background-size: 1%;
    bottom: -105.5%;
    margin-left: 1%;
}

#bubble13 {
    background-size: 1%;
    bottom: -102%;
    margin-left: 1%;
}

#bubble14 {
    background-size: 1.2%;
    bottom: -104%;
    margin-left: 90%;
}

#bubble15 {
    background-size: 0.85%;
    bottom: -102.5%;
    margin-left: 90.5%;
}

#bubble16 {
    background-size: 0.85%;
    bottom: -102%;
    margin-left: 89.5%;
}

.section2 .text-block1 {
    position: absolute;
    top: 115%;
    left: 3%;
    width: 40%;
}

.section2 .text-block2 {
    position: absolute;
    top: 140%;
    left: 48%;
    width: 40%;
}

.section2 .text-block3 {
    position: absolute;
    top: 165%;
    left: 3%;
    width: 40%;
}

/* Third section */
.section3 {
    height: 100vh;
    background-color: #453D3D;
}

.section3 h3 {
    display: inline;
    font: bold 2.0em/100% 'AlpacaScarlett';
    color: inherit;
}

.section3 p {
    display: inline;
    font: 1.5em/100% 'AlpacaScarlett';
    color: inherit;
}

.column {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 0));
    width: 1%;
    height: 100%;
    float: left;
    margin-left: 35%;
}

.lavaline {
    background: url('../assets/img/hotm/lavaline.png') no-repeat;
    background-position: 0% 500%;
    width: 1%;
    height: 100%;
    margin-left: 35%;
    position: absolute;
}

.cthulhu {
    width:100%;
    height: 100%;
    background: url('../assets/img/hotm/cthulhu.png') no-repeat;
    background-position: 85% 30%;
    background-size: 20%;
}

.text-container {
    position: absolute;
    top: 215%;
    left: 40%;
    width: 30%;
}

.text-block {
    margin-bottom: 15%;
}

.sponsors {
    left: 0%;
    bottom: -165%;
    position: absolute;
}

.core {
    width:100%;
    height: 100%;
    background: url('../assets/img/hotm/core.png') no-repeat;
    background-position: 0% 100%;
    background-size: 100% 20%;
    left: 0%;
    bottom: -200%;
    position: absolute;
}

.core h2 {
    bottom: 0;
    left: 25%;
    position: absolute;
    width: 50%;
    height: 15%;
    text-align: center;
    vertical-align: bottom;
    font: 3em/100% 'AlpacaScarlett';
    color: #453D3D;
}

/* Fourth section */
.section4 {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255, 255, 194, 1),  rgba(255, 255, 255, 1) 10%);
    padding: 0;
    min-height: 100px;
    line-height: 30px;
    overflow: visible;
}

.section4 a {
    border: none;
    margin: 0;
}

.section4 img {
    width: 100%;
}

.sponsor-image-links {
    display: inline-block;
    padding-top: 6%;
}

.become-sponsor-link {
    width: 100%;
    margin-top: 5%;
    text-align: center;
    font: 4.0em/100% 'AlpacaScarlett';
}

.become-sponsor-link a:link {
    color: black;
}

.become-sponsor-link a:visited {
    color: black;
}

.become-sponsor-link a:hover {
    border-bottom: 1px solid;
    color: green;
}

}

/* SMARTPHONE
####################################################################*/

@media only screen and (max-width : 479px) {

    /* Navbar */
    .nav-links {
        font: 1.0em/100% 'AlpacaScarlett';
    }

    .logo img {
        width: 100%;
    }

    /* First section */
    .section1 h1 {
        top: 2%;
        left: 0;
        width: 100%;
        font: 2.5em/100% 'AlpacaScarlett';
    }

    .section1 p {
        top: 8%;
        left: 0;
        width: 100%;
    }

    .links {
        top: 15%;
        left: 0;
        width: 100%;
        line-height: 160%;
    }

    .trees1 {
        bottom: 300vh;
    }

    .trees2 {
        bottom: 300vh;
    }

    .cloud {
        height: 100vh;
        background-position: left top;
        top: 2%;
    }

    #cloud2 {
        top: 7%;
    }

    #cloud3 {
        top: 13%;
    }

    #cloud4 {
        top: 21%;
    }

    /* First section */
    .bubble {
        height: 100vh;
        bottom: 200vh;
        background-size: 5%;
    }

    #bubble1 {
        bottom: 199vh;
    }

    #bubble2 {
        bottom: 202vh;
    }

    #bubble3 {
        bottom: 204vh;
        background-size: 3%;
    }

    #bubble4 {
        bottom: 196vh;
        background-size: 3%;
    }

    #bubble5 {
        bottom: 206vh;
        background-size: 3%;
    }

    #bubble6 {
        bottom: 200vh;
    }

    #bubble7 {
        bottom: 203vh;
    }

    #bubble8 {
        bottom: 198vh;
        background-size: 3%;
    }

    #bubble9 {
        bottom: 206vh;
        background-size: 3%;
    }

    #bubble10 {
        bottom: 208vh;
        background-size: 3%;
    }

    #bubble11 {
        bottom: 200vh;
    }

    #bubble12 {
        bottom: 202vh;
        background-size: 3%;
    }

    #bubble13 {
        bottom: 198vh;
        background-size: 3.5%;
    }

    #bubble14 {
        bottom: 202vh;
        background-size: 4%;
    }

    #bubble15 {
        bottom: 204vh;
        background-size: 3%;
    }

    #bubble16 {
        bottom: 200vh;
        background-size: 3%;
    }

}
