{% include blog_entry_head.html %}
  
  <div class="blog-entry-content-container">
        <div class="blue-h-logo-blog">
			<a href="{{ site.url }}/blog/"><img src="{{ site.url }}/assets/img/h-blue.png"></a>
			<div>a blog maintained by</div>
			<div><a href="{{ site.url }}/">The Hackerati</a></div>
			<div><a href="{{ site.url }}/"><img src="{{ site.url }}/assets/img/orange-statue-of-liberty.png"></a></div>
		</div>
        <h1 class="entry-header">&#123;{{ page.title }}&#125;</h1>
        <div class="post-author-info">

            {% for gravatar in page.post_gravatar %}
                <img class= "post-gravatar" src="http://www.gravatar.com/avatar/{{gravatar}}.jpg"/>             
            {% endfor %}

            <p class="post-author"> {{ page.post_author }}</p>

        </div>
      {{ content }}
  </div>
  {% include sharing %}
  {% include comments.html %}

{% include closing-tags.html%}
